<div class="aiz-user-panel">
   <div class="aiz-titlebar mt-2 mb-2">
      <div class="row align-items-center">
         <div class="col-md-6">
            <h1 class="h3">Payment History</h1>
         </div>
      </div>
   </div>
  
<div class="card">
   <div class="card-header row gutters-5">
      <div class="col text-center text-md-left">
         <h5 class="mb-md-0 h6"></h5>
      </div>
   </div>
   <div class="card-body">
      <table class="table aiz-table mb-0" datatable [dtOptions]="dtOptions" class="row-border hover">
         
         <thead>
            <tr>
               <th>#</th>
               <th>Date</th>
               <th>Amount</th>
               <th>Payment Method</th>
              
            </tr>
         </thead>
         <tbody *ngIf="payments?.length != 0">
            <tr *ngFor="let item of payments;let i = index">
               <td>{{i+start_index+1}}</td>
               <td>{{item.created_at | date}}</td>
               <td>{{ item.amount | currency:'à§³'}}</td>
               <td>{{item.payment_method}}<span *ngIf="item.txn_code!=null">TRX ID : {{item.txn_code}}</span></td>
               
            </tr>
         </tbody>
         <tbody *ngIf="payments?.length == 0">
            <tr>
               <td colspan="4" class="no-data-available">No data!</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
</div>

<style>
      ::ng-deep table.dataTable td.dataTables_empty {
      display: none;
      }
      tfoot {
      display: table-row-group;
      }
   </style>
