<div class="modal-header">
  <h4 class="modal-title">UPLOAD</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Browse</a>
    <ng-template ngbNavContent>
      <div class="center">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" [showBrowseBtn]="false" accept="image/*" [multiple]="false" >
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          Optional custom content that replaces the the entire default content.
           <button type="button" (click)="openFileSelector()" class="btn btn-info"> Browse File</button>
        </ng-template>
    </ngx-file-drop>
    
</div>
    </ng-template>
  </li>
  
  
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>  
  </div>
  <div class="modal-footer">
  </div>