<div class="aiz-user-panel">
   <div class="bd_breadcrumbs">
      <ul class="breadcrumbs">
         <li><a href="#">Home</a></li>
         <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
         <li><span>Manage Profile</span></li>
      </ul>
   </div>
   <div class="aiz-titlebar mt-2 mb-2">
      <div class="row align-items-center">
         <div class="col-md-6">
            <h1 class="h3">Manage Profile</h1>
         </div>
      </div>
   </div>
   <form action="" method="POST" [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
      <!-- Basic Info-->
      <div class="card">
         <div class="card-header">
            <h5 class="mb-0 h6">Basic Info</h5>
         </div>
         <div class="card-body">
            <div class="form-group row">
               <label class="col-md-2 col-form-label">Your Name</label>
               <div class="col-md-10">
                  <input type="text" class="form-control" placeholder="Your Name"  formControlName="name"  [ngClass]="{'parsley-error':profileForm.get('name').invalid && IsSubmitted}">
                  <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="profileForm.get('name').invalid && IsSubmitted">
                   <li class="parsley-required">Please Enter Your Name.</li>
                  </ul>
               </div>
            </div>
            <div class="form-group row">
               <label class="col-md-2 col-form-label">Your Phone</label>
               <div class="col-md-10">
                  <input type="text" class="form-control" placeholder="Your Phone" formControlName="phone" appNumericinput  inputmode="numeric" [ngClass]="{'parsley-error':profileForm.get('phone').invalid && IsSubmitted}">
                  <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="profileForm.get('phone').invalid && IsSubmitted">
                   <li class="parsley-required">Please Enter Your 11 Digits Phone No.</li>
                  </ul>
               </div>
            </div>
            <div class="form-group row">
               <label class="col-md-2 col-form-label">Photo</label>
               <div class="col-md-10">
                 <div class="col-md-10">
                    <button type="button" class="btn btn_yellow" (click)="uploadPhoto('image/*',false,'avtar','uploadFile')">UPLOAD PHOTO</button>
                    <div class="file-preview box sm" *ngIf="userDetails.avatar_dtls.id">
                     <div class="d-flex justify-content-between align-items-center mt-2 file-preview-item"  title="{{userDetails.avatar_dtls.file_original_name}}.{{userDetails.avatar_dtls.extension}}">
                        <div class="align-items-center align-self-stretch d-flex justify-content-center thumb"><img src="{{userDetails.avatar_dtls.file_name}}" class="img-fit"></div>
                        <div class="col body">
                           <h6 class="d-flex"><span class="text-truncate title">{{userDetails.avatar_dtls.file_original_name}}</span><span class="ext">.{{userDetails.avatar_dtls.extension}}</span></h6>
                           <p>{{userDetails.avatar_dtls.file_size}} KB</p>
                        </div>
                        <div class="remove"><button class="btn btn-sm btn-link remove-attachment" type="button" (click)="delprofilePhoto()"><i class="la la-close"></i></button></div>
                     </div>
                  </div>   
               </div>  
               </div>
            </div>
            <div class="form-group row">
               <label class="col-md-2 col-form-label">Your Password</label>
               <div class="col-md-10">
                  <input type="password" class="form-control" placeholder="New Password" formControlName="password">
                   <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="profileForm.get('password').invalid && IsSubmitted">
                   <li class="parsley-required">Please enter At least 6 characters password  .</li>
                </ul>
               </div>
            </div>
            <div class="form-group row">
               <label class="col-md-2 col-form-label">Confirm Password</label>
               <div class="col-md-10">
                  <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirm_password" [ngClass]="{'parsley-error':profileForm.get('confirm_password').invalid && IsSubmitted}">
                 <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="profileForm.get('confirm_password').invalid && IsSubmitted">
                   <li class="parsley-required">Password and Confirm Password Doe's not match.</li>
                </ul>
               </div>
              
            </div>
         </div>
      </div>
      <!-- Address -->
      <div class="card">
         <div class="card-header">
            <h5 class="mb-0 h6">Address</h5>
         </div>
         <div class="card-body">
            <div class="row gutters-10">
              
               <div class="col-lg-6" *ngFor="let item of useraddresses;">
                  <div class="border p-3 pr-5 rounded mb-3 position-relative">
                     <div>
                        <span class="w-50 fw-600">City</span>
                        <span class="ml-2">{{item.city}}</span>
                     </div>
                     <div>
                        <span class="w-50 fw-600">Thana:</span>
                        <span class="ml-2">{{item.thana}}</span>
                     </div>
                     <div>
                        <span class="w-50 fw-600">Postal Code:</span>
                        <span class="ml-2">{{item.postal_code}}</span>
                     </div> 
                     <div>
                        <span class="w-50 fw-600">Area:</span>
                        <span class="ml-2">{{item.area}}</span>
                     </div>  
                     <div>
                        <span class="w-50 fw-600">Address:</span>
                        <span class="ml-2">{{item.address}}</span>
                     </div>
                     
                     <div>
                        <span class="w-50 fw-600">Phone</span>
                        <span class="ml-2">{{item.phone}}</span>
                     </div>
                    
                     <div class="position-absolute right-0 bottom-0 pr-2 pb-3" *ngIf="item.set_default">
                        <span class="badge badge-inline badge-primary">Default</span>
                     </div>
                      <div class="dropdown position-absolute right-0 top-0">
                        <button class="btn bg-gray px-2" type="button" data-toggle="dropdown">
                            <i class="la la-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                           
                            <a class="dropdown-item" href="javascript:void(0)" (click)="setdefaultAddr(item.id)" *ngIf="!item.set_default">Make This Default</a>
                            <a class="dropdown-item" href="Delete" href="javascript:void(0)" (click)="delAddress(item.id)" *ngIf="!item.set_default">Delete</a>
                        </div>
                    </div>
                     
                     
                  </div>
               </div>
               
               <div class="col-lg-4 mx-auto" (click)="addAddress(modalData);">
                  <div class="border p-5 rounded mb-3 c-pointer text-center btn_yellow ">
                     <i class="la la-plus la-2x"></i>
                     <div class="alpha-7">Add New Address</div>
                  </div>
               </div>
            </div>
         </div>
      
      <!-- Payment System -->
      <div class="card">
         <div class="card-header">
            <h5 class="mb-0 h6">Payment Setting</h5>
         </div>
         <div class="card-body">
            <div class="row">
               <label class="col-md-3 col-form-label">Cash Payment</label>
               <div class="col-md-9">
                  <label class="aiz-switch aiz-switch-success mb-3">
                  <input value="1" formControlName="cash_on_delivery_status" type="checkbox">
                  <span class="slider round"></span>
                  </label>
               </div>
            </div>
            <div class="row">
               <label class="col-md-3 col-form-label">Bank Payment</label>
               <div class="col-md-9">
                  <label class="aiz-switch aiz-switch-success mb-3">
                  <input value="1" formControlName="bank_payment_status" type="checkbox">
                  <span class="slider round"></span>
                  </label>
               </div>
            </div>
            <div class="row">
               <label class="col-md-3 col-form-label">Bank Name</label>
               <div class="col-md-9">
                  <input type="text" class="form-control mb-3" placeholder="Bank Name" value="" formControlName="bank_name">
               </div>
            </div>
            <div class="row">
               <label class="col-md-3 col-form-label">Bank Account Name</label>
               <div class="col-md-9">
                  <input type="text" class="form-control mb-3" placeholder="Bank Account Name"  formControlName="bank_acc_name">
               </div>
            </div>
            <div class="row">
               <label class="col-md-3 col-form-label">Bank Account Number</label>
               <div class="col-md-9">
                  <input type="text" class="form-control mb-3" placeholder="Bank Account Number"  formControlName="bank_acc_no">
               </div>
            </div>
            <div class="row">
               <label class="col-md-3 col-form-label">Bank Routing Number</label>
               <div class="col-md-9">
                  <input type="number" class="form-control mb-3" placeholder="Bank Routing Number"  formControlName="bank_routing_no">
               </div>
            </div>
         </div>
      </div>
      <div class="form-group mb-4 text-right">
         <button type="submit" class="btn btn_yellow">Update Profile</button>
      </div>
      </div>
   </form>
   <br>
   <!-- Change Email -->
   <form action="" method="POST" [formGroup]="emailForm"  (ngSubmit)="changeEmail()" *ngIf="emailForm">
     
      <div class="card">
         <div class="card-header">
            <h5 class="mb-0 h6">Change your email</h5>
         </div>
         <div class="card-body">
            <div class="row">
               <div class="col-md-2">
                  <label>Your Email</label>
               </div>
               <div class="col-md-10">
                  <div class="input-group mb-3">
                     <input type="email" class="form-control" placeholder="Your Email" formControlName="email" [ngClass]="{'parsley-error':emailForm.get('email').invalid && IsemailSubmit}"/>
                      
                     <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary new-email-verification">
                        <span class="d-none loading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Sending Email...
                        </span>
                        <span class="default">Verify</span>
                        </button>
                         
                     </div>
                   
                  </div>
                    <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="emailForm.get('email').invalid && IsemailSubmit">
                      <li class="parsley-required">Please Enter a valid email address.</li>
                     </ul> 
                  <div class="form-group mb-0 text-right">
                     <button type="submit" class="btn btn_yellow">Update Email</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </form>
</div>
<ng-template #modalData let-modal >
  <div class="modal-header bd_modalheader">
    <h4 class="modal-title" id="modal-basic-title">New Address</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">Ã—</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="addressForm">
    <form class="form-default" role="form" action="" method="POST" [formGroup]="addressForm"  (ngSubmit)="submitAddress()">
                
                <div class="modal-body p-0">
                    <div class="p-3">
                        <div class="row">
                            <div class="col-md-2">
                                <label>City</label>
                            </div>
                            <div class="col-md-10">
                               
                              <ng-select [items]="cities" 
                            placeholder="Select City"   
                            class="mb-2"
                            (change)="populateThana()"   
                            formControlName="city"
                            bindLabel="value" 
                            bindValue="value" [multiple]="false" [clearable]="false">
                            </ng-select>  
                              <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="addressForm.get('city').invalid && IsadSubmit">
                                  <li class="parsley-required">Please Choose city.</li>
                              </ul>  
                              
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Thana</label>
                            </div>
                            <div class="col-md-10">
                             
                             <ng-select [items]="thanas" 
                            [clearable]="false"   
                             class="mb-2"   
                            placeholder="Select Thana"   
                            (change)="populatePostcode()"   
                            formControlName="thana"
                            bindLabel="value" 
                            bindValue="value" [multiple]="false">
                            </ng-select>   
                             <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="addressForm.get('thana').invalid && IsadSubmit">
                                  <li class="parsley-required">Please Choose Thana.</li>
                              </ul> 
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-2">
                                <label>Postal code</label>
                            </div>
                            <div class="col-md-10">
                               
                              <ng-select [items]="postalcodes" 
                                [clearable]="false"   
                                class="mb-2"    
                               placeholder="Select Postal Code"   
                               (change)="populateArea()"   
                               formControlName="postal_code"
                               bindLabel="value" 
                               bindValue="value" [multiple]="false">
                           </ng-select>   
                              <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="addressForm.get('postal_code').invalid && IsadSubmit">
                                  <li class="parsley-required">Please Choose Postal Code.</li>
                              </ul> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Area</label>
                            </div>
                            <div class="col-md-10">
                               
                                <ng-select [items]="areas" 
                                [clearable]="false"    
                                class="mb-3"    
                                placeholder="Select Area"   
                                formControlName="area"
                                bindLabel="value" 
                                bindValue="value" [multiple]="false">
                                </ng-select> 
                              <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="addressForm.get('area').invalid && IsadSubmit">
                                  <li class="parsley-required">Please Choose Area.</li>
                              </ul> 
                            </div>
                        </div>
                            <div class="row">
                            <div class="col-md-2">
                                <label>Address</label>
                            </div>
                            <div class="col-md-10">
                                <textarea class="form-control mb-2" placeholder="Your Address" formControlName="address" [ngClass]="{'parsley-error':addressForm.get('address').invalid && IsadSubmit}"></textarea>
                                <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="addressForm.get('address').invalid && IsadSubmit">
                                  <li class="parsley-required">Please Enter Address.</li>
                              </ul> 
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-2">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control mb-2" placeholder="+880" maxlength="11" appNumericinput  inputmode="numeric" formControlName="phone" [ngClass]="{'parsley-error':addressForm.get('phone').invalid && IsadSubmit}">
                                <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="addressForm.get('phone').invalid && IsadSubmit">
                                  <li class="parsley-required">Please Enter 11 Digits Phone no.</li>
                              </ul> 
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-sm btn_yellow ">Save</button>
                        </div>
                    </div>
                </div>
            </form> 
  </div>
  
</ng-template>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>