<!-- Header -->
<!-- Top Bar -->
<div class="top-navbar bg-white border-soft-secondary z-1035">
    <!-- nab Bar start-->
    <div class="container-fluid c-pad20">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/cliqpack/assets/img/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nevmenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nevmenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/products/group/featured">Featured Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/products/group/biggest-deals">Biggest Deal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/brands">All Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about-us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact-us">Contact Us</a>
                    </li>
                    <li class="nav-item" *ngIf="!log_val">
                        <a class="nav-link" routerLink="/seller-signup">Become a Seller</a>
                    </li>
                </ul>

                <div class="t-right  ml-auto">
                    <ul class="d-flex">
                        <li>ENG</li>
                        <!-- <li><a href="#">USA</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--END nab Bar start-->

    <!--Start search Bar-->
    <div class="search-area">
        <div class="container-fluid p-0">
            <div class="row align-items-center">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <form [formGroup]="searchForm">
                        <div class="input-group mt-3 mb-3">
                            <div class="input-group-prepend">
                                <ul class="navbar-nav ml-left catnav">
                                    <ng-template #nodeTemplateRef let-node="node">
                                        <li #dd="ngbDropdown" class="dropdown-submenu" ngbDropdown [autoClose]="'outside'">
                                            <a *ngIf="node.children.length==0" class="dropdown-item" routerLink="/products/category/{{node.slug}}" (click)="actionClick()">
                                              {{ node.text }}
                                            </a>

                                            <a *ngIf="node.children.length>0" class="dropdown-item" ngbDropdownToggle>
                                              {{ node.text }}
                                            </a>

                                            <ul *ngIf="node.children.length>0" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
                                                <ng-template ngFor [ngForOf]="node.children" let-child>
                                                    <ng-template [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{ node: child }">
                                                    </ng-template>
                                                </ng-template>
                                            </ul>
                                        </li>

                                    </ng-template>

                                    <li #dd="ngbDropdown" class="nav-item dropdown" ngbDropdown [autoClose]="'outside'">
                                        <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                                          All Categories
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
                                            <ng-template ngFor [ngForOf]="menues" let-child>
                                                <ng-template [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{ node: child }">
                                                </ng-template>
                                            </ng-template>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" formControlName="keyword" placeholder="Search for products">
                            <button type="submit" (click)="searchSubmit()" class="btn btn-outline-secondary btn-search">
                              <img src="assets/cliqpack/assets/search.png" alt="">
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3">
                    <ul class="d-flex t-account ml-0">
                        <li>
                            <div class="user-login" id="user_login">
                                <a routerLink="/seller/dashboard" *ngIf="log_val && userDetails.user_type=='seller'"><i class="fa fa-home"></i>Dashboard</a>
                                <a routerLink="/customer/dashboard" *ngIf="log_val && userDetails.user_type=='customer'"><i class="fa fa-home"></i>Dashboard</a>

                            </div>
                        </li>
                        <li>
                            <div class="user-login" id="user_login">
                                <a routerLink="/login" *ngIf="!log_val"><img src="assets/cliqpack/assets/user.png" alt="">Log In</a>
                                <a href="javascript:void(0)" *ngIf="log_val" (click)="logOut()"><i class="la la-user la-2x"></i>Logout</a>
                            </div>
                        </li>


                        <li>

                            <a href="javascript:void(0)" class="position-relative d-flex align-items-center h-100 cart-sec">
                                <i class="la la-shopping-cart la-2x"></i>
                                <span class="flex-grow-1 ml-1">
                                    <span class="badge badge-primary badge-inline badge-pill cart-no" routerLink="/cart" style=" cursor: pointer;">{{total_cart_item}}</span>
                                </span>
                            </a>


                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--END search Bar-->



</div>