<footer>
    <div class="container-fluid t-footer">
        <div class="row">
            <div class="col">
                <h4>Categories</h4>
                <ul>
                    <li><a routerLink="/products/group/featured">Featured Products </a></li>
                    <li><a routerLink="/products/group/biggest-deals">Biggest Deals </a></li>
                    <li><a routerLink="/products/group/flash-sale">Flash Sale</a></li>
                </ul>
            </div>

            <div class="col">
                <h4>Get Help</h4>
                <ul>
                    <li><a routerLink="/privacy-policy">Privacy Policy </a></li>
                    <li><a routerLink="/shipping-delivery">Shipping & Delivery </a></li>
                    <li><a routerLink="/return-policy">Returns </a></li>
                    <li><a routerLink="/payment-options">Payment Options</a></li>
                </ul>
            </div>

            <div class="col">
                <h4>My Account</h4>
                <ul>
                    <li><a routerLink="/customer/dashboard">Dashboard</a></li>
                    <li><a routerLink="/customer/purchase-history">My Orders </a></li>
                    <li><a routerLink="/customer/profile">My Profile </a></li>
                    <li><a routerLink="/customer/wishlist">My Wishlist</a></li>
                </ul>

            </div>
            <div class="col">
                <h4>Link</h4>
                <ul>
                    <li><a routerLink="/">Home </a></li>
                    <li><a routerLink="/about-us">About Us </a></li>
                    <li><a routerLink="/contact-us">Contact Us </a></li>
                    <li><a routerLink="/blogs">Blog </a></li>
                </ul>
            </div>
            <div class="col c-info">
                <img src="assets/cliqpack/assets/f-logo.png" class="f-logo" alt="">
                <!-- <p class="f-time">Open 8:00 AM - Close: 17:00 PM</p> -->
                <!-- <p class="f-des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. L</p> -->

                <ul>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{contactAddres.address}}</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{contactAddres.phone}}">{{contactAddres.phone}}</a></li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{contactAddres.email}}">{{contactAddres.email}}</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container-fluid m-footer">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <h5>Newsletter</h5>
                <p>Receive email-only deals, special offers & product exclusive</p>
            </div>
            <div class="col-lg-3">
                <form [formGroup]="subscribeForm">
                    <div class="form-group">
                        <input formControlName="email" type="email" class="form-control" placeholder="Enter Your Mail..." />
                    </div>
                    <div class="form-group m-0">
                        <button [disabled]="!subscribeForm.valid" (click)="subscribeSubmit($event)" type="submit" class="btn-submit">Subscribe</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4 align-right">
                <h3 class="text-right"><a href="tel:{{contactAddres.phone}}">{{contactAddres.phone}}</a></h3>
                <p class="text-right"><a class="text-white" href="mailto:{{contactAddres.email}}">{{contactAddres.email}}</a></p>
            </div>
        </div>
    </div>


    <div class="b-footer">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <ul class="d-flex f-social">
                        <li>Find us on</li>
                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>
              </a></li>
                        <li><a href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>
              </a></li>
                        <li><a href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <p>&#169; 2021 Cliqpack. | Website designed and developed by
                        <a href="https://ivaninfotech.com/" target="_blank">Ivan Infotech</a></p>
                </div>
                <div class="col-lg-3">
                    <img src="assets/cliqpack/assets/payment.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>