<section class="gry-bg py-5">
    <div class="profile">
        <div class="container">
            <div cla ss="row">
                <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8 mx-auto">
                    <div class="card bd_form">
                        <div class="text-center pt-3 pb-3 bd_formheader">
                            <h1 class="h4 fw-600 mb-0">
                                Login to your account.
                            </h1>
                        </div>

                        <div class="px-4 py-3 py-lg-4">
                            <div class="">
                                <form class="form-default" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <input type="email" class="form-control " value="" placeholder="Email" name="email" formControlName="email">
                                </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control " placeholder="password" name="password"  formControlName="password">
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-6">
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="remember">
                                                <span class="opacity-60">Remember Me</span>
                                                <span class="aiz-square-check"></span>
                                            </label>
                                        </div>
                                        <div class="col-6 text-right">
                                            <a routerLink="/forgot-password" class="text-reset opacity-60 fs-14">Forgot Password?</a>
                                        </div>
                                    </div>

                                    <div class="mb-5">
                                        <button type="submit" class="btn btn_yellow btn-block fw-600">Login</button>
                                    </div>
                                </form>
                                                                </div>
                            <div class="text-center">
                                <p class="text-muted mb-0">Dont have an account?</p>
                                <a [routerLink]="['/register']">Register Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                                </div>
        </div>
    </div>
</section>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>