<div class="aiz-user-sidenav-wrap pt-4 position-relative z-1 shadow-sm" style=" width:300px;">
   <div class="absolute-top-right d-xl-none">
      <button class="btn btn-sm p-2" data-toggle="class-toggle" data-target=".aiz-mobile-side-nav" data-same=".mobile-side-nav-thumb">
      <i class="las la-times la-2x"></i>
      </button>
   </div>
   <div class="absolute-top-left d-xl-none">
      <a class="btn btn-sm p-2" href="#">
      <i class="las la-sign-out-alt la-2x"></i>
      </a>
   </div>
   <div class="aiz-user-sidenav rounded overflow-hidden  c-scrollbar-light">
      <div class="px-4 bd_user mb-4">
         <span class="avatar avatar-md">
         <img src="{{userDetails.profile_img}}">
         </span>
         <h4 class="bd_username">
            <span>Hello</span>   
            {{userDetails.name}}
         </h4>
      </div>
      <div class="sidemnenu mb-3">
         <ul class="aiz-side-nav-list metismenu bd_lftmenu" data-toggle="aiz-side-menu">
            <li class="aiz-side-nav-item mm-active">
               <a routerLink="/customer/purchase-history" class="aiz-side-nav-link " (click)="activeMenu=2" [ngClass]="{'active':activeMenu==2}">
                  <img src="assets/cliqpack/assets/order.png">
                  <span class="aiz-side-nav-text">My Order</span>
               </a>
            </li>
            <li class="aiz-side-nav-item">
               <a href="javascript:void(0)" class="aiz-side-nav-link"  [ngClass]="{'active':activeMenu==10}">
                  <img src="assets/cliqpack/assets/account.png">
                  <span class="aiz-side-nav-text">Account</span>
               </a>
               <ul class="nav_sub_item">
                  <li><a routerLink="/customer/profile" (click)="activeMenu=10">Profile</a></li>
                  <li><a href="#">Address</a></li>
               </ul>
            </li>
            <li class="aiz-side-nav-item">
               <a href="javascript:void(0)" class="aiz-side-nav-link">
                  <img src="assets/cliqpack/assets/pay.png">
                  <span class="aiz-side-nav-text">Payment</span>
               </a>
            </li>
            <li class="aiz-side-nav-item">
               <a href="javascript:void(0)" class="aiz-side-nav-link" [ngClass]="{'active':activeMenu==3}">
                  <img src="assets/cliqpack/assets/order.png">
                  <span class="aiz-side-nav-text">Others</span>
               </a>
               <ul class="nav_sub_item">
                  <li><a href="javascript:void(0)">Review & Ratings</a></li>
                  <li><a href="javascript:void(0)">All Notifications</a></li>
                  <li><a routerLink="/customer/wishlist" (click)="activeMenu=3" >My Wishlist</a></li>
               </ul>
            </li>
           
         </ul>
      </div>
     
   </div>
</div>

