<div class="aiz-main-wrapper d-flex flex-column">
    <section class="mb-4 pt-3">
        <div class="container-fluid">
            <div class="bd_breadcrumbs">
                <ul class="breadcrumbs">
                    <li>
                        <a routerLink="/">Home <i aria-hidden="true" class="fa fa-angle-right" style="margin-right:2px;margin-left:10px;"></i></a>
                    </li>
                    <li>
                        <a routerLink="/blogs">Blogs <i aria-hidden="true" class="fa fa-angle-right" style="margin-right:2px;margin-left:10px;"></i></a>
                    </li>
                    <li *ngIf="blogDetails != null">
                        <span>{{blogDetails.name}}</span>
                    </li>
                </ul>
            </div>
            <section class="h-blog p-0 pb-4 bg-transparent shadow-none">
                <div class="row">
                    <div class="col-md-7" *ngIf="blogDetails != null">
                        <div class="bd_blogdetails">
                            <div class="bd_blogimg">
                                <img src="{{blogDetails.image}}" alt="">
                            </div>
                            <div class="bd_bloginfo">
                                <h5><a class="text-warning" routerLink="/blog-categories/{{item.cati.id}}/{{item.cati.slug}}">{{item.category}}</a></h5>
                                <h2>{{blogDetails.name}}</h2>
                                <div class="b-date">
                                    <span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{blogDetails.created_at}}</span>
                                    <!-- <span><i class="fa fa-comments-o" aria-hidden="true"></i> 32 Comments</span> -->
                                </div>
                                <p [innerHtml]="blogDetails.content"></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="recent_postsec" *ngIf="blogCategories.length > 0">
                            <div class="haeding">
                                <h2>Categories</h2>
                            </div>
                            <div class="recent_post">
                                <ul>
                                    <li class="blog-cat-sidebar" *ngFor="let item of blogCategories">
                                        <a routerLink="/blog-categories/{{item.id}}/{{item.slug}}"> {{item.name}}</a>
                                        <span class="badge pull-right badge-primary">{{item.total_items}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="recent_postsec mt-5" *ngIf="relatedBlogs.length > 0">
                            <div class="haeding">
                                <h2>Related Posts</h2>
                            </div>
                            <div class="recent_post">
                                <div class="d-flex blog-box mb-4" *ngFor="let item of relatedBlogs">
                                    <div class="blog-img">
                                        <img src="{{item.image}}" alt="">
                                    </div>
                                    <div class="blog-content">
                                        <h5>{{item.category}}</h5>
                                        <h4>{{item.name}}</h4>
                                        <div class="b-date">
                                            <span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{item.created_at}}</span>
                                            <!-- <span><i class="fa fa-comments-o" aria-hidden="true"></i> 32 Comments</span> -->
                                        </div>
                                        <p [innerHtml]="item.content"></p>
                                        <a routerLink="/blog-details/{{item.id}}/{{item.slug}}" class="b-btn">View Details <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>