<div class="aiz-user-panel">
   <div class="bd_breadcrumbs">
      <ul class="breadcrumbs">
         <li><a href="#">Home</a></li>
         <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
         <li><span>Order Details</span></li>
      </ul>
   </div>
   <div class="aiz-titlebar mt-2 mb-2">
      <div class="row align-items-center">
         <div class="col-md-6">
            <h1 class="h3">Order Details</h1>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-body" *ngIf="orderDetails">  
            <div class="card-header row gutters-5">
               <div class="col text-center text-md-left">
               </div>
               <div class="col-md-3 ml-auto">
                  <label>Order Status:</label>
                  <select class="form-control" [(ngModel)]="approval" (change)="changeOrderstatus()" *ngIf="userDetails.user_type=='seller' && approval==''" >
                      <option value="">Approve order status</option>
                      <option value="1">Approved</option>
                      <option value="0">Reject</option>
                  </select>
                  <span *ngIf="userDetails.user_type=='customer' || approval!=''"> {{current_order_status}}</span>
               </div>
            </div>
            <div class="card-body">
               <div class="card-header align-items-start row gutters-6">
                  <div class="col-md-6 text-center text-md-left bd_customeradd">
                     <address>
                        <strong class="text-main">{{ orderDetails.shipping_address.name | uppercase }}</strong><br>
                        {{ orderDetails.shipping_address.email }}<br>
                        {{ orderDetails.shipping_address.phone }}<br>
                        {{ orderDetails.shipping_address.address }}, {{ orderDetails.shipping_address.city }}, {{orderDetails.shipping_address.postal_code }}<br>
                        {{ orderDetails.shipping_address.country }}
                     </address>
                    
                  </div>
                  <div class="col-md-6 ml-auto">
                     <table>
                        <tbody>
                           <tr>
                              <td class="text-main text-bold">Order #</td>
                              <td class="text-right text-info text-bold">{{ orderDetails.code }}</td>
                           </tr>
                           <tr>
                              <td class="text-main text-bold">Order Date	</td>
                              <td class="text-right">{{ orderDetails.date }}</td>
                           </tr>
                           <tr>
                              <td class="text-main text-bold">Shipping Amount </td>
                              <td class="text-right">
                                 {{ orderDetails.net_shipping_cost | currency:'৳' }}
                              </td>
                           </tr>
                          
                           <tr *ngIf="orderDetails.coupon_discount">
                              <td class="text-main text-bold">Coupon Discount </td>
                              <td class="text-right">
                                 {{ orderDetails.coupon_discount | currency:'৳'  }}
                              </td>
                           </tr>
                          
                           <tr>
                              <td class="text-main text-bold">Total Amount	</td>
                              <td class="text-right">
                                 {{ orderDetails.grand_total | currency:'৳' }}
                              </td>
                           </tr>
                           <tr>
                              <td class="text-main text-bold">Payment method</td>
                              <td class="text-right">{{ orderDetails.payment_type | uppercase }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <hr class="new-section-sm bord-no">
               <div class="row">
                  <div class="col-lg-12 table-responsive">
                     <table class="table table-bordered invoice-summary">
                        <thead>
                           <tr class="bg-trans-dark">
                              <th class="min-col">#</th>
                              <th>Order Status</th>
                              <th>Photo</th>
                              <th class="text-uppercase">Description</th>
                              <th class="text-uppercase">Courier Id</th>
                              <th class="text-uppercase">Seller</th>

                              <th class="min-col text-center text-uppercase">Qty</th>
                              <th class="min-col text-center text-uppercase">Price</th>
                              <th class="min-col text-center text-uppercase">Shipping</th>
                              <th class="min-col text-right text-uppercase">Total</th>
                           </tr>
                        </thead>
                        <tbody>
                          
                           <tr *ngFor="let neworder of orderDetails.order_details;let $key = index">
                              <td>{{ $key+1 }} </td>
                               <td><span class="badge badge-inline btn_yellow"><a href="javascript:void(0)" style=" cursor: pointer !important;">{{neworder.delivery_status | uppercase}}</a></span> 
                                  
                        <ng-template #popContent>
                                 <p>Ordered:              {{neworder.order_text}}</p>
                                 <p>Processed:           {{neworder.processed_text}}</p>
                                 <p>Shipped:             {{neworder.shipped_text}}</p>
                                 <p>Delivered:           {{neworder.delivered_text}}</p>
                        </ng-template>
                                <ng-template #popTitle>
                                Status
                                </ng-template>
                                <a [ngbPopover]="popContent" [popoverTitle]="popTitle"  placement="right">
                                  Check Status
                                </a>
                              </td>
                            
                              <td>
                                 <a href="" target="_blank"><img height="50" src="{{neworder.product.thumbnail_img}}"></a>
                                 
                              </td>
                              <td>
                                
                                 <strong><a href="javascript:void(0)" target="_blank" class="text-muted">{{ neworder.product.name }}</a></strong>
                                 <small>{{ neworder.product.variation }}</small>
                                
                              </td>
                              <td>
                                 {{ neworder.courierid }}  <b>({{neworder.couriertype}})</b>
                              </td>
                              <td>{{ neworder.seller }}</td>

                              <td class="text-center">{{ neworder.quantity }}</td>
                              <td class="text-center">{{ (neworder.price/neworder.quantity) | currency:'৳' }}</td>
                              <td class="text-center">{{ neworder.shipping_cost | currency:'৳' }}</td>
                              <td class="text-center">{{ neworder.total_row_cost | currency:'৳' }}</td>
                           </tr>
                         
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10" style="text-align:center"><a _ngcontent-sqw-c120="" href="javascript:void(0)" routerLink="/seller/order" class="btn btn_yellow d-inline-block">Back</a></td>
                            </tr>
                        </tfoot>
                     </table>
                  </div>
               </div>
            </div>
         
      </div>
   </div>
  
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<style>
     table tbody td:nth-child(2) a{ cursor:pointer !important;}
</style>    