<section class="gry-bg py-4">
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8 mx-auto">
                    <div class="card">
                        <div class="text-center pt-4">
                            <h1 class="h4 fw-600">
                                Reset Password.
                            </h1>
                        </div>
                        <div class="px-4 py-3 py-lg-4">
                            
                                <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
                                   
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password"
                                            formControlName="password" [ngClass]="{'parsley-error':regForm.get('password').invalid && IsSubmitted}">
                                            <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="regForm.get('password').invalid && IsSubmitted" >
                                            <li class="parsley-required">Please Enter At least 6 digit Password.</li>
                                         </ul> 
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password"
                                            formControlName="password_confirmation" [ngClass]="{'parsley-error':regForm.get('password_confirmation').invalid && IsSubmitted}">
                                           <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="regForm.get('password_confirmation').invalid && IsSubmitted">
                                            <li class="parsley-required">Please Enter Confirm  Password Same as password.</li>
                                         </ul>  
                                    </div>


                                   

                                    <div class="mb-5">
                                        <button type="submit" class="btn btn-primary btn-block fw-600">Reset</button>
                                    </div>
                                </form>
                            </div>
                            <div class="text-center">
                                <p class="text-muted mb-0">Already have an account?</p>
                                <a [routerLink]="['/login']">Log In</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    
</section>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>