<div class="aiz-user-panel">
   <div class="bd_breadcrumbs">
      <ul class="breadcrumbs">
         <li><a href="#">Home</a></li>
         <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
         <li><span>Products</span></li>
      </ul>
   </div>
   <div class="aiz-titlebar mt-2 mb-2">
      <div class="row align-items-center">
         <div class="col-md-6">
            <h1 class="h3">Products</h1>
         </div>
      </div>
   </div>
   <div class="col-md-4 mx-auto mb-3" >

    <a routerLink="/seller/product-upload">

      <div class="p-3 rounded mb-3 c-pointer text-center bg-white shadow-sm hov-shadow-lg has-transition">

          <span class="size-60px rounded-circle mx-auto btn_yellow d-flex align-items-center justify-content-center mb-3">

              <i class="las la-plus la-3x text-white"></i>

          </span>

          <div class="fs-18 text-primary">Add New Product</div>

      </div>

    </a>

</div>
<div class="card">
   <div class="card-header row gutters-5">
      <div class="col text-center text-md-left">
         <h5 class="mb-md-0 h6">All Products</h5>
      </div>
   </div>
   <div class="card-body bd_table">
      <table class="table aiz-table mb-0 bd_tablewi" datatable [dtOptions]="dtOptions" class="row-border hover">
         <tfoot>
            <tr>
               <td></td>
               <td><input type="text" name="form-control" [(ngModel)]="searchForm.name"></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
            </tr>
         </tfoot>
         <thead>
            <tr>
               <th>#</th>
               <th width="30%">Name</th>
               <th data-breakpoints="md">Category</th>
               <th data-breakpoints="md">Current Qty</th>
               <th>Base Price</th>
               <th data-breakpoints="md">Published</th>
               <th data-breakpoints="md">Featured</th>
               <th width="150px" data-breakpoints="md" class="text-center">Options</th>
            </tr>
         </thead>
         <tbody *ngIf="products?.length != 0">
            <tr *ngFor="let item of products;let i = index">
               <td>{{i+start_index+1}}</td>
               <td>{{item.name}}</td>
               <td>{{item.category}}</td>
               <td>{{item.qty}}</td>
               <td>{{ item.unit_price | currency:'৳' }}</td>
               <td>{{ item.published?'Yes':'No' }}</td>
               <td>
                  <label class="aiz-switch aiz-switch-success mb-0">
                  <input   type="checkbox"  [checked]="item.featured" value='1' (click)="setFeatured(item)">
                  <span class="slider round"></span>
                  </label>
               </td>
               <td>
                  <a class="btn btn-soft-info btn-icon btn-circle btn-sm" routerLink="/seller/product-edit/{{item.id}}" title="Edit">
                  <i class="las la-edit"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-soft-success btn-icon btn-circle btn-sm"  title="Duplicate">
                  <i class="las la-copy"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-soft-danger btn-icon btn-circle btn-sm confirm-delete" title="Delete" (click)="deleteProduct(item.id)">
                  <i class="las la-trash"></i>
                  </a>
               </td>
            </tr>
         </tbody>
         <tbody *ngIf="products?.length == 0">
            <tr>
               <td colspan="8" class="no-data-available">No data!</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
</div>

<style>
      ::ng-deep table.dataTable td.dataTables_empty {
      display: none;
      }
      tfoot {
      display: table-row-group;
      }
   </style>
