<div class="aiz-main-wrapper d-flex flex-column" *ngIf="product">
   <section class="mb-4 pt-3">
      <div class="container">
         <div class="bg-white shadow-sm rounded p-3">
            <div class="row">
               <div class="col-xl-5 col-lg-6">
                  <div class="sticky-top z-3 row gutters-10 flex-row-reverse"  *ngFor="let pro_image of product.photos">
                     <div class="col">
                        <div class="aiz-carousel product-gallery" data-nav-for='.product-gallery-thumb' data-fade='true'>
                           <div class="carousel-box img-zoom rounded">
                              <img class="img-fluid mw-100" src="{{pro_image.file_name}}">
                           </div>
                        </div>
                     </div>
                     <div class="col-auto w-80px">
                        <div class="aiz-carousel carousel-thumb product-gallery-thumb" data-items='5' data-nav-for='.product-gallery' data-vertical='true' data-focus-select='true' data-arrows='true'>
                           <div class="carousel-box c-pointer border p-1 rounded">
                              <img class="lazyload mw-100 size-50px mx-auto" src="{{pro_image.file_name}}">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                
               <div class="col-xl-7 col-lg-6" >
                  <div class="text-left">
                     <h1 class="mb-2 fs-20 fw-600">
                        {{product.name}}
                     </h1>
                     <div class="row align-items-center">
                        <div class="col-6">
                        </div>
                        <div class="col-6 text-right">
                           <span class="badge badge-md badge-inline badge-pill badge-success">In stock</span>                                   
                        </div>
                     </div>
                     <hr>
                     <div class="row align-items-center">
                        <div class="col-auto">
                           <small class="mr-2 opacity-50">Sold By: </small><br>
                           {{sellerinfo.name}}
                        </div>
                        <div class="col-auto">
                           <button class="btn btn-sm btn-soft-primary" >Message Seller</button>
                        </div>
                        <div class="col-auto">
                           <img src="{{sellerinfo.profileimage}}" *ngIf="sellerinfo.profileimage!=null" alt="Raymond" height="30">
                        </div>
                     </div>
                     <hr>
                     <div class="row no-gutters mt-3">
                        <div class="col-sm-2">
                           <div class="opacity-50 my-2">Price:</div>
                        </div>
                        <div class="col-sm-10">
                           <div class="">
                              <strong class="h2 fw-600 text-primary">
                              {{product.unit_price | currency:'৳'}}
                              </strong>
                              <span class="opacity-70">/{{product.availableQty}}</span>
                           </div>
                        </div>
                     </div>
                     <span class="rating">
                      <ngb-rating [(rate)]="product.avg_rating" [(max)]="maxRating" [(readonly)]="ratingReadonly">
                                                        <ng-template let-fill="fill" let-index="index">
                                                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                                        </ng-template>
                                                       </ngb-rating>
                     </span>
                     <div class="row no-gutters mt-4">
                        <div class="col-sm-2">
                           <div class="opacity-50 my-2">
                              Delivery
                           </div>
                        </div>
                        <div class="col-sm-10">
                           <input type="text" placeholder="Delivery to"/>
                        </div>
                     </div>
                     <hr>
                     <form id="option-choice-form" [formGroup]="variantForm && variantForm.get('variants')">
                         <div class="row no-gutters" *ngFor="let item of variantForm.get('variants')['controls'] let i = index;" [formGroupName]="i">
                           <div class="col-sm-2">
                              <div class="opacity-50 my-2">{{variantForm.controls.variants.controls[i].controls.name.value}}</div>
                           </div>
                           <div class="col-sm-10">
                              <div class="aiz-radio-inline">
                                 <label class="aiz-megabox pl-0 mr-2" *ngFor="let item1 of variantForm.controls.variants.controls[i].controls.options.value">
                                 <input
                                    type="radio"
                                    formControlName="select_value"
                                   id="{{item1}}"
                                   value="{{item1}}"
                                    >
                                 <span class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center py-2 px-3 mb-2">
                                 {{item1}}
                                 </span>
                                 </label>
                                
                              </div>
                           </div>
                        </div>
                      
                        <div class="row no-gutters">
                           <div class="col-sm-2">
                              <div class="opacity-50 my-2">Color:</div>
                           </div>
                           <div class="col-sm-10">
                              <div class="aiz-radio-inline">
                                 <label class="aiz-megabox pl-0 mr-2" data-toggle="tooltip" data-title="{{item.name}}" *ngFor="let item of product.colors">
                                 <input
                                    type="radio"
                                    
                                    value="{{item.name}}"
                                    id="{{item.name}}" 
                                    >
                                 <span class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center p-1 mb-2">
                                 <span class="size-30px d-inline-block rounded" style="background: {{item.code}};"></span>
                                 </span>
                                 </label>
                               
                              </div>
                           </div>
                        </div>
                        <hr>
                        <!-- Quantity + Add to cart -->
                        <div class="row no-gutters">
                           <div class="col-sm-2">
                              <div class="opacity-50 my-2">Quantity:</div>
                           </div>
                           <div class="col-sm-10">
                              <div class="product-quantity d-flex align-items-center">
                                 <div class="row no-gutters align-items-center aiz-plus-minus mr-3" style="width: 130px;">
                                    <button class="btn col-auto btn-icon btn-sm btn-circle btn-light" type="button" data-type="minus" data-field="quantity" (click)="changeQty(0)" [disabled]="min_qty<=product.min_qty">
                                    <i class="las la-minus"></i>
                                    </button>
                                    <input type="text" name="quantity" class="col border-0 text-center flex-grow-1 fs-16 input-number" placeholder="1"   readonly>
                                    <button class="btn  col-auto btn-icon btn-sm btn-circle btn-light" type="button" data-type="plus" data-field="quantity" (click)="changeQty(1)">
                                    <i class="las la-plus"></i>
                                    </button>
                                 </div>
                                  <div class="avialable-amount opacity-60" *ngIf="product.availableQty>0">(<span id="available-quantity">{{product.availableQty}}</span> available)</div>
                                  <div class="avialable-amount opacity-60" *ngIf="product.availableQty==0">(<span id="available-quantity">Out of</span> Stock)</div>

                              </div>
                           </div>
                        </div>
                        <hr>
                        <div class="row no-gutters pb-3 d-none" id="chosen_price_div">
                           <div class="col-sm-2">
                              <div class="opacity-50 my-2">Total Price:</div>
                           </div>
                           <div class="col-sm-10">
                              <div class="product-price">
                                 <strong id="chosen_price" class="h4 fw-600 text-primary">
                                 </strong>
                              </div>
                           </div>
                        </div>
                     </form>
                     <div class="mt-3">
                        <button type="button" class="btn btn-soft-primary mr-2 add-to-cart fw-600" onclick="addToCart()">
                        <i class="las la-shopping-bag"></i>
                        <span class="d-none d-md-inline-block"> Add to cart</span>
                        </button>
                         <button type="button" class="btn btn-primary buy-now fw-600" *ngIf="product.availableQty>0">
                        <i class="la la-shopping-cart"></i> Buy Now
                        </button>
                     </div>
                     <div class="row no-gutters mt-4">
                        <div class="col-sm-2">
                           <div class="opacity-50 my-2">Share:</div>
                        </div>
                        <div class="col-sm-10">
                           <div class="aiz-share"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="mb-4">
      <div class="container">
         <div class="row gutters-10">
            <div class="col-xl-3 order-1 order-xl-0">
               <div class="bg-white shadow-sm mb-3">
                 <div class="position-relative p-3 text-left">


                                <div class="absolute-top-right p-2 bg-white z-1" *ngIf="product.added_by=='seller' && product.vendor_system_activation &&  product.sellerinfo.verification_status">

                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" viewBox="0 0 287.5 442.2" width="22" height="34">

                                        <polygon style="fill:#F8B517;" points="223.4,442.2 143.8,376.7 64.1,442.2 64.1,215.3 223.4,215.3 "/>

                                        <circle style="fill:#FBD303;" cx="143.8" cy="143.8" r="143.8"/>

                                        <circle style="fill:#F8B517;" cx="143.8" cy="143.8" r="93.6"/>

                                        <polygon style="fill:#FCFCFD;" points="143.8,55.9 163.4,116.6 227.5,116.6 175.6,154.3 195.6,215.3 143.8,177.7 91.9,215.3 111.9,154.3

                                        60,116.6 124.1,116.6 "/>

                                    </svg>

                                </div>

                          

                            <div class="opacity-50 fs-12 border-bottom">Sold By</div>


                                <a href="javascript:void(0)" class="text-reset d-block fw-600" *ngIf="product.added_by=='seller' && product.vendor_system_activation">

                                    {{ product.sellerinfo.shop_name }}


                                        <span class="ml-2" *ngIf="product.sellerinfo.verification_status"><i class="fa fa-check-circle" style="color:green" ></i></span>


                                        <span class="ml-2" *ngIf="!product.sellerinfo.verification_status"><i class="fa fa-times-circle" style="color:red"></i></span>


                                </a>

                                <div class="location opacity-70">{{ product.sellerinfo.address }}</div>

                            

                                <div class="fw-600" *ngIf="product.added_by!='seller' || !product.vendor_system_activation">{{ product.APP_NAME }}</div>

                           

                           


                            <div class="text-center border rounded p-2 mt-3">

                                <div class="rating">

                                <ngb-rating [(rate)]="product.avg_rating" [(max)]="maxRating" [(readonly)]="ratingReadonly">
                                                        <ng-template let-fill="fill" let-index="index">
                                                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                                        </ng-template>
                                                       </ngb-rating>    

                                </div>

                                <div class="opacity-60 fs-12">({{ product.reviews.length }} Customer Reviews)</div>

                            </div>

                        </div>

                       

                            <div class="row no-gutters align-items-center border-top" *ngIf="product.added_by=='seller' && product.vendor_system_activation">

                                <div class="col">

                                    <a href="javascript:void(0)" class="d-block btn btn-soft-primary rounded-0">Visit Store</a>

                                </div>

                                <div class="col">

                                    <ul class="social list-inline mb-0">

                                        <li class="list-inline-item mr-0">

                                            <a href="{{product.sellerinfo.facebook }}" class="facebook" target="_blank">

                                                <i class="fa fa-facebook opacity-60"></i>

                                            </a>

                                        </li>

                                        <li class="list-inline-item mr-0">

                                            <a href="{{ product.sellerinfo.google }}" class="google" target="_blank">

                                               <i class="fa fa-google-plus opacity-60"></i>  

                                            </a>

                                        </li>

                                        <li class="list-inline-item mr-0">

                                            <a href="{{ product.sellerinfo.twitter }}" class="twitter" target="_blank">

                                                <i class="fa fa-twitter opacity-60"></i>

                                            </a>

                                        </li>

                                        <li class="list-inline-item">

                                            <a href="{{ product.sellerinfo.youtube }}" class="youtube" target="_blank">

                                                <i class="fa fa-youtube opacity-60"></i>

                                            </a>

                                        </li>

                                    </ul>

                                </div>

                            </div>

                        
               </div>
               <div class="bg-white rounded shadow-sm mb-3">
                  <div class="p-3 border-bottom fs-16 fw-600">
                     Top Selling Products
                  </div>
                  <div class="p-3">
                     <ul class="list-group list-group-flush">
                        <li class="py-3 px-0 list-group-item border-light">
                           <div class="row gutters-10 align-items-center">
                              <div class="col-5">
                                 <a href="#" class="d-block text-reset">
                                 <img
                                    class="img-fit lazyload h-xxl-110px h-xl-80px h-120px"
                                    src="https://via.placeholder.com/150">
                                 </a>
                              </div>
                              <div class="col-7 text-left">
                                 <h4 class="fs-13 text-truncate-2">
                                    <a href="https://dev1.ivantechnology.in/cliqpack/product/my-t-shirt-cb9ka" class="d-block text-reset">My T-Shirt</a>
                                 </h4>
                                 <div class="rating rating-sm mt-1">
                                    <i class = 'las la-star active'></i><i class = 'las la-star active'></i><i class = 'las la-star active'></i><i class = 'las la-star'></i><i class = 'las la-star'></i>
                                 </div>
                                 <div class="mt-2">
                                    <span class="fs-17 fw-600 text-primary">৳109.989</span>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-xl-9 order-0 order-xl-1">
               <div class="bg-white mb-3 shadow-sm rounded">
                  <div class="nav border-bottom aiz-nav-tabs">
                     <a href="#tab_default_1" data-toggle="tab" class="p-3 fs-16 fw-600 text-reset active show">Description</a>
                     <a href="#tab_default_2" data-toggle="tab" class="p-3 fs-16 fw-600 text-reset">Video</a>
                     <a href="#tab_default_4" data-toggle="tab" class="p-3 fs-16 fw-600 text-reset">Reviews</a>
                  </div>
                  <div class="tab-content pt-0">
                     <div class="tab-pane fade active show" id="tab_default_1">
                        <div class="p-4">
                           <div class="mw-100 overflow-hidden text-left" [innerHTML]="product.description">
                            
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane fade" id="tab_default_2">
                        <div class="p-4">
                           <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5qap5aO4i9A"></iframe>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane fade" id="tab_default_3">
                        <div class="p-4 text-center ">
                           <a href="" class="btn btn-primary">Download</a>
                        </div>
                     </div>
                     <div class="tab-pane fade" id="tab_default_4">
                        <div class="p-4">

                                    <ul class="list-group list-group-flush">

                                        

                                            <li class="media list-group-item d-flex" *ngFor="let item of product.reviews">

                                                <span class="avatar avatar-md mr-3">

                                                    <img

                                                        class="lazyload"

                                                        src="{{item.user.profile_photo}}"

                                                      
                                                    >

                                                </span>

                                                <div class="media-body text-left">

                                                    <div class="d-flex justify-content-between">

                                                        <h3 class="fs-15 fw-600 mb-0">{{ item.user.reviewer_name }}</h3>

                                                        <span class="rating rating-sm">
                                                        <ngb-rating [(rate)]="item.rating" [(max)]="maxRating" [(readonly)]="ratingReadonly">
                                                        <ng-template let-fill="fill" let-index="index">
                                                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                                        </ng-template>
                                                       </ngb-rating>    
                                                           

                                                        </span>

                                                    </div>

                                                    <div class="opacity-60 mb-2">{{ item.created_at | date }}</div>

                                                    <p class="comment-text">

                                                        {{ item.comment }}

                                                    </p>

                                                </div>

                                            </li>

                                       

                                    </ul>



                                   

                                        <div class="text-center fs-18 opacity-70" *ngIf="product.reviews.length==0">

                                            There have been no reviews for this product yet.

                                        </div>

                                   



                                   

                                            <div class="pt-4" *ngIf="product.commentable">

                                                <div class="border-bottom mb-4">

                                                    <h3 class="fs-17 fw-600">

                                                       Write a review

                                                    </h3>

                                                </div>

                                                <form class="form-default" role="form"  method="POST">

                                                    


                                                    <div class="row">

                                                        <div class="col-md-6">

                                                            <div class="form-group">

                                                                <label for="" class="text-uppercase c-gray-light">Your name</label>

                                                                <input type="text" name="name" value="" class="form-control" disabled>

                                                            </div>

                                                        </div>

                                                        <div class="col-md-6">

                                                            <div class="form-group">

                                                                <label for="" class="text-uppercase c-gray-light">Email</label>

                                                                <input type="text" name="email" value="" class="form-control"  disabled>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label class="opacity-60">Rating</label>

                                                        

                                                    </div>



                                                    <div class="form-group">

                                                        <label class="opacity-60">Comment</label>

                                                        <textarea class="form-control" rows="4" name="comment" placeholder="Your review"></textarea>

                                                    </div>



                                                    <div class="text-right">

                                                        <button type="submit" class="btn btn-primary mt-3">

                                                            Submit Review

                                                        </button>

                                                    </div>

                                                </form>

                                            </div>

                                        

                                </div>
                     </div>
                  </div>
               </div>
               <div class="bg-white rounded shadow-sm">
                  <div class="border-bottom p-3">
                     <h3 class="fs-16 fw-600 mb-0">
                        <span class="mr-4">Related products</span>
                     </h3>
                  </div>
                  <div class="p-3">
                     <div class="aiz-carousel gutters-5 half-outside-arrow" data-items="5" data-xl-items="3" data-lg-items="4"  data-md-items="3" data-sm-items="2" data-xs-items="2" data-arrows='true' data-infinite='true'>
                        <div class="carousel-box">
                           <div class="aiz-card-box border border-light rounded hov-shadow-md my-2 has-transition">
                              <div class="">
                                 <a href="#" class="d-block">
                                 <img class="img-fit lazyload mx-auto h-140px h-md-210px" src="https://via.placeholder.com/150">
                                 </a>
                              </div>
                              <div class="p-md-3 p-2 text-left">
                                 <div class="fs-15">
                                    <del class="fw-600 opacity-50 mr-1">৳250.500</del>
                                    <span class="fw-700 text-primary">৳249.999</span>
                                 </div>
                                 <div class="rating rating-sm mt-1">
                                    <i class = 'las la-star'></i><i class = 'las la-star'></i><i class = 'las la-star'></i><i class = 'las la-star'></i><i class = 'las la-star'></i>
                                 </div>
                                 <h3 class="fw-600 fs-13 text-truncate-2 lh-1-4 mb-0 h-35px">
                                    <a href="#" class="d-block text-reset">my Towel</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-box">
                           <div class="aiz-card-box border border-light rounded hov-shadow-md my-2 has-transition">
                              <div class="">
                                 <a href="https://dev1.ivantechnology.in/cliqpack/product/my-shervani-zqfar" class="d-block">
                                 <img
                                    class="img-fit lazyload mx-auto h-140px h-md-210px"
                                    src="https://via.placeholder.com/150"
                                    data-src="https://dev1.ivantechnology.in/cliqpack/public/uploads/all/G7RKPJ8LIV5flpwcQLEdITb4evnecxf0qb6Acq0q.jpg"
                                    alt="my Shervani"
                                    onerror="this.onerror=null;this.src='https://dev1.ivantechnology.in/cliqpack/public/assets/img/placeholder.jpg';"
                                    >
                                 </a>
                              </div>
                              <div class="p-md-3 p-2 text-left">
                                 <div class="fs-15">
                                    <del class="fw-600 opacity-50 mr-1">৳5,500.000</del>
                                    <span class="fw-700 text-primary">৳4,950.000</span>
                                 </div>
                                 <div class="rating rating-sm mt-1">
                                    <i class = 'las la-star active'></i><i class = 'las la-star active'></i><i class = 'las la-star active'></i><i class = 'las la-star active'></i><i class = 'las la-star'></i>
                                 </div>
                                 <h3 class="fw-600 fs-13 text-truncate-2 lh-1-4 mb-0 h-35px">
                                    <a href="https://dev1.ivantechnology.in/cliqpack/product/my-shervani-zqfar" class="d-block text-reset">my Shervani</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-box">
                           <div class="aiz-card-box border border-light rounded hov-shadow-md my-2 has-transition">
                              <div class="">
                                 <a href="https://dev1.ivantechnology.in/cliqpack/product/my-tshurt-vio84" class="d-block">
                                 <img
                                    class="img-fit lazyload mx-auto h-140px h-md-210px"
                                    src="https://via.placeholder.com/150"
                                    data-src="https://dev1.ivantechnology.in/cliqpack/public/uploads/all/Xdxvmqh6DCiZIJu58JKYyxYy152W5cxfsQMDO1Dw.jpg"
                                    alt="my tshurt"
                                    onerror="this.onerror=null;this.src='https://dev1.ivantechnology.in/cliqpack/public/assets/img/placeholder.jpg';"
                                    >
                                 </a>
                              </div>
                              <div class="p-md-3 p-2 text-left">
                                 <div class="fs-15">
                                    <del class="fw-600 opacity-50 mr-1">৳2,502.500</del>
                                    <span class="fw-700 text-primary">৳2,497.495</span>
                                 </div>
                                 <div class="rating rating-sm mt-1">
                                    <i class = 'las la-star'></i><i class = 'las la-star'></i><i class = 'las la-star'></i><i class = 'las la-star'></i><i class = 'las la-star'></i>
                                 </div>
                                 <h3 class="fw-600 fs-13 text-truncate-2 lh-1-4 mb-0 h-35px">
                                    <a href="https://dev1.ivantechnology.in/cliqpack/product/my-tshurt-vio84" class="d-block text-reset">my tshurt</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>