<div class="aiz-main-wrapper d-flex flex-column" *ngIf="product">
   <section class="mb-4 pt-3">
      <div class="container-fluid">
         <div class="row">
            <div class="col-12">
               <div class="bd_breadcrumbs">
                  <ul class="breadcrumbs">
                     <li *ngFor="let item of parents;let i = index"><a *ngIf="i<cat_level" href="javascript:void(0)">{{item}} <i aria-hidden="true" class="fa fa-angle-right" style="margin-right:2px;margin-left:10px;"></i></a>
                        <span *ngIf="i==cat_level">{{item}}</span>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-md-7">
               <div class="bd_proimgsec">
                  <div id="big" class="bowl-carousel bowl-theme ">
                     <owl-carousel-o [options]="customOptionsthumb" *ngIf="product.photos">
                        <ng-container *ngFor="let slide of product.photos">
                           <ng-template carouselSlide [id]="'thumb'+slide.id">
                              <div class="bd_procaroimg">
                                 <img [src]="slide.file_name" [alt]="slide.file_original_name" [title]="slide.file_original_name" class="img-fit lazyload">
                              </div>
                           </ng-template>
                        </ng-container>
                     </owl-carousel-o>
                  </div>
                  <div id="thumbs" class="bowl-carousel bowl-theme">
                     <owl-carousel-o [options]="customOptions" *ngIf="product.photos">
                        <ng-container *ngFor="let slide of product.photos">
                           <ng-template carouselSlide [id]="slide.id">
                              <div class="bd_procarothumbimg">
                                 <img [src]="slide.file_name" [alt]="slide.file_original_name" [title]="slide.file_original_name" class="img-fit lazyload mx-auto">
                              </div>
                           </ng-template>
                        </ng-container>
                     </owl-carousel-o>
                  </div>
               </div>
            </div>
            <div class="col-md-5">
               <div class="bd_proddetailsinfo">
                  <div class="bd_infoone d-flex justify-content-between align-items-center">
                     <div class="bd_probrand">{{product.brand_name}}</div>
                     <div class="bd_prodetalsreview d-flex">
                        <div class="bd_prostar mb-0 d-flex">
                           <ngb-rating [(rate)]="product.avg_rating" [(max)]="maxRating" [(readonly)]="ratingReadonly">
                           <ng-template let-fill="fill" let-index="index">
                              <span class="star" [class.filled]="fill === 100">&#9733;</span>
                           </ng-template>
                           </ngb-rating>      
                        </div>
                        <div class="bd_prodetalsreviewtxt">
                           <span>{{product.avg_rating}}</span> Review | <span>{{product.totalReview}}</span>
                        </div>
                     </div>
                  </div>
                  <div class="bd_infotwo mt-4">
                     <h1 class="bd_protitle">{{product.name | uppercase}}</h1>
                     <div class="bd_proprice">
                        <ins>{{product.discount_base_price | currency:'৳'}}</ins><del *ngIf="product.show_actual">{{product.base_price | currency:'৳'}}</del>
                     </div>
                     <div class="bd_prodetailstxt mt-4">
                        <p>{{product.basic_description}}</p>
                     </div>
                  </div>
                  <div class="bd_infothree mt-4"  *ngFor="let item of attributes;let i = index;">
                     <h2 class="bd_head">Choose {{item.name}}</h2>
                     <div class="aiz-checkbox-list bd_choose product_attribute">
                        <label class="aiz-checkbox"  *ngFor="let item1 of item.options;let j = index;">
                        <input type="radio" [(ngModel)]="attributes[i].select_attribute" id="attr_{{i}}_{{j}}" name="attr_{{i}}_{{j}}" [value]="item1" (click)="setVariation(i,item1);">
                        <span class="aiz-square-check"></span>
                        <span>{{item1}}</span>
                        </label>
                     </div>
                     <div class="bd_sizeguide mt-4" *ngIf="item.name=='Size'">
                        <a href="javascript:void(0)"><img src="assets/cliqpack/assets/size.png" >Size Guide</a>
                     </div>
                  </div>
                  <div class="bd_infofour mt-4" *ngIf="colors">
                     <h2 class="bd_head">Color</h2>
                     <div class="aiz-checkbox-list bd_choose bd_choosecolor">
                        <label class="aiz-checkbox" *ngFor="let item of colors;let k = index;">
                        <input type="radio"  id="color_{{k}}" name="color_{{item}}_{{k}}" [(ngModel)]="color" [value]="item.name" (click)="setColor(item.name);">
                        <span class="aiz-square-check"></span>
                        <span style=" background-color:{{item.code}}"></span>
                        </label>
                     </div>
                  </div>
                  <div class="bd_infosix mt-4 d-flex flex-wrap">
                     <button type="submit" class="bd_add btn_yellow" *ngIf="product.availableQty>0" (click)="addCart();">Add to Bag</button>
                     <button type="submit" class="bd_add btn_yellow" *ngIf="product.availableQty<=0">Out of Stock</button>
                     <button type="button" class="bd_heart" (click)="addToWishList(product)">
                     <i class="fa fa-heart-o" aria-hidden="true" *ngIf="!product.is_wishlist"></i>
                     <i class="fa fa-heart" aria-hidden="true" *ngIf="product.is_wishlist"></i>
                     </button>
                     
                  </div>
               </div>
            </div>
            <div class="col-12 mt-5 pt-5 pb-5 bd_bgcolor1">
               <div class="bd_protab">
                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                     <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">DESCRIPTION</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Specifications</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">RATINGS & REVIEWS</a>
                     </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                     <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="bd_protabtxt" [innerHTML]="product.description">
                        </div>
                     </div>
                     <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="bd_protabtxt">
                            <p *ngFor="let item of specifications">{{item.specification | uppercase}} : <span [innerHTML]="item.description"></span></p>
                            <p *ngFor="let item of sub_specifications">{{item.specification | uppercase}} : <span [innerHTML]="item.description"></span></p>
                        </div>
                     </div>
                     <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="bd_protabtxt">
                           <ul class="bd_proratingcomm">
                              <li class="media list-group-item d-flex" *ngFor="let item of product.reviews">
                                 <span class="avatar avatar-md mr-3">
                                 <img   class="lazyload" src="{{item.user.profile_photo}}" >
                                 </span>
                                 <div class="media-body text-left">
                                    <div class="d-flex justify-content-between">
                                       <h3 class="fs-15 fw-600 mb-0">{{ item.user.reviewer_name }}</h3>
                                       <span class="rating rating-sm">
                                          <ngb-rating [(rate)]="item.rating" [(max)]="maxRating" [(readonly)]="ratingReadonly">
                                          <ng-template let-fill="fill" let-index="index">
                                             <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                          </ng-template>
                                          </ngb-rating>    
                                       </span>
                                    </div>
                                    <div class="opacity-60 mb-2">{{ item.created_at | date }}</div>
                                    <p class="comment-text">
                                       {{ item.comment }}
                                    </p>
                                 </div>
                              </li>
                           </ul>
                           <div class="text-center fs-18 opacity-70" *ngIf="product.reviews.length==0">
                              There have been no reviews for this product yet.
                           </div>
                           <div class="mt-4 p-4 col-md-8 mx-auto card" *ngIf="product.commentable">
                              <div class="border-bottom mb-4">
                                 <h3 class="fs-17 fw-600">
                                    Write a review
                                 </h3>
                              </div>
                              <form class="form-default" role="form"  method="POST" [formGroup]="reviewForm" (ngSubmit)="onSubmit()" *ngIf="reviewForm">
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label for="" class="text-uppercase c-gray-light">Your name</label>
                                       <input type="text" formControlName="name" value="" class="form-control" disabled>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label for="" class="text-uppercase c-gray-light">Email</label>
                                       <input type="text" formControlName="email" value="" class="form-control"  disabled>
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group Rating d-flex">
                                 <label class="opacity-60 mr-2">Rating :</label>
                                 <ngb-rating  [(max)]="maxRating" [(rate)]="givenRating">
                                 <ng-template let-fill="fill" let-index="index">
                                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                 </ng-template>
                                 </ngb-rating>
                                 <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="reviewForm.get('rating').invalid && IsSubmitted" >
                                    <li class="parsley-required">Please Give a Rating.</li>
                                 </ul>
                              </div>
                              <div class="form-group">
                                 <label class="opacity-60">Comment</label>
                                 <textarea class="form-control" rows="4" formControlName="comment" placeholder="Your review"></textarea>
                                 <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="reviewForm.get('comment').invalid && IsSubmitted" >
                                    <li class="parsley-required">Please Enter Comment.</li>
                                 </ul>
                              </div>
                              <div class="text-right">
                                 <button type="submit" class="btn btn_yellow mt-3">
                                 Submit Review
                                 </button>
                              </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 mt-5 pt-5 pb-5 bd_bgcolor">
               <div class="bd_heading text-center">
                  <h2>Similar Products</h2>
               </div>
               <div class="bd_similarpro">
                   
                <owl-carousel-o [options]="customOptionssimilar" *ngIf="products">
               
                <ng-template carouselSlide  *ngFor="let item of products" >
                <div class="col mb-3">
                  <div class="bd_carouselproduct">
                     <div class="bd_carouselproimg">
                        <a routerLink="/product/{{item.slug}}"> <img [src]="item.thumbnail_img[0].full_path" class="img-fit lazyload"></a>
                        <div class="bd_wishlist">
                           <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                     </div>
                     <div class="bd_carouselproinfo">
                        <div class="bd_caroselname"><p>{{item.name}}</p></div>
                        <div class="bd_caroseltitle"><p>{{(item.brand_name) ? item.brand_name : 'N/A'}}</p></div>
                        <div class="bd_proprice">
                           <ins>{{item.discount_base_price | currency:'৳ '}}</ins>
                           <del *ngIf="item.show_actual">{{item.base_price | currency:'৳ '}}</del>
                        </div>
                        <div class="bd_cartrating">
                           <div class="d-flex justify-content-between align-items-center">
                           <a href="#" class="btn_yellow">Add to cart</a>
                           <div class="bd_prostar mb-0 d-flex">
                              <ngb-rating [(rate)]="product.avg_rating" [(max)]="maxRating" [(readonly)]="ratingReadonly">
                              <ng-template let-fill="fill" let-index="index">
                                 <span class="star" [class.filled]="fill === 100">&#9733;</span>
                              </ng-template>
                              </ngb-rating>      
                           </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>             
                </ng-template>
                    
             
                    
                    
                    
                    
                </owl-carousel-o>   
                   
                   
                   
               
            </div>
            <div class="f-del">
               <a href="javscript:void(0)">
               <img src="assets/cliqpack/assets/delivery.png" alt="" class="w-100">
               </a>
            </div>
         </div>
      </div>
</div>
</section>
</div>
<ngx-spinner
   bdColor="rgba(51,51,51,0.8)"
   size="medium"
   color="#fffltiple"
   >
   <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

