<div class="aiz-user-panel">
   <div class="bd_breadcrumbs">
      <ul class="breadcrumbs">
         <li><a href="#">Home</a></li>
         <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
         <li><span>Product Reviews</span></li>
      </ul>
   </div>
   <div class="aiz-titlebar mt-2 mb-2">
      <div class="row align-items-center">
         <div class="col-md-6">
            <h1 class="h3">Product Reviews</h1>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header row gutters-5">
         <div class="col text-center text-md-left">
            <h5 class="mb-md-0 h6"></h5>
         </div>
      </div>
      <div class="card-body">
         <div class="pad-top">
            <ul class="list-group list-group-flush">
               <li class="list-group-item" *ngFor="let item of reviews;let i = index">
                  <div class="media">
                     <a class="media-left" href="javascript:void(0)">
                    
                     <span class="avatar avatar-lg m-3"><img src="{{item.avatar_original}}"></span>
                  
                     </a>
                     <div class="media-body bd_reviewcomment">
                        <div class="comment-header">
                           <span class="text_bold h6 text-dark">{{ item.user.name }}</span>
                           <p class="text-muted text-sm fs-11">
                           <ngb-rating [(rate)]="item.rating" [(max)]="maxRating" [(readonly)]="ratingReadonly">
                            <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                            </ng-template>
                            </ngb-rating>    
                           </p>
                           <p class="text-muted text-sm fs-16">{{item.comment}}</p>
                           <p class="text-muted text-sm fs-16">{{item.created_at | date:"MMM d, y, h:mm a"}}</p>
                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>

