<div class="aiz-user-panel">
   <div class="bd_breadcrumbs">
      <ul class="breadcrumbs">
         <li><a href="#">Home</a></li>
         <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
         <li><span>Product Reviews</span></li>
      </ul>
   </div>
   <div class="aiz-titlebar mt-2 mb-4">
      <div class="row align-items-center">
         <div class="col-md-6">
            <h1 class="h3">Product Reviews</h1>
         </div>
      </div>
   </div>
<div class="card">
   <div class="card-header row gutters-5">
      <div class="col text-center text-md-left">
         <h5 class="mb-md-0 h6"></h5>
      </div>
   </div>
   <div class="card-body bd_table">
      <table class="table aiz-table mb-0" datatable [dtOptions]="dtOptions" class="row-border hover">
         
         <thead>
            <tr>
               <th>#</th>
               <th>Product</th>
               <th>Rating</th>
                <th></th>
            </tr>
         </thead>
         <tbody *ngIf="rows?.length != 0">
            <tr *ngFor="let item of rows;let i = index">
               <td>{{i+start_index+1}}</td>
               <td>{{item.name}}</td>
               <td><ngb-rating [(rate)]="item.avg_rating" [(max)]="maxRating" [(readonly)]="ratingReadonly">
                   <ng-template let-fill="fill" let-index="index">
                   <span class="star" [class.filled]="fill === 100">&#9733;</span>
              </ng-template>
                   
                   
                   
         </ngb-rating></td>
         <td>
            
             <a href="javascript:void(0)" class="btn btn-soft-info btn-icon btn-circle btn-sm" routerLink="/seller/product-review-detail/{{item.id}}"  title="Review Details">
                     <i class="las la-eye"></i>
             </a>
         
         </td>
               
            </tr>
         </tbody>
         <tbody *ngIf="rows?.length == 0">
            <tr>
               <td colspan="3" class="no-data-available">No data!</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
</div>

<style>
     td,th{ text-align:center}
      ::ng-deep table.dataTable td.dataTables_empty {
      display: none;
      }
      tfoot {
      display: table-row-group;
      }
   </style>
