<section class="gry-bg py-5">
   <div class="profile">
      <div class="container">
         <div cla ss="row">
            <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8 mx-auto">
               <div class="card bd_form">
                  <div class="text-center pt-3 pb-3 bd_formheader">
                     <h1 class="h4 fw-600">
                        Forgot Password?
                     </h1>
                  </div>
                  <div class="px-4 py-3 py-lg-4">
                     <p class="mb-4 opacity-60">Enter your email address to recover your password. </p> 
                     <form method="POST" action="" [formGroup]="regForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                           <input type="email" class="form-control" value="" placeholder="Email" formControlName="email" [ngClass]="{'parsley-error':regForm.get('email').invalid && IsSubmitted}">
                            <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="regForm.get('email').invalid && IsSubmitted">
                                        <li class="parsley-required">Please Enter Valid Email Address.</li>
                                     </ul> 
                        </div>
                        <div class="form-group text-right">
                           <button class="btn btn_yellow btn-block" type="submit">
                           Send Password Reset Link
                           </button>
                        </div>
                     </form>
                     <div class="mt-3">
                        <a routerLink="/login" class="text-reset opacity-60">Back to Login</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<ngx-spinner
   bdColor="rgba(51,51,51,0.8)"
   size="medium"
   color="#fff"
   type="ball-scale-multiple"
   >
   <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

