
<div class="aiz-main-wrapper d-flex flex-column">
    <div class="mb-4 pt-3">
        <div class="container-fluid sm-px-0">
            <div class="bd_paymentsuccess">
                <h2 class="success_msg">Thank you. Your order has been received.</h2>
                <ul class="thankyou_order_details">
                    <li class="order_number">
                        Order number:
                        <strong>171</strong>
                    </li>
                    <li class="order_date">
                        Date:
                        <strong>July 7, 2021</strong>
                    </li>
                    <li class="order_email">
                        Email:
                        <strong>info@gmail.com</strong>
                    </li>
                    <li class="order_total">
                        Total:
                        <strong><span>₹</span>719</strong>
                    </li>
                    <li class="order_method">
                        Payment method:
                        <strong>Cash on delivery</strong>
                    </li>
                </ul>
                <div class="bd_order_details">
                    <h2 class="bd_ordertitle">Order details</h2>
                    <table class="bd_tableorderdetails">
                        <thead>
                            <tr>
                                <th class="product-name">Product</th>
                                <th class="product-total">Total</th>
                            </tr>
                        </thead>
                        <tbody>	
                            <tr class="order_item">
                                <td class="product-name">
                                    <a href="#">Lorem Ipsum</a> <strong class="product-quantity">× 3</strong>
                                </td>
                                <td class="product-total">
                                    <span class="amount"><bdi><span class="currencySymbol">৳</span>200</bdi></span>
                                </td>
                            </tr>
                            <tr class="order_item">
                                <td class="product-name">
                                    <a href="#">Lorem Ipsum</a> <strong class="product-quantity">× 3</strong>
                                </td>
                                <td class="product-total">
                                    <span class="amount"><bdi><span class="currencySymbol">৳</span>200</bdi></span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>	
                            <tr>
                                <th scope="row">Subtotal:</th>
                                <td><strong><span class="currencySymbol">৳</span>800</strong></td>
                                </tr>			
                                <tr>
                                    <th scope="row">Shipping:</th>
                                    <td><strong>Free shipping</strong></td>
                                </tr>			
                                <tr>
                                    <th scope="row">Payment method:</th>
                                    <td><strong>Cash on delivery</strong></td>
                                </tr>				
                                <tr>
                                    <th scope="row">Total:</th>
                                    <td><strong><span class="currencySymbol">৳</span>800</strong></td>
                                </tr>			
                        </tfoot>
                    </table>	
                </div>
            </div>
        </div>
    </div>
</div>
