<div class="aiz-main-wrapper d-flex flex-column">
    <section class="mb-4 pt-3">
        <div class="container-fluid">
            <!-- <div class="bd_breadcrumbs">
                <ul class="breadcrumbs">
                <li>
                    <a href="javascript:void(0)">Home <i aria-hidden="true" class="fa fa-angle-right" style="margin-right:2px;margin-left:10px;"></i></a>
                </li>
                <li>
                    <span>Contact Us</span>
                </li>
                </ul>
            </div> -->

            <!-- <div class="map_area">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3746841.272876491!2d88.09975526134983!3d23.495620511523576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30adaaed80e18ba7%3A0xf2d28e0c4e1fc6b!2sBangladesh!5e0!3m2!1sen!2sin!4v1626434579588!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div> -->

            <div class="row mt-4">
                <div class="col-md-8 mx-auto">
                    <div class="conheading">
                        <p>INFORMATION ABOUT US</p>
                        <h2>CONTACT US FOR ANY QUESTIONS</h2>
                    </div>
                    <div class="contact_form1">
                        <form [formGroup]="contactForm">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <label>Frist Name<span>*</span></label>
                                    <input formControlName="first_name" type="text" class="wpcf7-text">
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label>Last name<span>*</span></label>
                                    <input formControlName="last_name" type="text" class="wpcf7-text">
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label>Email<span>*</span></label>
                                    <input formControlName="email" type="email" class="wpcf7-text">
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label>Number<span>*</span></label>
                                    <input formControlName="phone" type="number" class="wpcf7-text">
                                </div>
                                <div class="col-12 mb-4">
                                    <label>Subject<span>*</span></label>
                                    <input formControlName="message" type="text" class="wpcf7-text">
                                </div>
                                <div class="col-12 mb-4">
                                    <label>Your Message<span>*</span></label>
                                    <textarea formControlName="subject" cols="40" rows="10" class="wpcf7-textarea"></textarea>
                                </div>
                                <div class="col-4 mb-4">
                                    <label class="captcha-label" onselectstart='return false;'>Enter the Code
                                        <span>{{captcha_code}}</span>
                                    </label>
                                </div>
                                <div class="col-8 mb-4">
                                    <input formControlName="captcha_code" type="number" class="wpcf7-text">
                                </div>
                                <div class="col-12">
                                    <!-- [disabled]="!contactForm.valid" -->
                                    <button type="submit" class="wpcf7-submit" (click)="contactSubmit($event)">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>

        </div>
    </section>
</div>