<div class="aiz-main-wrapper d-flex flex-column">
    <section class="mb-4 pt-3">
        <div class="container-fluid">
            <div class="bd_breadcrumbs">
                <ul class="breadcrumbs">
                    <li>
                        <a href="javascript:void(0)">Home <i aria-hidden="true" class="fa fa-angle-right" style="margin-right:2px;margin-left:10px;"></i></a>
                    </li>
                    <li>
                        <span>About</span>
                    </li>
                </ul>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="ab_img">
                        <img src="assets/cliqpack/assets/blog-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ab_info">
                        <h2>Hendrerit mollis facilisi odio</h2>
                        <p>
                            Consectetur cras scelerisque dis nec mi vestibulum ullamcorper turpis enim natoque tempus a malesuada suspendisse iaculis adipiscing himenaeos tincidunt.Tellus pharetra dis nostra urna a scelerisque id parturient ullamcorper ullamcorper class ad consectetur
                            tristique et.</p>
                        <p>
                            Hendrerit mollis facilisi odio a montes scelerisque a scelerisque justo a praesent conubia aenean mi tempor.
                        </p>
                        <p>
                            Consectetur cras scelerisque dis nec mi vestibulum ullamcorper turpis enim natoque tempus a malesuada suspendisse iaculis adipiscing himenaeos tincidunt.Tellus pharetra dis nostra urna a scelerisque id parturient ullamcorper ullamcorper class ad consectetur
                            tristique et. Hendrerit mollis facilisi odio a montes scelerisque a scelerisque justo a praesent conubia aenean mi tempor.
                        </p>
                        <h3>Hendrerit mollis facilisi odio</h3>
                        <p>
                            Consectetur cras scelerisque dis nec mi vestibulum ullamcorper turpis enim natoque tempus a malesuada suspendisse iaculis adipiscing himenaeos tincidunt.Tellus pharetra dis nostra urna a scelerisque id parturient ullamcorper ullamcorper class ad consectetur
                            tristique et. Hendrerit mollis facilisi odio a montes scelerisque a scelerisque justo a praesent conubia aenean mi tempor.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>