<div class="aiz-user-sidenav-wrap pt-4 position-relative z-1 shadow-sm" style=" width:300px;">
   <div class="absolute-top-right d-xl-none">
      <button class="btn btn-sm p-2" data-toggle="class-toggle" data-target=".aiz-mobile-side-nav" data-same=".mobile-side-nav-thumb">
      <i class="las la-times la-2x"></i>
      </button>
   </div>
   <div class="absolute-top-left d-xl-none">
      <a class="btn btn-sm p-2" href="#">
      <i class="las la-sign-out-alt la-2x"></i>
      </a>
   </div>
   <div class="aiz-user-sidenav rounded overflow-hidden  c-scrollbar-light">
      <div class="px-4 bd_user mb-4">
         <span class="avatar avatar-md">
         <img src="{{userDetails.profile_img}}">
         </span>
         <h4 class="bd_username">
            <span>Hello</span>   
            {{userDetails.name}}
            <!-- <span class="ml-2">
            <i class="las la-check-circle" style="color:green"></i>
            </span> -->
         </h4>
      </div>
      <div class="sidemnenu mb-3">
         <ul class="aiz-side-nav-list metismenu bd_lftmenu" data-toggle="aiz-side-menu">
            <li class="aiz-side-nav-item mm-active">
               <a routerLink="/seller/dashboard" class="aiz-side-nav-link" aria-expanded="true" (click)="activeMenu=1" [ngClass]="{'active':activeMenu==1}">
                  <i class="las la-home aiz-side-nav-icon"></i>
                  <span class="aiz-side-nav-text">Dashboard</span>
               </a>
            </li>
            <li class="aiz-side-nav-item">
               <a routerLink="/seller/purchase-history" class="aiz-side-nav-link " (click)="activeMenu=2" [ngClass]="{'active':activeMenu==2}">
               <i class="las la-file-alt aiz-side-nav-icon"></i>
               <span class="aiz-side-nav-text">Purchase History</span>
               </a>
            </li>
            <li class="aiz-side-nav-item">
               <a routerLink="/seller/wishlist" class="aiz-side-nav-link " (click)="activeMenu=3" [ngClass]="{'active':activeMenu==3}">
               <i class="la la-heart-o aiz-side-nav-icon"></i>
               <span class="aiz-side-nav-text">Wishlist</span>
               </a>
            </li>
            <li class="aiz-side-nav-item">
               <a routerLink="/seller/order" class="aiz-side-nav-link " (click)="activeMenu=4" [ngClass]="{'active':activeMenu==4}">
               <i class="las la-money-bill aiz-side-nav-icon"></i>
               <span class="aiz-side-nav-text">Orders</span>
               <span class="badge badge-inline btn_yellow" *ngIf="total_order_count">{{total_order_count}}</span>
               </a>
            </li>
            <li class="aiz-side-nav-item">
               <a routerLink="/seller/product-listing" class="aiz-side-nav-link " (click)="activeMenu=11" [ngClass]="{'active':activeMenu==11}">
               <i class="las la-money-bill aiz-side-nav-icon"></i>
               <span class="aiz-side-nav-text">Products</span>
              
               </a>
            </li>
            <li class="aiz-side-nav-item">
               <a routerLink="/seller/product-review" class="aiz-side-nav-link " (click)="activeMenu=5" [ngClass]="{'active':activeMenu==5}">
               <i class="las la-star-of-david aiz-side-nav-icon"></i>
               <span class="aiz-side-nav-text">Product Reviews</span>
               <span class="badge badge-inline btn_yellow" *ngIf="total_review_count">{{total_review_count}}</span>
               </a>
            </li>
            <li class="aiz-side-nav-item">
               <a routerLink="/seller/shop" class="aiz-side-nav-link " (click)="activeMenu=6" [ngClass]="{'active':activeMenu==6}">
               <i class="las la-cog aiz-side-nav-icon"></i>
               <span class="aiz-side-nav-text">Shop Setting</span>
               </a>
            </li>
            
            <li class="aiz-side-nav-item">
               <a routerLink="/seller/money-withdraw" class="aiz-side-nav-link " (click)="activeMenu=8" [ngClass]="{'active':activeMenu==8}">
               <i class="las la-money-bill-wave-alt aiz-side-nav-icon"></i>
               <span class="aiz-side-nav-text">Money Withdraw</span>
               </a>
            </li>
            <li class="aiz-side-nav-item">
               <a routerLink="/seller/support-ticket" class="aiz-side-nav-link " (click)="activeMenu=9" [ngClass]="{'active':activeMenu==9}">
               <i class="las la-atom aiz-side-nav-icon"></i>
               <span class="aiz-side-nav-text">Support Ticket</span>
               </a>
            </li>
            <li class="aiz-side-nav-item">
               <a routerLink="/seller/profile" class="aiz-side-nav-link " (click)="activeMenu=10" [ngClass]="{'active':activeMenu==10}">
               <i class="las la-user aiz-side-nav-icon"></i>
               <span class="aiz-side-nav-text">Manage Profile</span>
               </a>
            </li>
         </ul>
      </div>
      <hr>
      <h4 class="h5 fw-600 text-center">Sold Amount</h4>
      <div class="widget-balance pb-3 pt-1">
         <div class="text-center">
            <div class="heading-4 strong-700 mb-4">
               <small class="d-block fs-12 mb-2">Your sold amount (current month)</small>
               <span class="btn btn_yellow fw-600 fs-18">{{current_month_order_amnt | currency:'৳'}}</span>
            </div>
            <table class="table table-borderless">
               <tbody>
                  <tr>
                     <td class="p-1" width="60%">
                        Total Sold:
                     </td>
                     <td class="p-1 fw-600" width="40%">
                        {{total_order_amnt | currency:'৳'}}
                     </td>
                  </tr>
                  <tr>
                     <td class="p-1" width="60%">
                        Last Month Sold:
                     </td>
                     <td class="p-1 fw-600" width="40%">
                        {{current_month_order_amnt | currency:'৳'}}
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

