<div class="aiz-main-wrapper d-flex flex-column">


    <section class="mb-4 pt-3">
        <div class="container-fluid sm-px-0">
            <form class="" id="search-form" action="" method="GET">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="aiz-filter-sidebar collapse-sidebar-wrap sidebar-xl sidebar-right z-1035">
                            <div class="overlay overlay-fixed dark c-pointer" data-toggle="class-toggle"
                                data-target=".aiz-filter-sidebar" data-same=".filter-sidebar-thumb"></div>
                            <div class="collapse-sidebar c-scrollbar-light text-left bd_sldebar">
                                <div
                                    class="d-flex d-xl-none justify-content-between align-items-center pl-3 border-bottom">
                                    <h3 class="h6 mb-0 fw-600">Filters</h3>
                                    <button type="button" class="btn btn-sm p-2 filter-sidebar-thumb"
                                        data-toggle="class-toggle" data-target=".aiz-filter-sidebar" type="button">
                                        <i class="las la-times la-2x"></i>
                                    </button>
                                </div>
                                <div class="bg-white shadow-sm rounded mb-3">
                                    <div class="fs-15 fw-600 p-3 border-bottom">
                                        Categories
                                    </div>
                                    <div class="p-3">
                                        <ul class="bd_sidebar">
                                            <li class="cat_item cat_parent">
                                                <a href="#">Man</a>
                                                <ul class="children">
                                                    <li class="cat_item"><a href="#">Formal</a></li>
                                                    <li class="cat_item"><a href="#">Winder Cloths</a></li>
                                                    <li class="cat_item"><a href="#">Shirt</a></li>
                                                </ul>
                                            </li>
                                            <li class="cat_item cat_parent">
                                                <a href="#">Mobile</a>
                                                <ul class="children">
                                                    <li class="cat_item cat_parent">
                                                        <a href="#">Mi</a>
                                                        <ul class="children">
                                                            <li class="cat_item"><a href="#">Mi1</a></li>
                                                            <li class="cat_item"><a href="#">Mi2</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="cat_item"><a href="#">Gionee</a></li>
                                                </ul>
                                            </li>

                                            <li class="cat_item"><a href="#">Furniture</a></li>
                                            <li class="cat_item"><a href="#">Beauty</a></li>
                                            <li class="cat_item"><a href="#">Corona/Flue Care</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="bg-white shadow-sm rounded mb-3 bd_checkbox">
                                    <div class="fs-15 fw-600 p-3 border-bottom">
                                        Price range
                                    </div>
                                    <div class="p-3">
                                        <div class="aiz-checkbox-list">
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_1[]" value="All Prices"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>All Prices</span>
                                            </label>

                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_1[]" value="$0 to $50"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>$0 to $50</span>
                                            </label>
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_1[]" value="$50 to $100"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>$50 to $100</span>
                                            </label>
                                        </div>
                                    </div>
                                    <!-- <div class="p-3">
                                        <div class="aiz-range-slider">
                                            <div id="input-slider-range" data-range-value-min=" 110 "
                                                data-range-value-max=" 15000 "></div>

                                            <div class="row mt-2">
                                                <div class="col-6">
                                                    <span
                                                        class="range-slider-value value-low fs-14 fw-600 opacity-70"
                                                        data-range-value-low="250"
                                                        id="input-slider-range-value-low"></span>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <span
                                                        class="range-slider-value value-high fs-14 fw-600 opacity-70"
                                                        data-range-value-high="5000"
                                                        id="input-slider-range-value-high"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="bg-white shadow-sm rounded mb-3 bd_colorradio">
                                    <div class="fs-15 fw-600 p-3 border-bottom">
                                        Filter by color
                                    </div>
                                    <div class="p-3">
                                        <div class="aiz-radio-inline">
                                            <label class="aiz-megabox pl-0 mr-2" data-toggle="tooltip"
                                                data-title="Black">
                                                <input type="radio" name="color" value="#000000"
                                                    onchange="filter()">
                                                <span
                                                    class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center p-1 mb-2">
                                                    <span class="size-15px d-inline-block rounded bd_color"
                                                        style="background: #000000;"></span>
                                                        <span class="bd_colortext">Color1</span>
                                                </span>
                                            </label>
                                            <label class="aiz-megabox pl-0 mr-2" data-toggle="tooltip"
                                                data-title="Blue">
                                                <input type="radio" name="color" value="#0000FF"
                                                    onchange="filter()">
                                                <span
                                                    class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center p-1 mb-2">
                                                    <span class="size-15px d-inline-block rounded bd_color"
                                                        style="background: #0000FF;"></span>
                                                        <span class="bd_colortext">Color2</span>
                                                </span>
                                            </label>
                                            <label class="aiz-megabox pl-0 mr-2" data-toggle="tooltip"
                                                data-title="Crimson">
                                                <input type="radio" name="color" value="#DC143C"
                                                    onchange="filter()">
                                                <span
                                                    class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center p-1 mb-2">
                                                    <span class="size-15px d-inline-block rounded bd_color"
                                                        style="background: #DC143C;"></span>
                                                        <span class="bd_colortext">Color3</span>
                                                </span>
                                            </label>
                                            <label class="aiz-megabox pl-0 mr-2" data-toggle="tooltip"
                                                data-title="FloralWhite">
                                                <input type="radio" name="color" value="#FFFAF0"
                                                    onchange="filter()">
                                                <span
                                                    class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center p-1 mb-2">
                                                    <span class="size-15px d-inline-block rounded bd_color"
                                                        style="background: #FFFAF0;"></span>
                                                        <span class="bd_colortext">Color4</span>
                                                </span>
                                            </label>
                                            <label class="aiz-megabox pl-0 mr-2" data-toggle="tooltip"
                                                data-title="Peru">
                                                <input type="radio" name="color" value="#CD853F"
                                                    onchange="filter()">
                                                <span
                                                    class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center p-1 mb-2">
                                                    <span class="size-15px d-inline-block rounded bd_color"
                                                        style="background: #CD853F;"></span>
                                                        <span class="bd_colortext">Color5</span>
                                                </span>
                                            </label>
                                            <label class="aiz-megabox pl-0 mr-2" data-toggle="tooltip"
                                                data-title="Beige">
                                                <input type="radio" name="color" value="#F5F5DC"
                                                    onchange="filter()">
                                                <span
                                                    class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center p-1 mb-2">
                                                    <span class="size-15px d-inline-block rounded bd_color"
                                                        style="background: #F5F5DC;"></span>
                                                        <span class="bd_colortext">Color6</span>
                                                </span>
                                            </label>
                                            <label class="aiz-megabox pl-0 mr-2" data-toggle="tooltip"
                                                data-title="DarkSlateBlue">
                                                <input type="radio" name="color" value="#483D8B"
                                                    onchange="filter()">
                                                <span
                                                    class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center p-1 mb-2">
                                                    <span class="size-15px d-inline-block rounded bd_color"
                                                        style="background: #483D8B;"></span>
                                                        <span class="bd_colortext">Color7</span>
                                                </span>
                                            </label>
                                            <label class="aiz-megabox pl-0 mr-2" data-toggle="tooltip"
                                                data-title="Amethyst">
                                                <input type="radio" name="color" value="#9966CC"
                                                    onchange="filter()">
                                                <span
                                                    class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center p-1 mb-2">
                                                    <span class="size-15px d-inline-block rounded bd_color"
                                                        style="background: #9966CC;"></span>
                                                        <span class="bd_colortext">Color8</span>
                                                </span>
                                            </label>
                                            <label class="aiz-megabox pl-0 mr-2" data-toggle="tooltip"
                                                data-title="Aqua">
                                                <input type="radio" name="color" value="#00FFFF"
                                                    onchange="filter()">
                                                <span
                                                    class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center p-1 mb-2">
                                                    <span class="size-15px d-inline-block rounded bd_color"
                                                        style="background: #00FFFF;"></span>
                                                        <span class="bd_colortext">Color9</span>
                                                </span>
                                            </label>
                                            <label class="aiz-megabox pl-0 mr-2" data-toggle="tooltip"
                                                data-title="DarkRed">
                                                <input type="radio" name="color" value="#8B0000"
                                                    onchange="filter()">
                                                <span
                                                    class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center p-1 mb-2">
                                                    <span class="size-15px d-inline-block rounded bd_color"
                                                        style="background: #8B0000;"></span>
                                                        <span class="bd_colortext">Color10</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="bg-white shadow-sm rounded mb-3 bd_checkbox">
                                    <div class="fs-15 fw-600 p-3 border-bottom">
                                        Filter by Silk
                                    </div>
                                    <div class="p-3">
                                        <div class="aiz-checkbox-list">
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_1[]" value="silk1"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>silk1</span>
                                            </label>

                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_1[]" value="silk2"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>silk2</span>
                                            </label>
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_1[]" value="Mulberry"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>Mulberry</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="bg-white shadow-sm rounded mb-3 bd_checkbox">
                                    <div class="fs-15 fw-600 p-3 border-bottom">
                                        Filter by Fabric
                                    </div>
                                    <div class="p-3">
                                        <div class="aiz-checkbox-list">
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_2[]" value="fabric1"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>fabric1</span>
                                            </label>
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_2[]" value="fabric2"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>fabric2</span>
                                            </label>
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_2[]" value="cotton"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>cotton</span>
                                            </label>
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_2[]" value="politer"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>politer</span>
                                            </label>
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_2[]" value="heard cl"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>heard cloth</span>
                                            </label>
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_2[]" value="Silk"
                                                    change="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>Silk</span>
                                            </label>
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_2[]" value="Cotton"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>Cotton</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="bg-white shadow-sm rounded mb-3 bd_checkbox">
                                    <div class="fs-15 fw-600 p-3 border-bottom">
                                        Filter by material
                                    </div>
                                    <div class="p-3">
                                        <div class="aiz-checkbox-list">
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_6[]" value="material1"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>material1</span>
                                            </label>
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_6[]" value="material2"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>material2</span>
                                            </label>
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_6[]" value="cotton"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>cotton</span>
                                            </label>
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_6[]" value="fabric"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>fabric</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-white shadow-sm rounded mb-3 bd_sizecheckbox">
                                    <div class="fs-15 fw-600 p-3 border-bottom">
                                        Filter by size
                                    </div>
                                    <div class="p-3">
                                        <div class="aiz-checkbox-list"> <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_7[]" value="size1"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>size1</span>
                                            </label>
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_7[]" value="size2"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>size2</span>
                                            </label>
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_7[]" value="X"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>X</span>
                                            </label>
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_7[]" value="XL"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>XL</span>
                                            </label>
                                            <label class="aiz-checkbox">
                                                <input type="checkbox" name="attribute_7[]" value="M"
                                                    onchange="filter()">
                                                <span class="aiz-square-check"></span>
                                                <span>M</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9">
                        <div class="inner_banner">
                            <img class="w-100" src="assets/cliqpack/assets/banner.png" alt="First slide">
                            <div class="banner_con">
                                <h3>Exciting Deals</h3>
                                <h2>Buy 1 Get 2 Free</h2>
                            </div>
                        </div>
                        <ul class="breadcrumb bg-transparent p-0">
                            <li class="breadcrumb-item opacity-50">
                                <a class="text-reset" href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item opacity-50">
                                <a class="text-reset" href="#">All categories</a>
                            </li>
                            <li class="breadcrumb-item"  *ngFor="let item of parents;let i = index" [ngClass]="{'text-dark fw-600':i==cat_level}">
                                <a class="text-reset" href="#"><span *ngIf="i==cat_level">"</span>{{item}}<span *ngIf="i==cat_level">"</span></a>
                            </li>
                        </ul>
                        
                        <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
                            <div class="bd_totalitem">
                                <strong>Footwear</strong> <strong>1024</strong>items
                            </div>
                            <div class="bd_rgtfilter">
                                <select class="bd_filtersort" name="sort_by"
                                onchange="filter()">
                                    <option value="newest">Sort By</option>
                                    <option value="newest">Newest</option>
                                    <option value="oldest">Oldest</option>
                                    <option value="price-asc">Price low to high</option>
                                    <option value="price-desc">Price high to low</option>
                                </select>
                                <ul class="bd_gridlist">
                                    <li class="active"><img src="assets/cliqpack/assets/grid.png"></li>
                                    <li><img src="assets/cliqpack/assets/list.png"></li>
                                </ul>
                            </div>
                        </div>

                        <!--<div class="text-left">
                            <div class="d-flex">
                                <div class="form-group w-200px">
                                    <label class="mb-0 opacity-50">Sort By</label>
                                    <select class="form-control form-control-sm aiz-selectpicker" name="sort_by"
                                        onchange="filter()">
                                        <option value="newest">Newest</option>
                                        <option value="oldest">Oldest</option>
                                        <option value="price-asc">Price low to high</option>
                                        <option value="price-desc">Price high to low</option>
                                    </select>
                                </div>
                                 <div class="form-group ml-auto mr-0 w-200px d-none d-md-block">
                                    <label class="mb-0 opacity-50">Brands</label>
                                    <select class="form-control form-control-sm aiz-selectpicker"
                                        data-live-search="true" name="brand" onchange="filter()">
                                        <option value="">All Brands</option>
                                        <option value="levis">Levis</option>
                                        <option value="mi">MI</option>
                                        <option value="Raymond-IvGuX">Raymond</option>
                                        <option value="Readme-hIwmu">Readme</option>
                                        <option value="Samsung-HrG4t">Samsung</option>
                                        <option value="Bharatsthali-oeMea">Bharatsthali</option>
                                        <option value="Saree-creations-Ulj6W">Saree creations</option>
                                        <option value="Calvin-Klein-joSuW">Calvin Klein</option>
                                        <option value="Brindal-b1dk4">Brindal</option>
                                        <option value="Rupkatha-LbGbs">Rupkatha</option>
                                    </select>
                                </div>
                                <div class="form-group ml-2 mr-0 w-200px d-none d-md-block">
                                    <label class="mb-0 opacity-50">Sellers</label>
                                    <select class="form-control form-control-sm aiz-selectpicker"
                                        data-live-search="true" name="seller_id" onchange="filter()">
                                        <option value="">All Sellers</option>
                                        <option value="1">Demo Seller Shop</option>
                                        <option value="2">Deb Shop</option>
                                        <option value="3">demo</option>
                                        <option value="4">Anirban Cliqpack Store</option>
                                    </select>
                                </div>
                                <div class="d-xl-none ml-auto ml-md-3 mr-0 form-group align-self-end">
                                    <button type="button" class="btn btn-icon p-0" data-toggle="class-toggle"
                                        data-target=".aiz-filter-sidebar">
                                        <i class="la la-filter la-2x"></i>
                                    </button>
                                </div>
                            </div>
                        </div> -->
                        <input type="hidden" name="min_price" value="11">
                        <input type="hidden" name="max_price" value="22">
                        <div class="row gutters-5 row-cols-xxl-4 row-cols-xl-3 row-cols-lg-4 row-cols-md-3 row-cols-2" infinite-scroll
                        [infiniteScrollDistance]="scrollDistance"
                        [infiniteScrollUpDistance]="scrollUpDistance"
                        [infiniteScrollThrottle]="throttle"
                        (scrolled)="onScrollDown($event)"
                       >
                        <div class="col mb-3" *ngFor="let item of products" >                  
                            <div class="bd_carouselproduct">
                                <owl-carousel-o [options]="customOptions">
                                    <ng-container *ngFor="let slide of item.thumbnail_img">
                                        <ng-template carouselSlide [id]="slide.id">
                                            <div class="bd_carouselproimg">
                                                <a routerLink="/product/{{item.slug}}" class="d-block"> <img [src]="slide.file_name" [alt]="slide.file_original_name" [title]="slide.file_original_name" class="img-fit lazyload"></a>
                                            </div>
                                        </ng-template>
                                    </ng-container>
                                </owl-carousel-o> 
                                
                                <div class="bd_carouselproinfo">
                                    <p class="bd_caroselname">Skechers</p>
                                    <p class="bd_caroseltitle">{{item.name}}</p>
                                    <div class="bd_proprice">                    
                                        <ins>{{item.base_price}}</ins>
                                        <del>{{item.discount_base_price}}</del>
                        
                                </owl-carousel-o>                                        
                                </div>
                                <div class="p-des d-flex flex-wrap justify-content-between align-items-center">
                                    <div class="p-innerL">
                                        <h4>{{item.name}}-{{item.is_wishlist}}</h4>
                                        <div class="r-star d-flex">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                            
                        </div>                       
                    </div>
                </div>
            </form>
        </div>
    </section>


    <!-- FOOTER -->




</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<style>
.owl-prev{ display:none !important;}  
.owl-next{ display:none!important;}   
</style>    