<div class="aiz-main-wrapper d-flex flex-column">


    <section class="mb-4 pt-3">
        <div class="container-fluid sm-px-0">
            <form class="" id="search-form" action="" method="GET">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="aiz-filter-sidebar collapse-sidebar-wrap sidebar-xl sidebar-right z-1035">
                            <div class="overlay overlay-fixed dark c-pointer" data-toggle="class-toggle" data-target=".aiz-filter-sidebar" data-same=".filter-sidebar-thumb"></div>
                            <div class="collapse-sidebar c-scrollbar-light text-left bd_sldebar">
                                <div class="d-flex d-xl-none justify-content-between align-items-center pl-3 border-bottom">
                                    <h3 class="h6 mb-0 fw-600">Filters</h3>
                                    <button type="button" class="btn btn-sm p-2 filter-sidebar-thumb" data-toggle="class-toggle" data-target=".aiz-filter-sidebar" type="button">
                                        <i class="las la-times la-2x"></i>
                                    </button>
                                </div>

                                <div class="bg-white shadow-sm rounded mb-3" *ngIf="category != null">
                                    <div class="fs-15 fw-600 p-3 border-bottom">
                                        Categories
                                    </div>
                                    <div class="p-3">
                                        <ul class="bd_sidebar">
                                            <li class="cat_item cat_parent" *ngIf="category != null">
                                                <a routerLink="/products/category/{{category.slug}}">{{category.name}}</a>
                                                <ul class="children" *ngFor="let subcat of subCategories">
                                                    <li class="cat_item"><a routerLink="/products/category/{{subcat.slug}}">{{subcat.name}}</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="bg-white shadow-sm rounded mb-3 bd_checkbox">
                                    <div class="fs-15 fw-600 p-3 border-bottom">
                                        Price range
                                    </div>
                                    <div class="p-3">
                                        <div class="aiz-checkbox-list">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ngx-slider [(value)]="priceRangeMinValue" [(highValue)]="priceRangeMaxValue" [options]="priceRangeOptions"></ngx-slider>

                                                    <button class="btn-block mt-3 btn-primary" (click)="filterChanged()">Update</button>
                                                </div>

                                                <!-- <div class="col-md-6">
                                                    <select name="min_price" class="form-control" (change)="filterChanged('price')">
                                                        <option *ngFor="let item of minPriceFilter" [value]="item.value">&#2547; {{item.value}}</option>
                                                    </select>
                                                </div> -->

                                                <!-- <div class="col-md-6">
                                                    <select name="max_price" class="form-control" (change)="filterChanged('price')">
                                                        <option *ngFor="let item of maxPriceFilter" [value]="item.value" selected>&#2547; {{item.value}}</option>
                                                    </select>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="bg-white shadow-sm rounded mb-3 bd_checkbox" *ngFor="let item of attributes; let i = index">
                                    <div class=" fs-15 fw-600 p-3 border-bottom text-capitalize">
                                        {{item.name}}
                                    </div>
                                    <div class="p-3">
                                        <ng-container *ngFor="let val of item.values; let val_i = index">
                                            <div class="aiz-checkbox-list" *ngIf="item.name == 'color'; else secondBlock">
                                                <label class="aiz-megabox pl-0 mr-2" data-toggle="tooltip">
                                                    <input type="checkbox" name="colorFilter[]" [value]="val" (change)="filterChanged()">
                                                    <span class="aiz-megabox-elem rounded d-flex align-items-center justify-content-center p-1 mb-2">
                                                        <span class="size-15px d-inline-block rounded bd_color" [style.background]="val"></span>
                                                        <span>&nbsp;{{getColorName(val)}}</span>
                                                    </span>
                                                </label>
                                            </div>

                                            <ng-template #secondBlock>
                                                <ng-container *ngIf="item.name == 'brand'; else elseBlock">
                                                    <div class="aiz-checkbox-list">
                                                        <label class="aiz-checkbox">
                                                            <input type="checkbox" name="brandFilter[]" [value]="val" (change)="filterChanged()">
                                                            <span class="aiz-square-check "></span>
                                                            <span>{{val.slice((val.indexOf('-') + 1)).trim()}}</span>
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </ng-template>

                                            <ng-template #elseBlock>
                                                <div class="aiz-checkbox-list">
                                                    <label class="aiz-checkbox">
                                                        <input type="checkbox" name="attributeFilter[]" [value]="val" (change)="filterChanged()">
                                                        <span class="aiz-square-check "></span>
                                                        <span>{{val}}</span>
                                                    </label>
                                                </div>
                                            </ng-template>
                                        </ng-container>
                                    </div>
                                </div>

                                <button class="btn btn-block btn-danger" onclick="location.reload()">Reset Filter</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-9">
                        <div class="bd_height">
                            <div class="inner_banner" *ngIf="pagebanner != null">
                                <img class="w-100" [src]="pagebanner">
                            </div>

                            <ul class="breadcrumb bg-transparent p-0 ">
                                <li class="breadcrumb-item opacity-50 ">
                                    <a class="text-reset" routerLink="/">Home</a>
                                </li>

                                <ng-container *ngIf="parents == 'searchsection'; else breadcrumbElseSection">
                                    <li class="breadcrumb-item 'text-dark fw-600'">
                                        <a class="text-reset"><span>Search</span></a>
                                    </li>
                                </ng-container>

                                <ng-template #breadcrumbElseSection>
                                    <ng-container *ngIf="parents == 'customText'; else breadcrumbElse2Section">
                                        <li class="breadcrumb-item 'text-dark fw-600'">
                                            <a class="text-reset"><span>{{breadcrumbValue}}</span></a>
                                        </li>
                                    </ng-container>
                                </ng-template>

                                <ng-template #breadcrumbElse2Section>
                                    <li class="breadcrumb-item" *ngFor="let item of parents; let i=index " [ngClass]="{ 'text-dark fw-600':i==cat_level} ">
                                        <a class="text-reset"><span *ngIf="i==cat_level ">"</span>{{item}}<span *ngIf="i==cat_level">"</span></a>
                                    </li>
                                </ng-template>
                            </ul>

                            <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
                                <div class="bd_totalitem">
                                    Total Filtered <strong>{{total_items}}</strong>items
                                </div>

                                <div class="bd_rgtfilter">
                                    <select class="bd_filtersort" name="sort_by" (change)="sorting()">
                                        <option value="">Sort By</option>
                                        <option value="newest">Newest</option>
                                        <option value="price-asc">Price low to high</option>
                                        <option value="price-desc">Price high to low</option>
                                    </select>
                                    <ul class="bd_gridlist">
                                        <!-- <li class="active"><img src="assets/cliqpack/assets/grid.png"></li>
                                    <li><img src="assets/cliqpack/assets/list.png"></li> -->
                                    </ul>
                                </div>
                            </div>

                            <!--<div class="text-left">
                            <div class="d-flex">
                                <div class="form-group w-200px">
                                    <label class="mb-0 opacity-50">Sort By</label>
                                    <select class="form-control form-control-sm aiz-selectpicker" name="sort_by"
                                        onchange="filter()">
                                        <option value="newest">Newest</option>
                                        <option value="oldest">Oldest</option>
                                        <option value="price-asc">Price low to high</option>
                                        <option value="price-desc">Price high to low</option>
                                    </select>
                                </div>
                                 <div class="form-group ml-auto mr-0 w-200px d-none d-md-block">
                                    <label class="mb-0 opacity-50">Brands</label>
                                    <select class="form-control form-control-sm aiz-selectpicker"
                                        data-live-search="true" name="brand" onchange="filter()">
                                        <option value="">All Brands</option>
                                        <option value="levis">Levis</option>
                                        <option value="mi">MI</option>
                                        <option value="Raymond-IvGuX">Raymond</option>
                                        <option value="Readme-hIwmu">Readme</option>
                                        <option value="Samsung-HrG4t">Samsung</option>
                                        <option value="Bharatsthali-oeMea">Bharatsthali</option>
                                        <option value="Saree-creations-Ulj6W">Saree creations</option>
                                        <option value="Calvin-Klein-joSuW">Calvin Klein</option>
                                        <option value="Brindal-b1dk4">Brindal</option>
                                        <option value="Rupkatha-LbGbs">Rupkatha</option>
                                    </select>
                                </div>
                                <div class="form-group ml-2 mr-0 w-200px d-none d-md-block">
                                    <label class="mb-0 opacity-50">Sellers</label>
                                    <select class="form-control form-control-sm aiz-selectpicker"
                                        data-live-search="true" name="seller_id" onchange="filter()">
                                        <option value="">All Sellers</option>
                                        <option value="1">Demo Seller Shop</option>
                                        <option value="2">Deb Shop</option>
                                        <option value="3">demo</option>
                                        <option value="4">Anirban Cliqpack Store</option>
                                    </select>
                                </div>
                                <div class="d-xl-none ml-auto ml-md-3 mr-0 form-group align-self-end">
                                    <button type="button" class="btn btn-icon p-0" data-toggle="class-toggle"
                                        data-target=".aiz-filter-sidebar">
                                        <i class="la la-filter la-2x"></i>
                                    </button>
                                </div>
                            </div>
                        </div> -->
                            <div *ngIf="products.length > 0; else noItemTemplate" class="row gutters-5 row-cols-xxl-4 row-cols-xl-3 row-cols-lg-4 row-cols-md-3 row-cols-2" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle"
                                (scrolled)="onScrollDown($event)">
                                <div class="col mb-3" *ngFor="let item of products">
                                    <div class="bd_carouselproduct">
                                        <owl-carousel-o [options]="customOptions">
                                            <ng-container *ngFor="let slide of item.product_imagemultiple">
                                                <ng-template carouselSlide [id]="slide.id">
                                                    <div class="bd_carouselproimg">
                                                        <a routerLink="/product/{{item.slug}}"> <img [src]="slide.full_path" class="img-fit lazyload"></a>

                                                        <div class="bd_wishlist">
                                                            <a href="javascript:void(0)" *ngIf="item.iswishlist == 0;else elseWhishlist" (click)="addToWishList(item)">
                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                            </a>

                                                            <ng-template #elseWhishlist>
                                                                <a href="javascript:void(0)" (click)="removeFromWishlist(item)">
                                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                                </a>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </ng-container>
                                        </owl-carousel-o>

                                        <div class="bd_carouselproinfo">
                                            <div class="bd_caroselname">
                                                <p>{{item.name}}</p>
                                            </div>
                                            <div class="bd_caroseltitle">
                                                <p>{{(item.brand_name) ? item.brand_name : 'N/A'}}</p>
                                            </div>
                                            <div class="bd_proprice">
                                                <ins>&#2547; {{item.home_discount_price}}</ins>
                                                <del>&#2547; {{item.price}}</del>
                                            </div>
                                            <div class="bd_cartrating">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <a routerLink="/product/{{item.slug}}" class="btn_yellow">View Details</a>
                                                    <div class="bd_prostar mb-0 d-flex" *ngIf="parseNumber(item.rating) > 0">
                                                        <ng-container *ngFor="let ir of ['1','2','3','4','5']; let i = index">
                                                            <i class="fa fa-star" *ngIf="i < parseNumber(item.rating); else bigDealRatingElse" aria-hidden="true"></i>
                                                            <ng-template #bigDealRatingElse>
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            </ng-template>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ng-template #noItemTemplate>
                                <div class="no-product-found">
                                    <h3>No Items Found</h3>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- FOOTER -->
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<style>
    .owl-prev {
        display: none !important;
    }
    
    .owl-next {
        display: none!important;
    }
</style>