<div class="aiz-user-panel">
   <div class="bd_breadcrumbs">
      <ul class="breadcrumbs">
         <li><a href="#">Home</a></li>
         <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
         <li><span>Money Withdraw</span></li>
      </ul>
   </div>
   <div class="aiz-titlebar mt-2 mb-2">
      <div class="row align-items-center">
         <div class="col-md-6">
            <h1 class="h3">Money Withdraw</h1>
         </div>
      </div>
   </div>
   <div class="row gutters-10">
      <div class="col-md-3 mb-3 ml-auto" >
         <div class="bd_bgcolor4 rounded-lg overflow-hidden">
            <span class="size-30px rounded-circle mx-auto bg-soft-primary d-flex align-items-center justify-content-center mt-3">
            <i class="las la-dollar-sign la-2x text-white"></i>
            </span>
            <div class="px-3 pt-3 pb-3">
               <div class="h4 fw-700 text-center">{{ netlockedamnt | currency:'৳'}}</div>
               <div class="opacity-100 text-center">Locked Balance</div>
            </div>
         </div>
      </div>
      <div class="col-md-3 mb-3 ml-auto">
         <div class="bd_bgcolor1 rounded-lg overflow-hidden">
            <span class="size-30px rounded-circle mx-auto bg-soft-primary d-flex align-items-center justify-content-center mt-3">
            <i class="las la-dollar-sign la-2x text-white"></i>
            </span>
            <div class="px-3 pt-3 pb-3">
               <div class="h4 fw-700 text-center">{{ netwithdrawableamnt | currency:'৳' }}</div>
               <div class="opacity-100 text-center">Withdrawable Balance</div>
            </div>
         </div>
      </div>
      <div class="col-md-3 mb-3 ml-auto">
         <div class="bd_bgcolor2 rounded-lg overflow-hidden">
            <span class="size-30px rounded-circle mx-auto bg-soft-primary d-flex align-items-center justify-content-center mt-3">
            <i class="las la-dollar-sign la-2x text-white"></i>
            </span>
            <div class="px-3 pt-3 pb-3">
               <div class="h4 fw-700 text-center">{{netapprovedamnt | currency:'৳' }}</div>
               <div class="opacity-100 text-center">Approved Amount</div>
            </div>
         </div>
      </div>
      <div class="col-md-3 mb-3 ml-auto">
         <div class="bd_bgcolor3 rounded-lg overflow-hidden">
            <span class="size-30px rounded-circle mx-auto bg-soft-primary d-flex align-items-center justify-content-center mt-3">
            <i class="las la-dollar-sign la-2x text-white"></i>
            </span>
            <div class="px-3 pt-3 pb-3">
               <div class="h4 fw-700 text-center">{{netpendingamnt | currency:'৳' }}</div>
               <div class="opacity-100 text-center">Pending Amount</div>
            </div>
         </div>
      </div>
   </div>
   <div class="card bd_modalbody p-4">
       
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1" (click)="reInitial();">
         <a ngbNavLink>Withdrawable Amounts</a>
         <ng-template ngbNavContent>
            <div class="center">
               <div class="card-header">
                  <h5 class="mb-0 h6">Withdrawable Amounts
                      
                  </h5>
                   <span style="text-align:right;">
                    <a href="javascript:void(0)" (click)="requestWithdraw(modalData)">   
                    <span class="size-60px rounded-circle mx-auto btn_yellow d-flex align-items-center justify-content-center mb-3">
                    <i class="las la-plus la-3x text-white"></i>
                    </span>
                    <div class="fs-18 text-primary">Send Withdraw Request</div>
                    </a>   
                   </span>
               </div>
               <div class="card-body bd_table">
                  <table class="table aiz-table mb-0" datatable [dtOptions]="dtOptions3" class="row-border hover" [dtTrigger]="dtTrigger3" >
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>OrderID</th>
                           <th>Order Date</th>
                           <th>Amount</th>
                        </tr>
                     </thead>
                     <tbody *ngIf="rows_withdrawables?.length != 0">
                        <tr *ngFor="let item of rows_withdrawables;let i = index">
                           <td>{{start_index_withdrawable+1+i}}</td>
                            <td><a routerLink="/seller/vieworder/{{item.order_id}}" target="_blank">{{item.code}}</a></td>
                           <td>{{item.orderDate | date}}</td>
                           <td>{{ item.net_commission | currency:'৳'}}</td>
                           
                        </tr>
                     </tbody>
                     <tbody *ngIf="rows_withdrawables?.length == 0">
                        <tr>
                           <td colspan="5" class="no-data-available">No data!</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </ng-template>
      </li>
      <li [ngbNavItem]="2" (click)="reInitial();">
         <a ngbNavLink>Withdraw History</a>
         <ng-template ngbNavContent>
            <div class="center">
               <div class="center">
                  <div class="card-header">
                     <h5 class="mb-0 h6">Withdraw History</h5>
                  </div>
                  <div class="card-body bd_table">
                     <table class="table aiz-table mb-0" datatable [dtOptions]="dtOptions2" class="row-border hover" [dtTrigger]="dtTrigger2">
                        <thead>
                           <tr>
                              <th>#</th>
                              <th>Request Date</th>
                              <th>Amount</th>
                              <th>Status</th>
                              <th>Payment Release Date</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody *ngIf="rows_approved?.length != 0">
                           <tr *ngFor="let item of rows_approved;let i = index">
                              <td>{{start_index_approve+1+i}}</td>
                              <td>{{item.created_at | date}}</td>
                              <td>{{ item.amount | currency:'৳'}}</td>
                              <td>
                                 <span class=" badge badge-inline badge-success" *ngIf="item.status">Paid</span>
                                 <span class=" badge badge-inline badge-info"  *ngIf="!item.status">Pending</span>
                              </td>
                              <td>{{ item.payment.created_at | date}}</td>
                              <td><a href="javascript:void(0)" class="btn btn-soft-info btn-icon btn-circle btn-sm" (click)="withdrawDetails(modalData2,item)"  title="Order Details">
                                <i class="las la-eye"></i>
                                </a>
                              </td>
                           </tr>
                        </tbody>
                        <tbody *ngIf="rows_approved?.length == 0">
                           <tr>
                              <td colspan="5" class="no-data-available">No data!</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </ng-template>
      </li>
      <li [ngbNavItem]="3" (click)="reInitial();">
         <a ngbNavLink>Pending Request</a>
         <ng-template ngbNavContent>
            <div class="center">
               <div class="card-header">
                  <h5 class="mb-0 h6">Pending Request</h5>
               </div>
               <div class="card-body bd_table">
                  <table class="table aiz-table mb-0" datatable [dtOptions]="dtOptions" class="row-border hover" [dtTrigger]="dtTrigger1" >
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>Date</th>
                           <th>Amount</th>
                           <th>Status</th>
                           <th>Message</th>
                        </tr>
                     </thead>
                     <tbody *ngIf="rows?.length != 0">
                        <tr *ngFor="let item of rows;let i = index">
                           <td>{{start_index+1+i}}</td>
                           <td>{{item.created_at | date}}</td>
                           <td>{{ item.amount | currency:'৳'}}</td>
                           <td>
                              <span class=" badge badge-inline badge-success" *ngIf="item.status">Paid</span>
                              <span class=" badge badge-inline badge-info"  *ngIf="!item.status">Pending</span>
                           </td>
                           <td>{{item.message}}</td>
                        </tr>
                     </tbody>
                     <tbody *ngIf="rows?.length == 0">
                        <tr>
                           <td colspan="4" class="no-data-available">No data!</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </ng-template>
      </li>
      
      
      <li [ngbNavItem]="4" (click)="reInitial();">
         <a ngbNavLink>Locked Amounts</a>
         <ng-template ngbNavContent>
            <div class="center">
               <div class="card-header">
                  <h5 class="mb-0 h6">Locked Amounts</h5>
               </div>
               <div class="card-body bd_table">
                  <table class="table aiz-table mb-0" datatable [dtOptions]="dtOptions4" class="row-border hover" [dtTrigger]="dtTrigger4" >
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>OrderID</th>
                           <th>Order Date</th>
                           <th>Product Name</th>
                           <th>Amount</th>
                           <th>Withdraw Request Date</th>
                        </tr>
                     </thead>
                     <tbody *ngIf="rows_lock?.length != 0">
                        <tr *ngFor="let item of rows_lock;let i = index">
                           <td>{{start_index_lock+1+i}}</td>
                            <td><a routerLink="/seller/vieworder/{{item.order_id}}" target="_blank">{{item.code}}</a></td>
                           <td>{{item.orderDate | date}}</td>
                           <td>{{item.name}}</td>
                           <td>{{ item.seller_commission | currency:'৳'}}</td>
                           <td>{{item.withdraw_date | date}}</td>
                        </tr>
                     </tbody>
                     <tbody *ngIf="rows_lock?.length == 0">
                        <tr>
                           <td colspan="5" class="no-data-available">No data!</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </ng-template>
      </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
   </div>
</div>
<ng-template #modalData let-modal >
   <div class="modal-header bd_modalheader">
      <h4 class="modal-title" id="modal-basic-title">Send A Withdraw Request</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">Ãƒâ€”</span>
      </button>
   </div>
   <div class="modal-body bd_modalbody" *ngIf="withdrawForm && userDetails.admin_to_pay>5 ">
      <form class="form-default" role="form" action="" method="POST" [formGroup]="withdrawForm"  (ngSubmit)="onSubmit()">
      <div class="modal-body p-0">
         <div class="p-3">
            <div class="row">
               <div class="col-md-2">
                  <label>Amount<span class="text-danger">*</span></label>
               </div>
               <div class="col-md-10">
                  <input type="text" formControlName="amount" id="amount" appDecimalinput class="form-control mb-2" (paste)="onPaste($event)" [ngClass]="{'parsley-error':withdrawForm.get('amount').invalid && IsSubmitted}">
                  <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="withdrawForm.get('amount').invalid && IsSubmitted">
                     <li class="parsley-required">Please Enter Valid Amount.</li>
                  </ul>
               </div>
            </div>
            <div class="row">
               <div class="col-md-2">
                  <label>Message</label>
               </div>
               <div class="col-md-10">
                  <textarea class="form-control mb-2" placeholder="Your Address" formControlName="message" style="height:150px;"></textarea>
               </div>
            </div>
            <div class="form-group text-right">
               <button type="submit" class="btn btn-sm btn_yellow" [disabled]="isDisabled">Send</button>
              
            </div>
          <ng-http-loader></ng-http-loader>
         </div>
      </div>
      </form> 
   </div>
</ng-template>
<ng-template #modalData2 let-modal >
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">View Withdraw History</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">Ãƒâ€”</span>
      </button>
   </div>
   <div class="modal-body">
      <div class="modal-body">
         <div class="p-3">
            <div class="row">
               <div class="col-md-4">
                  <label>Message</label>
               </div>
               <div class="col-md-6">
                <label>{{seller_msg}}</label>  
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <label>Admin Message</label>
               </div>
               <div class="col-md-6">
                 <label>{{admin_msg}}</label>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <label>Transaction Date</label>
               </div>
               <div class="col-md-6">
                 <label>{{transaction_date | date}}</label>
               </div>
            </div>
             <div class="row">
               <div class="col-md-4">
                  <label>Payment Method</label>
               </div>
               <div class="col-md-6">
                 <label>{{payement_method |  titlecase}}</label>
               </div>
            </div>
         </div>
      </div>
      
   </div>
</ng-template>
<style>
   ::ng-deep table.dataTable td.dataTables_empty {
   display: none;
   }
   tfoot {
   display: table-row-group;
   }
</style>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>