<div class="aiz-user-panel">
    <div class="bd_breadcrumbs">
        <ul class="breadcrumbs">
           <li><a href="#">Home</a></li>
           <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
           <li><span>Wishlist</span></li>
        </ul>
     </div>
                  <div class="aiz-titlebar mt-2 mb-2">
                      <div class="row align-items-center">
                          <div class="col-md-6">
                            <h1 class="h3">Wishlist</h1>
                          </div>
                      </div>
                  </div>

                  <div class="row gutters-5" infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      (scrolled)="onScrollDown($event)"
      (scrolledUp)="onUp($event)">
                        
                              <div class="col-xxl-3 col-xl-4 col-lg-3 col-md-4 col-sm-6" *ngFor="let item of rows;let i = index">
                                <div class="bd_carouselproduct position-relative">
                                    <div class="bd_carouselproimg">
                                        <a href="#"><img src="{{item.product.thumbnail_img}}" alt=""></a>
                                    </div>
                                    <div class="bd_carouselproinfo">
                                        <p class="bd_caroselname">Skechers</p>
                                        <p class="bd_caroseltitle">{{ item.product.name }}</p>
                                        <div class="bd_proprice">                    
                                            <ins>{{ item.product.discount_base_price }}</ins>
                                            <del>{{ item.product.base_price }}</del>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" class="bd_remove d-none" data-toggle="tooltip" data-placement="top" title="Remove from wishlist" (click)="removeFromWishlist(i,item.id)">
                                        <i class="la la-trash la-2x"></i>
                                    </a>
                                </div>

                              </div>
                        
                  </div>
                 
              </div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>