<section class="home-slider" *ngIf="topBanners.length > 0">
    <div id="h-slide" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <ng-container *ngFor="let item of topBanners; let i = index">
                <li data-target="#h-slide" [attr.data-slide-to]="i" [class.active]="i == 0"></li>
            </ng-container>
        </ol>
        <div class="carousel-inner">
            <ng-container *ngFor="let item of topBanners; let i = index">
                <div class="carousel-item" [class.active]="i == 0">
                    <img class="w-100" [src]="item.image" alt="Slide ID {{item.id}}">
                </div>
            </ng-container>
        </div>
    </div>
</section>

<section class="h-cat" *ngIf="categories.length > 0">
    <div class="row">
        <div class="col-lg-4 c-padd" *ngFor="let category of categories">
            <div class="cat-box d-flex ">
                <div class="cat-img">
                    <img src="{{(category.iconpath == '' || category.iconpath == null) ? 'assets/cliqpack/assets/img/noimage.png' : category.iconpath}}" alt="">
                </div>
                <div class="cat-des">
                    <h3>{{category.name}}</h3>
                    <p *ngFor="let item of category.children_categories" class="pb-2">
                        <a routerLink="products/category/{{item.slug}}">{{item.name}}</a>
                    </p>

                    <div class="cat-link"><a routerLink="products/category/{{category.slug}}">View All <i class="fa fa-angle-right"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-list" *ngIf="FlashdealProducts.length > 0 && this.Flashdeal != null">
    <div class="p-heading row align-items-center">
        <div class="col-lg-12">
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <h3>Flash Sale <img src="assets/cliqpack/assets/headinggrid.png" alt=""></h3>
                    <ul class="s-time d-flex">
                        <li>{{Flashdeal.daysLeft}}<span>Days</span></li>
                        <li>{{Flashdeal.hoursLeft}}<span>HRS</span></li>
                        <li>{{Flashdeal.minutesLeft}}<span>Min</span></li>
                        <li>{{Flashdeal.secondsLeft}}<span>Sec</span></li>
                    </ul>
                </div>
                <!-- <a class="s_more" href="#">See more <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a> -->
            </div>
        </div>
    </div>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of FlashdealProducts">
            <div class="bd_carouselproduct">
                <div class="bd_carouselproimg">
                    <a routerLink="/product/{{item.product.slug}}"><img [src]="item.product.productImage" alt=""></a>
                    <div class="bd_wishlist">
                        <a href="javascript:void(0)" *ngIf="item.product.iswishlist == 0;else elseWhishlist" (click)="addToWishList(item.product)">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </a>

                        <ng-template #elseWhishlist>
                            <a href="javascript:void(0)" (click)="removeFromWishlist(item.product)">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </a>
                        </ng-template>
                    </div>
                </div>
                <div class="bd_carouselproinfo">
                    <div class="bd_caroselname">
                        <p>{{item.product.brand_name}}</p>
                    </div>
                    <div class="bd_caroseltitle">
                        <p>{{item.product.name}}</p>
                    </div>
                    <div class="bd_proprice">
                        <ins>&#2547; {{item.product.home_discount_price}}</ins>
                        <del>&#2547; {{item.product.price}}</del>
                    </div>
                    <div class="bd_cartrating">
                        <div class="d-flex justify-content-between align-items-center">
                            <a routerLink="/product/{{item.product.slug}}" class="btn_yellow">View Details</a>
                            <div class="bd_prostar mb-0 d-flex" *ngIf="parseNumber(item.product.rating) > 0">
                                <ng-container *ngFor="let ir of ['1','2','3','4','5']; let i = index">
                                    <i class="fa fa-star" *ngIf="i < parseNumber(item.product.rating); else bigDealRatingElse" aria-hidden="true"></i>
                                    <ng-template #bigDealRatingElse>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </ng-template>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</section>

<section class="p-list bd_biggestsales" *ngIf="biggestDeals.length > 0">
    <div class="p-heading row  align-items-center">
        <div class="col-lg-12">
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <h3>Biggest Deals <img src="assets/cliqpack/assets/headinggrid.png" alt=""></h3>
                </div>
                <!-- <a class="s_more blue_more" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i>See more</a> -->
            </div>
        </div>
    </div>

    <section class="offer-area mb-2" *ngIf="webMiddleBanner != null" style="background-color: transparent;">
        <div class="row m-0 align-items-center">
            <div class="col-lg-12 p-0">
                <a [href]="webMiddleBanner.url" target="_blank">
                    <img [src]="webMiddleBanner.image" alt="">
                </a>
            </div>
        </div>
    </section>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of biggestDeals">
            <div class="bd_carouselproduct">
                <div class="bd_carouselproimg">
                    <a routerLink="/product/{{item.slug}}"><img [src]="item.productImage" alt=""></a>
                    <div class="bd_wishlist">
                        <a href="javascript:void(0)" *ngIf="item.iswishlist == 0;else elseWhishlist" (click)="addToWishList(item)">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </a>

                        <ng-template #elseWhishlist>
                            <a href="javascript:void(0)" (click)="removeFromWishlist(item)">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </a>
                        </ng-template>
                    </div>
                </div>
                <div class="bd_carouselproinfo">
                    <div class="bd_caroselname">
                        <p>{{item.brand_name}}</p>
                    </div>
                    <div class="bd_caroseltitle">
                        <p>{{item.name}}</p>
                    </div>
                    <div class="bd_proprice">
                        <ins>&#2547; {{item.home_discount_price}}</ins>
                        <del>&#2547; {{item.price}}</del>
                    </div>
                    <div class="bd_cartrating">
                        <div class="d-flex justify-content-between align-items-center">
                            <a routerLink="/product/{{item.slug}}" class="btn_yellow">View Details</a>
                            <div class="bd_prostar mb-0 d-flex" *ngIf="parseNumber(item.rating) > 0">
                                <ng-container *ngFor="let ir of ['1','2','3','4','5']; let i = index">
                                    <i class="fa fa-star" *ngIf="i < parseNumber(item.rating); else bigDealRatingElse" aria-hidden="true"></i>
                                    <ng-template #bigDealRatingElse>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </ng-template>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</section>

<!-- <section class="p-list bd_biggestsales" *ngIf="biggestDeals.length > 0">
    <div class="p-heading row  align-items-center">
        <div class="col-lg-12">
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <h3>Shop for Men <img src="assets/cliqpack/assets/headinggrid.png" alt=""></h3>
                </div>
            </div>
        </div>
    </div>

    <section class="offer-area mb-2" *ngIf="webMiddleBanner != null" style="background-color: transparent;">
        <div class="row m-0 align-items-center">
            <div class="col-md-6 pl-0 pr-0">
                <div class="row mr-0 ml-0">
                    <div class="col-md-6 pl-0 pr-0">
                        <div class="bd_shopimg">
                            <img src="assets/cliqpack/assets/manimg.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 pr-0">
                        <div class="bd_shopimg bd_smallshopimg">
                            <img src="assets/cliqpack/assets/manimg1.png" alt="">
                        </div>
                        <div class="bd_shopimg bd_smallshopimg">
                            <img src="assets/cliqpack/assets/manimg2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-0 pr-0">
                <div class="bd_shopimg">
                    <img src="assets/cliqpack/assets/manimg3.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of biggestDeals">
            <div class="bd_carouselproduct">
                <div class="bd_carouselproimg">
                    <a routerLink="/product/{{item.slug}}"><img [src]="item.productImage" alt=""></a>
                    <div class="bd_wishlist">
                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="bd_carouselproinfo">
                    <div class="bd_caroselname">
                        <p>{{item.brand_name}}</p>
                    </div>
                    <div class="bd_caroseltitle">
                        <p>{{item.name}}</p>
                    </div>
                    <div class="bd_proprice">
                        <ins>&#2547; {{item.home_discount_price}}</ins>
                        <del>&#2547; {{item.price}}</del>
                    </div>
                    <div class="bd_cartrating">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#" class="btn_yellow">Add to cart</a>
                            <div class="bd_prostar mb-0 d-flex">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</section> -->

<!-- <section class="p-list bd_biggestsales" *ngIf="biggestDeals.length > 0">
    <div class="p-heading row  align-items-center">
        <div class="col-lg-12">
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <h3>Shop for Women <img src="assets/cliqpack/assets/headinggrid.png" alt=""></h3>
                </div>
            </div>
        </div>
    </div>

    <section class="offer-area mb-2" *ngIf="webMiddleBanner != null" style="background-color: transparent;">
        <div class="row m-0 align-items-center">
            <div class="col-md-6 pl-0 pr-0">
                <div class="bd_shopimg">
                    <img src="assets/cliqpack/assets/womanimg.png" alt="">
                </div>
            </div>
            <div class="col-md-6 pl-0 pr-0">
                <div class="row ml-0 mr-0">
                    <div class="col-12 pl-0 pr-0">
                        <div class="row ml-0 mr-0">
                            <div class="col-md-6 pl-0 pr-0">
                                <div class="bd_shopimg bd_smallshopimg">
                                    <img src="assets/cliqpack/assets/womanimg1.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 pl-0 pr-0">
                                <div class="bd_shopimg bd_smallshopimg">
                                    <img src="assets/cliqpack/assets/womanimg2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pl-0 pr-0">
                        <div class="bd_shopimg bd_smallshopimg">
                            <img src="assets/cliqpack/assets/womanimg3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of biggestDeals">
            <div class="bd_carouselproduct">
                <div class="bd_carouselproimg">
                    <a routerLink="/product/{{item.slug}}"><img [src]="item.productImage" alt=""></a>
                    <div class="bd_wishlist">
                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="bd_carouselproinfo">
                    <div class="bd_caroselname">
                        <p>{{item.brand_name}}</p>
                    </div>
                    <div class="bd_caroseltitle">
                        <p>{{item.name}}</p>
                    </div>
                    <div class="bd_proprice">
                        <ins>&#2547; {{item.home_discount_price}}</ins>
                        <del>&#2547; {{item.price}}</del>
                    </div>
                    <div class="bd_cartrating">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#" class="btn_yellow">Add to cart</a>
                            <div class="bd_prostar mb-0 d-flex">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</section> -->

<!-- <section class="p-list bd_biggestsales" *ngIf="biggestDeals.length > 0">
    <div class="p-heading row  align-items-center">
        <div class="col-lg-12">
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <h3>Kids Wear <img src="assets/cliqpack/assets/headinggrid.png" alt=""></h3>
                </div>
            </div>
        </div>
    </div>

    <section class="offer-area mb-2" *ngIf="webMiddleBanner != null" style="background-color: transparent;">
        <div class="row m-0 align-items-center">
            <div class="col-md-6 pl-0 pr-0">
                <div class="row ml-0 mr-0">
                    <div class="col-md-6 pl-0 pr-0">
                        <div class="bd_shopimg bd_smallshopimg">
                            <img src="assets/cliqpack/assets/kidimg.png" alt="">
                        </div>
                        <div class="bd_shopimg bd_smallshopimg">
                            <img src="assets/cliqpack/assets/kidimg1.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 pr-0">
                        <div class="bd_shopimg">
                            <img src="assets/cliqpack/assets/kidimg1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-0 pr-0">
                <div class="bd_shopimg">
                    <img src="assets/cliqpack/assets/kidimg2.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of biggestDeals">
            <div class="bd_carouselproduct">
                <div class="bd_carouselproimg">
                    <a routerLink="/product/{{item.slug}}"><img [src]="item.productImage" alt=""></a>
                    <div class="bd_wishlist">
                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="bd_carouselproinfo">
                    <div class="bd_caroselname">
                        <p>{{item.brand_name}}</p>
                    </div>
                    <div class="bd_caroseltitle">
                        <p>{{item.name}}</p>
                    </div>
                    <div class="bd_proprice">
                        <ins>&#2547; {{item.home_discount_price}}</ins>
                        <del>&#2547; {{item.price}}</del>
                    </div>
                    <div class="bd_cartrating">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#" class="btn_yellow">Add to cart</a>
                            <div class="bd_prostar mb-0 d-flex">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</section> -->

<section class="p-list" *ngIf="featuredProduct.length > 0">
    <div class="p-heading row align-items-center">
        <div class="col-lg-12">
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <h3>FEATURED PRODUCTS <img src="assets/cliqpack/assets/headinggrid.png" alt=""></h3>
                </div>
            </div>
        </div>
    </div>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of featuredProduct">
            <div class="bd_carouselproduct">
                <div class="bd_carouselproimg">
                    <a routerLink="/product/{{item.slug}}"><img [src]="item.productImage" alt=""></a>
                    <div class="bd_wishlist">
                        <a href="javascript:void(0)" *ngIf="item.iswishlist == 0;else elseWhishlist" (click)="addToWishList(item)">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </a>

                        <ng-template #elseWhishlist>
                            <a href="javascript:void(0)" (click)="removeFromWishlist(item)">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </a>
                        </ng-template>
                    </div>
                </div>
                <div class="bd_carouselproinfo">
                    <div class="bd_caroselname">
                        <p>{{item.brand_name}}</p>
                    </div>
                    <div class="bd_caroseltitle">
                        <p>{{item.name}}</p>
                    </div>
                    <div class="bd_proprice">
                        <ins>&#2547; {{item.home_discount_price}}</ins>
                        <del>&#2547; {{item.price}}</del>
                    </div>
                    <div class="bd_cartrating">
                        <div class="d-flex justify-content-between align-items-center">
                            <a routerLink="/product/{{item.slug}}" class="btn_yellow">View Details</a>
                            <div class="bd_prostar mb-0 d-flex" *ngIf="parseNumber(item.rating) > 0">
                                <ng-container *ngFor="let ir of ['1','2','3','4','5']; let i = index">
                                    <i class="fa fa-star" *ngIf="i < parseNumber(item.rating); else bigDealRatingElse" aria-hidden="true"></i>
                                    <ng-template #bigDealRatingElse>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </ng-template>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>

</section>

<section class="offer-area n-bg mt-4" *ngIf="webBottomBanner != null" style="background-color: transparent;">
    <div class="row m-0 align-items-center">
        <a [href]="webBottomBanner.url" target="_blank">
            <img [src]="webBottomBanner.image" alt="">
        </a>
    </div>
</section>

<section class="h-blog" *ngIf="blogsMaster.length > 0">
    <h4>Latest Blog</h4>
    <div class="row align-items-center">
        <div class="col-lg-6" *ngFor="let item of blogsMaster">
            <div class="d-flex blog-box">
                <div class="blog-img">
                    <img src="{{item.image}}" alt="">
                </div>
                <div class="blog-content">
                    <h5><a class="text-warning" routerLink="/blog-categories/{{item.cati.id}}/{{item.cati.slug}}">{{item.category}}</a></h5>
                    <h4>{{item.name}}</h4>
                    <div class="b-date">
                        <span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{item.created_at}}</span>
                        <!-- <span><i class="fa fa-comments-o" aria-hidden="true"></i> 32 Comments</span> -->
                    </div>
                    <p>{{item.content}}</p>
                    <a routerLink="/blog-details/{{item.id}}/{{item.slug}}" class="b-btn">View Details <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="brand-list" *ngIf="brandMaster.length > 0">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of brandMaster">
            <a routerLink="products/brand/{{item.slug}}">
                <div class="brand-box">
                    <img [src]="item.logo" [alt]="item.name">
                </div>
            </a>
        </ng-template>
    </owl-carousel-o>
</section>

<section class="f-del" *ngIf="webFooterBanner != null">
    <a [href]="webFooterBanner.url" target="_blank">
        <img [src]="webFooterBanner.image" alt="">
    </a>
</section>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>