<div class="aiz-user-panel" *ngIf="sellerDetails">
   <div class="bd_breadcrumbs">
      <ul class="breadcrumbs">
         <li><a href="#">Home</a></li>
         <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
         <li><span>Dashboard</span></li>
      </ul>
   </div>
   <div class="aiz-titlebar mt-2 mb-4">
      <div class="row align-items-center">
         <div class="col-md-6">
            <h1 class="h3">Dashboard</h1>
         </div>
      </div>
   </div>
   <div class="row gutters-10">
      <div class="col-md-3">
         <div class="bd_bgcolor4 rounded-lg mb-4 overflow-hidden">
            <div class="px-3 pt-3">
               <div class="h3 fw-700">
                  {{sellerDetails.total_product}}
               </div>
               <div class="opacity-100">Products</div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
               <path fill="rgba(255,255,255,0.3)" fill-opacity="1" d="M0,192L26.7,192C53.3,192,107,192,160,202.7C213.3,213,267,235,320,218.7C373.3,203,427,149,480,117.3C533.3,85,587,75,640,90.7C693.3,107,747,149,800,149.3C853.3,149,907,107,960,112C1013.3,117,1067,171,1120,202.7C1173.3,235,1227,245,1280,213.3C1333.3,181,1387,107,1413,69.3L1440,32L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path>
            </svg>
         </div>
      </div>
      <div class="col-md-3">
         <div class="bd_bgcolor1 rounded-lg mb-4 overflow-hidden">
            <div class="px-3 pt-3">
               <div class="h3 fw-700">
                  {{sellerDetails.total_sale}}
               </div>
               <div class="opacity-100">Total sale</div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
               <path fill="rgba(255,255,255,0.3)" fill-opacity="1" d="M0,192L30,208C60,224,120,256,180,245.3C240,235,300,181,360,144C420,107,480,85,540,96C600,107,660,149,720,154.7C780,160,840,128,900,117.3C960,107,1020,117,1080,112C1140,107,1200,85,1260,74.7C1320,64,1380,64,1410,64L1440,64L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
            </svg>
         </div>
      </div>
      <div class="col-md-3">
         <div class="bd_bgcolor2 rounded-lg mb-4 overflow-hidden">
            <div class="px-3 pt-3">
               <div class="h3 fw-700">৳{{sellerDetails.total_earn}}</div>
               <div class="opacity-100">Total earnings</div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
               <path fill="rgba(255,255,255,0.3)" fill-opacity="1" d="M0,128L34.3,112C68.6,96,137,64,206,96C274.3,128,343,224,411,250.7C480,277,549,235,617,213.3C685.7,192,754,192,823,181.3C891.4,171,960,149,1029,117.3C1097.1,85,1166,43,1234,58.7C1302.9,75,1371,149,1406,186.7L1440,224L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path>
            </svg>
         </div>
      </div>
      <div class="col-md-3">
         <div class="bd_bgcolor3 rounded-lg mb-4 overflow-hidden">
            <div class="px-3 pt-3">
               <div class="h3 fw-700">
                  {{sellerDetails.total_success_fullorder}}
               </div>
               <div class="opacity-100">Successful orders</div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
               <path fill="rgba(255,255,255,0.3)" fill-opacity="1" d="M0,192L26.7,192C53.3,192,107,192,160,202.7C213.3,213,267,235,320,218.7C373.3,203,427,149,480,117.3C533.3,85,587,75,640,90.7C693.3,107,747,149,800,149.3C853.3,149,907,107,960,112C1013.3,117,1067,171,1120,202.7C1173.3,235,1227,245,1280,213.3C1333.3,181,1387,107,1413,69.3L1440,32L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path>
            </svg>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-7">
         <div class="card">
            <div class="card-header">
               <h5 class="mb-0 h6">Orders</h5>
            </div>
            <div class="card-body">
               <table class="table aiz-table mb-0 footable footable-1 breakpoint-lg" style="">
                  <tbody>
                     <tr>
                        <td class="footable-first-visible" style="display: table-cell;">Total orders:</td>
                        <td class="footable-last-visible" style="display: table-cell;"> {{sellerDetails.overall_order}}</td>
                     </tr>
                     <tr>
                        <td class="footable-first-visible" style="display: table-cell;">Pending orders:</td>
                        <td class="footable-last-visible" style="display: table-cell;"> {{sellerDetails.total_pending_order}}</td>
                     </tr>
                     <tr>
                        <td class="footable-first-visible" style="display: table-cell;">Cancelled orders:</td>
                        <td class="footable-last-visible" style="display: table-cell;"> {{sellerDetails.total_cancelled_order}}</td>
                     </tr>
                     <tr>
                        <td class="footable-first-visible" style="display: table-cell;">Successful orders:</td>
                        <td class="footable-last-visible" style="display: table-cell;"> {{sellerDetails.total_success_fullorder}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <div class="col-md-5">
         <div class="bg-white mt-4 p-5 text-center">
            <div class="mb-3">  
               <img loading="lazy"  src="assets/non_verified.png" alt="" width="130" *ngIf="!userDetails.verification_status">
               <img loading="lazy" src="assets/verified.png" alt="" width="130" *ngIf="userDetails.verification_status">
            </div>
             <a href="javascript:void(0)" class="btn btn-primary" *ngIf="!userDetails.verification_status">Verify Now</a>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-7">
         <div class="card">
            <div class="card-header">
               <h6 class="mb-0">Products</h6>
            </div>
            <div class="card-body">
               <table class="table aiz-table mb-0 footable footable-2 breakpoint-lg" style="">
                  <thead>
                     <tr class="footable-header">
                        <th class="footable-first-visible" style="display: table-cell;">Category</th>
                        <th class="footable-last-visible" style="display: table-cell;">Product</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let product of sellerDetails.product_lists" >
                        <td class="footable-first-visible" style="display: table-cell;">{{product.cat_name}}</td>
                        <td class="footable-last-visible" style="display: table-cell;">{{product.qty}}</td>
                     </tr>
                      <tr  *ngIf="(sellerDetails.product_lists | json) == '{}'">
                         <td class="footable-first-visible" style="display: table-cell; text-align:center;" colspan="2">No Products Found</td>
                        
                     </tr>
                  </tbody>
               </table>
               <br>
               <div class="text-center"></div>
            </div>
         </div>
      </div>
      <div class="col-md-5" *ngIf="userDetails.trusted">
         <div class="bg-white mt-4 p-5 text-center">
            <div class="mb-3">                              
               <img loading="lazy" src="assets/trustedbudge.png" alt="" width="130">
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <!--     <div class="bg-white mt-4 p-4 text-center">
            <div class="h5 fw-600">Shop</div>
            <p>Manage &amp; organize your shop</p>
            <a href="https://dev1.ivantechnology.in/cliqpack/shops" class="btn btn-soft-primary">Go to setting</a>
            </div>
            <div class="bg-white mt-4 p-4 text-center">
            <div class="h5 fw-600">Payment</div>
            <p>Configure your payment method</p>
            <a href="https://dev1.ivantechnology.in/cliqpack/profile" class="btn btn-soft-primary">Configure Now</a>
            </div> -->
      </div>
   </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>