<div class="aiz-main-wrapper d-flex flex-column" *ngIf="collections">
    <div class="mb-4 pt-3">
        <div class="container-fluid sm-px-0">
            <div class="row">
                <div class="col-xl-9">
                    <div class="bd_carttab">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-cart" role="tab" aria-controls="pills-home" aria-selected="true"><img src="assets/cliqpack/assets/cart.png">Cart</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link"  #ADDRESS id="pills-profile-tab" data-toggle="pill" href="#pills-address" role="tab" aria-controls="pills-profile" aria-selected="false"><img src="assets/cliqpack/assets/address.png">Delivery Address</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-payment" role="tab" aria-controls="pills-contact" aria-selected="false"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Payment</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-cart" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="bd_tabloc">
                                    <div class="bd_tabloc_info">
                                        <h2>Delivery Location</h2>
                                        <p *ngIf="delivery_location">{{delivery_location.address}}, {{delivery_location.area}}., {{delivery_location.thana}}. {{delivery_location.city}}, {{delivery_location.postal_code}}</p>
                                    </div>
                                    <div class="bd_tablocbtn"> 
                                        <a  (click)="openAddress();" class="bd_btn">Change</a>
                                    </div>
                                </div>
                                <div class="bd_cartproduct mt-4">
                                    <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
                                        <div class="bd_totalitem">
                                            <strong *ngIf="totalItems>1">{{totalItems}} Items in your carts</strong>
                                            <strong *ngIf="totalItems==1">{{totalItems}} Item in your carts</strong>
                                            <strong *ngIf="totalItems==0">No Item in your carts</strong>

                                        </div>
                                        <div class="bd_totalprice" *ngIf="totalItems>0">
                                            <strong>Total: {{net_product_cost | currency:'৳ '}}</strong>
                                        </div>
                                    </div>

                                    <ul class="bd_cartprolist" *ngIf="collections">
                                        <li *ngFor="let item of collections ;let i = index;">
                                            <div class="bd_cartprolist_box">
                                                <div class="bd_cartprolist_boxlft">
                                                    <div class="bd_cartpro_img">
                                                        <a routerLink="/product/{{item.slug}}"><img src="{{item.productImage}}"></a>
                                                    </div>
                                                    <div class="bd_cartpro_info">
                                                        <h2>{{item.name | slice:0:15}} ...</h2>
                                                        <p class="bd_seller">Seller:<br> {{item.seller_name}}</p>
                                                        <div class="bd_proprice">
                                                            <del >{{item.cartprice | currency:'৳ '}}</del>
                                                            
                                                            <ins *ngIf="item.cartprice<item.mrp">{{item.mrp | currency:'৳ '}}</ins>
                                                        </div>
<!--                                                        <p class="bd_delidate">Delivery by Tomorrow, Fri</p>-->
                                                    </div>
                                                </div>
                                                <div class="bd_cartprolist_boxrgt">
                                                    <div class="bd_proquantity">
                                                        <div class="bd_qib">
                                                            
                                                            <button type="button" class="plus qib-button"  [disabled]="item.quantity==item.availableqty" (click)="changeQty(item,1)">+</button>
                                                            <input type="number" class="qty" value="{{item.quantity}}" readonly="">
                                                            <button type="button" class="minus qib-button" [disabled]="item.quantity<=1" (click)="changeQty(item,0)">-</button>
                                                           
                                                        </div>
                                                    </div>
                                                    <div class="bd_proremove">
                                                        <a href="javascript:void(0)" (click)="deleteCart(item.cart_id,i);"><img src="assets/cliqpack/assets/delete.png"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-address" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="bd_tabloc">
                                    <div class="bd_tabloc_info">
                                        <h2>Select Delivery Address</h2>
                                    </div>
                                    <div class="bd_tablocbtn">
                                        <a href="javascript:void(0)" (click)="addAddress(modalData);" class="bd_btn">Add New Address</a>
                                    </div>
                                </div>
                                <div class="bd_cartaddress mt-4">
                                    <div class="d-flex flex-wrap justify-content-between align-items-center mb-4" *ngIf="default_location">
                                        <div class="bd_totalitem"><strong>Default Address</strong></div>
                                    </div>
                                    <ul class="bd_cartaddresslist" *ngIf="default_location">
                                        <li >
                                            <div class="bd_cartprolist_box">
                                                <div class="bd_address">
                                                    <div class="bd_add">
                                                        <input type="radio" id="delivery_address" name='delivery_address' [value]="default_location.id"   [(ngModel)]="delivery_location_id" />
                                                        <label for="delivery_address">
                                                            <p class="bd_addname">{{default_location.name}}</p>
                                                            <p class="bd_add">{{default_location.address}}, {{default_location.area}}., {{default_location.thana}}. {{default_location.city}}, {{default_location.postal_code}}</p>
                                                            <p class="bd_addnum">Mobile: <strong>{{default_location.phone}}</strong></p>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="bd_addresseditdelete">
                                                    <a href="javascript:void(0)" (click)="editAddress(default_location.id,modalData)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="d-flex flex-wrap justify-content-between align-items-center mt-4 mb-4" *ngIf="userAddresses.length>1">
                                        <div class="bd_totalitem"><strong>Other Address</strong></div>
                                    </div>
                                    <ul class="bd_cartaddresslist">
                                        <li *ngFor="let item of userAddresses | filter : 'set_default' : '0';let i = index;"  >
                                            <div class="bd_cartprolist_box">
                                                <div class="bd_address">
                                                    <div class="bd_add">
                                                        <input type="radio" name="otheraddress{{i}}" id="otheraddress{{i}}" [value]="item.id"   (click)="setdefaultAddr(item.id)" />
                                                        <label for="otheraddress{{i}}">
                                                            <p class="bd_addname">{{item.name}}</p>
                                                            <p class="bd_add">{{item.address}}, {{item.area}}., {{item.thana}}. {{item.city}}, {{item.postal_code}}</p>
                                                            <p class="bd_addnum">Mobile: <strong>{{item.phone}}</strong></p>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="bd_addresseditdelete">
                                                    <a href="javascript:void(0)" (click)="delAddress(item.id)"><img src="assets/cliqpack/assets/delete.png"></a>
                                                    <a href="javascript:void(0)" (click)="editAddress(item.id,modalData)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-payment" role="tabpanel" aria-labelledby="pills-contact-tab">
                                <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
                                    <div class="bd_totalitem">
                                        <strong>Choose Payment Mode</strong>
                                    </div>
                                </div>
                                <ul class="bd_payoption">
                                    <li>
                                        <div class="bd_add">
                                            <input type="radio" name="payment_type" id="payment1" [value]="'COD'" [(ngModel)]="payment_type" (ngModelChange)="Changepay(payment_type)">
                                            <label for="payment1">Cash on Delivery</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bd_add">
                                            <input type="radio" name="payment_type" id="payment2" [value]="'ONLINE'" [(ngModel)]="payment_type" (ngModelChange)="Changepay(payment_type)">
                                            <label for="payment2">Pay Online</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3" *ngIf="totalItems>0">
                    <div class="bd_placeordersec">
                        <table class="table">
                            <thead>
                              <tr>
                                <th colspan="2">Price Details</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr >
                                <td>
                                    <span *ngIf="totalItems==1">Price (1 item)</span>
                                    <span *ngIf="totalItems>1">Price ({{totalItems}} items)</span>
                                </td>
                                
                                <td>{{net_product_cost | currency:'৳ '}}</td>
                              </tr>
                              <tr>
                                <td>Discount</td>
                                <td><ins>- {{net_discount | currency:'৳ '}}</ins></td>
                              </tr>
                              <tr>
                                <td>Delivery Charges</td>
                                <td>
                                    <ins *ngIf="shipping_additional==0">Free</ins>
                                    <ins *ngIf="shipping_additional>0">{{shipping_additional  | currency:'৳'}}</ins>
                                    <ins *ngIf="delivery_location==''">Set Delivery Address</ins>
                                </td>
                              </tr>
                              <tr>
                                <td><strong> Payable</strong></td>
                                <td><strong>{{net_payble  | currency:'৳'}}</strong></td>
                              </tr>
                              <tr>
                                <td colspan="2">
                                    
                                    <a href="javascript:void(0);" class="bd_btn" *ngIf="delivery_location && payment_type!=''" (click)="submitOrder();">Place Order</a>
                                    <a href="javascript:void();" class="bd_btn" *ngIf="delivery_location && payment_type==''" data-toggle="pill" href="#pills-payment" role="tab" aria-controls="pills-contact" aria-selected="false">Set Payment Type</a>
                                    <a href="javascript:void();" class="bd_btn" *ngIf="delivery_location==''" data-toggle="pill" href="#pills-address" role="tab" aria-controls="pills-profile" aria-selected="false">Set Delivery Address</a>

                                
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #modalData let-modal >
  <div class="modal-header bd_modalheader">
    <h4 class="modal-title" id="modal-basic-title">New Address</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="modal-body" *ngIf="addressForm">
    <form class="form-default" role="form" action="" method="POST" [formGroup]="addressForm"  (ngSubmit)="submitAddress()">
                
                <div class="modal-body p-0">
                    <div class="p-3">
                         <div class="row">
                            <div class="col-md-2">
                                <label>Name</label>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control mb-2" placeholder="Your Name" formControlName="name" [ngClass]="{'parsley-error':addressForm.get('name').invalid && IsadSubmit}">
                                <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="addressForm.get('name').invalid && IsadSubmit">
                                  <li class="parsley-required">Please Enter Name.</li>
                              </ul> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>City</label>
                            </div>
                            <div class="col-md-10">
                               
                              <ng-select [items]="cities" 
                            placeholder="Select City"   
                            class="mb-2"
                            (change)="populateThana()"   
                            formControlName="city"
                            bindLabel="value" 
                            bindValue="value" [multiple]="false" [clearable]="false">
                            </ng-select>  
                              <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="addressForm.get('city').invalid && IsadSubmit">
                                  <li class="parsley-required">Please Choose city.</li>
                              </ul>  
                              
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Thana</label>
                            </div>
                            <div class="col-md-10">
                             
                             <ng-select [items]="thanas" 
                            [clearable]="false"   
                             class="mb-2"   
                            placeholder="Select Thana"   
                            (change)="populatePostcode()"   
                            formControlName="thana"
                            bindLabel="value" 
                            bindValue="value" [multiple]="false">
                            </ng-select>   
                             <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="addressForm.get('thana').invalid && IsadSubmit">
                                  <li class="parsley-required">Please Choose Thana.</li>
                              </ul> 
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-2">
                                <label>Postal code</label>
                            </div>
                            <div class="col-md-10">
                               
                              <ng-select [items]="postalcodes" 
                                [clearable]="false"   
                                class="mb-2"    
                               placeholder="Select Postal Code"   
                               (change)="populateArea()"   
                               formControlName="postal_code"
                               bindLabel="value" 
                               bindValue="value" [multiple]="false">
                           </ng-select>   
                              <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="addressForm.get('postal_code').invalid && IsadSubmit">
                                  <li class="parsley-required">Please Choose Postal Code.</li>
                              </ul> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Area</label>
                            </div>
                            <div class="col-md-10">
                               
                                <ng-select [items]="areas" 
                                [clearable]="false"    
                                class="mb-3"    
                                placeholder="Select Area"   
                                formControlName="area"
                                bindLabel="value" 
                                bindValue="value" [multiple]="false">
                                </ng-select> 
                              <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="addressForm.get('area').invalid && IsadSubmit">
                                  <li class="parsley-required">Please Choose Area.</li>
                              </ul> 
                            </div>
                        </div>
                            <div class="row">
                            <div class="col-md-2">
                                <label>Address</label>
                            </div>
                            <div class="col-md-10">
                                <textarea class="form-control mb-2" placeholder="Your Address" formControlName="address" [ngClass]="{'parsley-error':addressForm.get('address').invalid && IsadSubmit}"></textarea>
                                <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="addressForm.get('address').invalid && IsadSubmit">
                                  <li class="parsley-required">Please Enter Address.</li>
                              </ul> 
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-2">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control mb-2" placeholder="+880" maxlength="11" appNumericinput  inputmode="numeric" formControlName="phone" [ngClass]="{'parsley-error':addressForm.get('phone').invalid && IsadSubmit}">
                                <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="addressForm.get('phone').invalid && IsadSubmit">
                                  <li class="parsley-required">Please Enter 11 Digits Phone no.</li>
                              </ul> 
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-sm btn_yellow ">Save</button>
                        </div>
                    </div>
                </div>
            </form> 
  </div>
  
</ng-template>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>