<app-header></app-header>
<section class="py-5">
   <div class="container-fluid">
      <div class="d-flex flex-wrap bd_container align-items-start">
         <app-customer-sidebar class="bd_lft"></app-customer-sidebar>
         <div class="bd_rgt"><router-outlet></router-outlet></div>
      </div>
   </div>
</section>
<app-footer></app-footer>

