/*!
*  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
*  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
*/


/* FONT PATH
* -------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html,
body {
    width: 100%;
    overflow-x: hidden;
}

* {
    text-decoration: none !important;
    outline: none !important;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    overflow-x: hidden;
    color: #333333;
    background-color: #f5f5f5;
}

body,
html {
    overflow-x: hidden;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    border: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

ol {
    list-style: decimal inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    color: #333333;
    line-height: 30px;
    font-family: 'Ubuntu', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}

b,
strong {
    font-weight: 600;
}

blockquote {
    margin: 0;
    padding: 0;
    border: none;
}

a:focus,
p:focus,
div:focus,
input:focus,
textarea:focus,
submit:focus,
button:focus {
    outline: none;
}


/* defult css Styles
---------------------------------*/

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: normal;
}

h1 {
    font-size: 28px;
    margin: 0 0 15px;
}

h2 {
    font-size: 24px;
    margin: 0 0 15px;
}

h3 {
    font-size: 20px;
    margin: 0 0 12px;
}

h4 {
    font-size: 18px;
    margin: 0 0 12px;
}

h5 {
    font-size: 16px;
    margin: 0 0 10px;
}

h6 {
    font-size: 14px;
    margin: 0 0 10px;
}

li {
    margin: 0 0 10px;
    padding: 0;
}

p {
    padding-bottom: 20px;
    margin: 0;
}

p:last-child {
    padding-bottom: 0;
}

label,
span,
strong {
    display: inline-block;
}

p label,
p span,
p strong {
    display: inline;
}

strong {
    font-weight: 700;
}

a {
    color: #1c2140;
    text-decoration: none;
    border: none;
    outline: none;
    display: inline-block;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

a:hover,
a:focus {
    color: #ffb22e;
    text-decoration: none;
    outline: none;
}

a:focus {
    color: #fcdd10;
}

img {
    border: none;
    outline: none;
    display: inline-block;
    max-width: 100%;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 10px 0;
    padding: 0;
    border-top: 1px solid #d3d3d3;
}

::-moz-selection {
    background: #1c2140;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #1c2140;
    color: #fff;
    text-shadow: none;
}

table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table th,
table td {
    padding: 10px 12px;
    vertical-align: top;
    border: 1px solid #d3d3d3;
}


/*----------------------------------------------------
scroll bar
------------------------------------------------------*/

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: #F5F5F5;
    width: 6px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #1c2140;
}


/* ---------page scrool  ----------*/

.scrollup {
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 5;
    width: 43px;
    height: 43px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    background: #131212;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: none;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    cursor: pointer;
}

.scrollup.active {
    bottom: 0px;
    right: 0px;
}

.scrollup:hover {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #fcdd10;
    color: #fff;
}


/***************
page scrool
***************/


/*--------Header Css------*/

.top-navbar {
    padding: 10px 0px;
}

.top-navbar ul li a {
    font-weight: 500;
    text-transform: capitalize;
    color: #333333;
}

.top-navbar ul li {
    margin-bottom: 0px;
}

.top-navbar ul li:last-child {
    margin-right: 0rem!important;
}

.top-navbar ul li.list-inline-item.dropdown {
    display: flex;
    align-items: center;
    background: url(../img/dropdown.png) no-repeat;
    background-position: 80px 16px;
    padding: 0 26px 0 0;
}

.top-navbar ul li a span img {
    padding-right: 6px;
    vertical-align: middle;
}

.top-navbar ul li .dropdown-menu {
    border: none;
    padding: 0px;
    border-radius: 10px;
}

.top-navbar ul li .dropdown-menu::before {
    content: "";
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    left: 20%;
    bottom: 100%;
    opacity: 1;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.cupon-code {
    background-color: #505682;
    color: #fff !important;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    border-radius: 8px;
    padding: 2.6rem 1.4rem;
    letter-spacing: 1px;
}

.cupon-code:hover,
.cupon-code:focus {
    background-color: #1c2140;
}

.top-navbar ul li a i {
    font-size: 18px;
    color: #333333;
    vertical-align: bottom;
    margin-right: 5px;
}

header {
    display: block;
    width: 100%;
    background-color: #1c2140;
    padding: 20px 0 0 0;
}

.search-top .input-group .form-control {
    background-color: #2b315c;
    border: none !important;
    color: #fff;
}

.search-top .btn-search {
    background-color: #fcdd10;
    border: none;
    font-weight: 600;
    color: #000;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    height: 100%;
}

.home-menu li a {
    color: #fff;
}

.search-top .input-group .form-control::-webkit-input-placeholder {
    color: #fff;
}

.search-top .input-group .form-control:-ms-input-placeholder {
    color: #fff;
}

.search-top .input-group .form-control::placeholder {
    color: #fff;
}

.user-login i,
.user-login a,
.cart-sec i {
    color: #fff;
    display: flex;
    align-items: center;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.cart-text {
    color: #fff;
    padding-left: 8px;
}

.cart-no {
    position: absolute;
    background-color: #fff !important;
    color: #1c2140;
    left: auto;
    right: 32px;
    top: 2px;
    height: 20px;
    width: 20px;
    font-weight: 600;
    font-size: 12px;
}

.user-login:hover i,
.user-login:hover a,
.cart-sec:hover i,
.cart-sec:hover .cart-text {
    color: #fcdd10;
}

.search-top .btn-search:hover,
.search-top .btn-search:focus {
    background-color: #fff;
    border-color: #fff;
}

.list-inline-item:not(:last-child) {
    margin-right: 1rem !important;
}

ul.home-menu li {
    margin-bottom: 0px;
}

ul.home-menu li a:hover {
    color: #fcdd10;
}

.btn-one {
    background-color: #505682;
    color: #fff !important;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    border-radius: 8px;
    padding: 8px 20px;
    font-weight: 500;
}

.btn-one:hover,
.btn-one:focus,
.btn-second:hover,
.btn-second:focus,
.btn-third:hover,
.btn-third:focus {
    background-color: #fcdd10;
    border-color: #fcdd10;
    color: #000 !important;
    box-shadow: none;
    outline: 0;
}

.btn-second {
    background-color: #ebebe7;
    color: #333333 !important;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    border-radius: 8px;
    padding: 8px 20px;
    font-weight: 500;
}

.btn-third {
    background-color: #eb1c22;
    color: #fff !important;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    border-radius: 8px;
    padding: 8px 20px;
    font-weight: 500;
}

.cat-menu ul li {
    margin-bottom: 0px;
}

.cat-menu ul li a {
    border-bottom: 1px solid #ccc;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    text-transform: capitalize;
}

.cat-menu ul li:hover {
    box-shadow: none;
}

.cat-menu ul li:last-child a {
    border-bottom: 0px;
}

.aiz-category-menu.cat-menu .category-nav-element:hover>a {
    box-shadow: none !important;
}

.home-heading {
    color: #757575 !important;
    text-transform: capitalize;
    font-weight: 500;
}


/*------Footer Section----*/

.footer-sec {
    width: 100%;
    display: block;
    padding: 100px 0px 120px;
}

.footer-sub-head {
    font-size: 15px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 15px;
}

.ftr-link ul li {
    position: relative;
    margin-top: 8px;
    margin-bottom: 0;
}

.ftr-link ul li a {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    -webkit-transition: all 1s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    text-transform: capitalize;
}

.ftr-link ul li a:hover,
.footer-cont a:hover {
    color: #1c2140;
    padding-left: 5px;
}

.footer-cont p,
.footer-cont a {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    padding-bottom: 5px;
}

.ftr-link h2 {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #777777;
    text-transform: uppercase
}

.footer-cont a {
    padding-bottom: 0 !important;
}


/* SOCIAL_ICON
---------------------------------*/

.social a {
    color: #777777;
    vertical-align: top;
    margin: 0 5px 0 0;
    position: relative;
    font-size: 0;
    text-align: center;
}

.social a:last-child {
    margin-right: 0;
}

.social a i {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: transparent;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.social a.sk_facebook i {
    background-color: transparent;
    border-color: transparent;
    color: #777777;
}

.social a.sk_twitter i {
    background-color: transparent;
    border-color: transparent;
    color: #777777;
}

.social a.sk_googleplus i {
    background-color: transparent;
    border-color: transparent;
    color: #777777;
}

.social a.sk_pinterest i {
    background-color: transparent;
    border-color: transparent;
    color: #777777;
}

.social a.sk_youtube i {
    background-color: transparent;
    border-color: transparent;
    color: #777777;
}

.social a.sk_skype i {
    background-color: transparent;
    border-color: transparent;
    color: #777777;
}

.social a.sk_facebook i:hover {
    background-color: #3b5999;
    border-color: #3b5999;
    color: #fff;
}

.social a.sk_twitter i:hover {
    background-color: #1da1f2;
    border-color: #1da1f2;
    color: #fff;
}

.social a.sk_googleplus i:hover {
    background-color: #db4a39;
    border-color: #db4a39;
    color: #fff;
}

.social a.sk_pinterest i:hover {
    background-color: #E60023;
    border-color: #E60023;
    color: #fff;
}

.social a.sk_youtube i:hover {
    background-color: #FF0000;
    border-color: #1da1f2;
    color: #fff;
}

.social a.sk_skype i:hover {
    background-color: #00aff0;
    border-color: #00aff0;
    color: #fff;
}

.social a:hover i {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
}

.footer-bt {
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
    padding: 15px 0;
}

.copyright-text p {
    font-size: 14px;
    font-weight: 400;
    padding: 15px 0 0;
}

.footer-cont-top {
    padding: 80px 0;
}

.footer-dt {
    margin-bottom: 40px;
}

.footer-dt h4 {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    padding-bottom: 15px;
    margin: 0;
}

.footer-dt p {
    color: #333333;
    font-size: 15px;
    line-height: 24px;
}

.payment-list h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    margin: 0;
    padding: 15px 0 6px;
}

.payment-list p {
    font-size: 13px;
    color: #333333;
    font-weight: 500;
    line-height: 20px
}

.aiz-carousel.gutters-10 .carousel-box {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.home-banner-area .slick-slide img {
    display: block;
    height: 170px;
    width: 100%;
    object-fit: contain;
}

.aiz-carousel .slick-arrow {
    font-size: 22px !important;
    color: #a5abb7 !important;
}

.half-outside-arrow .slick-next {
    right: -20px !important;
}

.half-outside-arrow .slick-prev {
    left: -20px !important;
}

.add-to-cart {
    background-color: #f5f5f5;
    border: none;
    border-radius: 0px;
    font-weight: 600;
    color: #333333;
    text-transform: capitalize;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.add-to-cart:hover,
.add-to-cart:focus {
    background-color: #1c2140;
    outline: 0;
    box-shadow: none;
    border: none;
    color: #fff;
}

.add-to-cart.out-stock {
    background-color: #da0a22;
    color: #fff;
}

.view-box {
    padding: 10px 5px;
}

.view-box a i {
    font-size: 18px;
}

.cart-sec-box {
    position: relative;
}

.cart-sec-box .rating-box {
    position: absolute;
    top: 10px;
    right: 0px;
}

.cart-sec-box .rating-box .rating {
    background-color: #72d255;
    color: #000;
    padding: 0px 3px;
    font-size: 12px;
    font-weight: 500;
}

.cart-sec-box .rating-box span {
    font-size: 12px;
    text-align: center;
    display: block;
}

.cart-sec-box .rating i {
    color: #000;
}

.cart-sec-box .fs-15 {
    padding-right: 40px;
}

.cart-sec-box .fs-15 a {
    padding: 10px 0 15px;
    min-height: 65px;
}

.cart-sec-box .fs-15 .price-amount {
    color: #da0a22;
    font-weight: 600;
    font-size: 13px;
    margin-right: 8px;
}

.cart-sec-box .fs-15 .d-price {
    color: #161616;
    font-weight: 600;
    font-size: 13px;
    text-decoration: line-through !important;
}

.slick-slide {
    margin: 0 4px !important;
}

.home-slider .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    margin: 0;
    background-color: #fff;
    color: #212121;
    width: 42px;
    height: 84px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-transform: capitalize;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.home-slider .owl-nav .owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    margin: 0;
    background-color: #fff;
    color: #212121;
    width: 42px;
    height: 84px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-transform: capitalize;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.home-slider {
    overflow: hidden;
    border-radius: 5px;
}

.home-slider .owl-theme .owl-nav [class*='owl-']:hover {
    background: #1c2140;
    color: #FFF;
    text-decoration: none;
}

.home-slider .owl-theme .owl-nav {
    margin-top: 0px;
}

.home-slider .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.home-slider .owl-dots .owl-dot.active span {
    background-color: #f78321 !important;
}

.home-slider .owl-dots .owl-dot span {
    background-color: #c7c7cd !important;
}

.home-slider .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
}

.slide-left-sec img {
    height: 215px;
    object-fit: cover;
}

.cart-img img {
    width: 100%;
    height: 84px;
    overflow: hidden;
    border-radius: 5px;
}

.cat-heading {
    color: #000000 !important;
    text-transform: capitalize;
    font-weight: 500;
}

.tab-part .nav-item.show .nav-link,
.tab-part .nav-link.active {
    color: #fff;
    background-color: #2c3359;
    border-color: #2c3359;
    border-radius: 0;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 63px;
    border: none;
    width: 30%;
    text-align: center;
    margin-bottom: 1px;
}

.tab-part .nav-link.active::after {
    border-style: solid;
    border-width: 0 0 20px 20px;
    height: 0;
    width: 0;
    border-color: transparent;
    border-bottom-color: #2c3359;
    left: 50%;
    position: absolute;
    top: auto;
    content: "";
    display: inline-block;
    transform: rotate(45deg);
    bottom: -10px;
}

.tab-part .nav-link:focus,
.tab-part .nav-link:hover {
    border-color: transparent;
}

.tab-part .nav-link {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 63px;
    border: none;
    width: 30%;
    text-align: center;
    margin-bottom: 1px;
    position: relative;
    letter-spacing: 1px;
}

.tab-part {
    background-color: #1c2140;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.brands-a img {
    height: 80px;
    width: 88px;
    object-fit: cover;
    background-color: #fff;
    padding: 0;
    overflow: hidden;
}

ul.home-menu li:last-child {
    width: 12%;
}

.buy-now {
    background-color: #f5f5f5;
    border: none;
    border-radius: 0px;
    font-weight: 600;
    color: #333333;
    text-transform: capitalize;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.buy-now:hover,
.buy-now:focus {
    background-color: #1c2140;
    outline: 0;
    box-shadow: none;
    border: none;
    color: #fff;
}

.your-class {
    width: 726px;
    margin: 0 auto;
    position: relative;
}

.loadWrapper {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0 px;
    left: 0 px;
    z-index: 99999;
}

.loader {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5 px solid #3d3e3f;
    /* gray */
    position: absolute;
    left: 37%;
    top: 82%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* 30.06.21 */

.bd_container .bd_lft {
    flex: 0 0 20%;
    max-width: 20%;
}

.bd_container .bd_rgt {
    flex: 0 0 80%;
    max-width: 80%;
}

.bd_user {
    display: flex;
    align-items: center;
}

.bd_user .bd_username {
    padding: 0 0 0 12px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.bd_user .bd_username span {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.bd_lftmenu li a.aiz-side-nav-link {
    font-size: 14px !important;
    line-height: 18px;
    color: #000 !important;
    font-weight: 700 !important;
    display: flex;
    align-items: center;
}

.bd_lftmenu li a.aiz-side-nav-link .aiz-side-nav-icon {
    color: #000;
    font-size: 18px;
    line-height: 22px;
}

.bd_breadcrumbs {
    margin-bottom: 15px;
}

.bd_breadcrumbs .breadcrumbs {
    display: flex;
    flex-wrap: wrap;
}

.bd_breadcrumbs .breadcrumbs li {
    margin: 0 5px;
    color: #9F9F9F;
}

.bd_breadcrumbs .breadcrumbs li:nth-child(1) {
    margin-left: 0;
}

.bd_breadcrumbs .breadcrumbs li a {
    color: #9F9F9F;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}

.bd_breadcrumbs .breadcrumbs li span {
    color: #1F1F1F;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}

.bd_breadcrumbs .breadcrumbs li i {}

.aiz-titlebar h1,
.aiz-titlebar .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #000;
}

.bd_table {
    overflow-x: scroll;
}

.bd_table table {
    width: 1024px !important;
}

.bd_table .dataTables_length,
.bd_table .dataTables_length label {
    width: 100%;
}

.bd_table .dataTables_length label {
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 20px;
}

.bd_table .dataTables_length label select {
    max-width: 200px;
    width: 100%;
    height: 40px;
    margin: 0 10px;
    background: #f0e63c;
    border-color: #f0e63c;
}

.bd_table .ng-touched {
    height: 40px;
}

.bd_table .dataTables_info {
    font-weight: 600;
    margin-top: 10px;
}

.bd_table .dataTables_paginate {
    background: whitesmoke;
    margin-top: 10px;
    padding-top: 0 !important;
}

.bd_table .dataTables_paginate a {
    padding: 6px 15px !important;
    margin: 0 !important;
    border-right: 1px solid #e4e4e4 !important;
    cursor: pointer !important;
}

.bd_table .dataTables_paginate span a.current,
.bd_table .dataTables_paginate a:hover {
    background: #fff !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
}

.bd_table .dataTables_wrapper table td a.btn-icon {
    margin: 0 5px;
}

.btn_yellow {
    background-color: #F0E63C;
    border-color: #F0E63C;
    color: #000;
}

.btn_yellow:hover {
    background: #000;
    color: #F0E63C;
    border-color: #000;
}

.bd_customeradd {
    background: #f0e63c;
    padding: 20px;
    color: #000;
    font-weight: 500;
}

.aiz-user-sidenav .aiz-side-nav-link.active,
.aiz-user-sidenav .aiz-side-nav-link:hover {
    background-color: rgb(240 230 60);
    border-left-color: #a79e05;
}

.bd_sldebar .bd_checkbox .aiz-checkbox-list .aiz-checkbox:hover input~.aiz-square-check,
.bd_sldebar .bd_checkbox .aiz-checkbox-list .aiz-checkbox input:checked~.aiz-square-check {
    background: #f0e63c;
}

.bd_sldebar .bd_checkbox .aiz-checkbox-list .aiz-checkbox {
    text-transform: capitalize;
    font-weight: 600;
}

.bd_sldebar .bd_sizecheckbox .aiz-checkbox-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.bd_sldebar .bd_sizecheckbox .aiz-checkbox-list .aiz-checkbox {
    padding: 0;
    margin: 5px;
}

.bd_sldebar .bd_sizecheckbox .aiz-checkbox-list .aiz-checkbox .aiz-square-check {
    display: none;
}

.bd_sldebar .bd_sizecheckbox .aiz-checkbox-list .aiz-checkbox span {
    border: 1px solid #979CA2;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 600;
}

.bd_sldebar .bd_sizecheckbox .aiz-checkbox-list .aiz-checkbox:hover input~span,
.bd_sldebar .bd_sizecheckbox .aiz-checkbox-list .aiz-checkbox input:checked~span {
    background: #f0e63c;
}

.bd_sldebar .bd_colorradio .aiz-radio-inline .aiz-megabox {
    display: block;
}

.bd_sldebar .bd_colorradio .aiz-radio-inline .aiz-megabox .aiz-megabox-elem {
    padding: 0 !important;
    border: 0;
    justify-content: flex-start !important;
}

.bd_sldebar .bd_colorradio .aiz-radio-inline .aiz-megabox .aiz-megabox-elem>.bd_color {
    border-radius: 50px !important;
}

.bd_sldebar .bd_colorradio .aiz-radio-inline .aiz-megabox .aiz-megabox-elem>.bd_colortext {
    font-weight: 600;
    padding-left: 15px;
}

.bd_modalheader {
    background-color: #f7f4c7 !important;
}

.bd_modalheader .modal-title {
    font-weight: 600;
    color: #000;
}

.bd_modalheader button.close {
    background: #5f5a05;
    opacity: 1;
    color: #fff;
    padding: 0 !important;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.bd_modalbody {}

.bd_modalbody .ngx-file-drop__drop-zone {
    border-radius: 0 !important;
    border-color: #968e0a !important;
}

.bd_modalbody .ngx-file-drop__content {
    color: #000000 !important;
}

.bd_modalbody .nav-tabs .nav-item.show .nav-link,
.bd_modalbody .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #f0e63c;
    border-color: #f0e63c #f0e63c #f0e63c;
}

.bd_modalbody .nav-tabs .nav-link {
    font-weight: 600;
}

.bd_bgcolor4 {
    background: #d6ca00;
}

.bd_bgcolor1 {
    background: #f1e858;
}

.bd_bgcolor2 {
    background: #c1b701;
}

.bd_bgcolor3 {
    background: #f0e63c;
}

.bd_reviewcomment .comment-header p {
    padding-bottom: 10px;
    color: #000 !important;
}

.bd_reviewcomment .comment-header .text_bold {
    font-weight: 600;
}

.bd_form .bd_formheader {
    background: #fdf89e;
}

.bd_form .bd_file .btn-toolbar {
    display: block;
}

.bd_form .bd_file .btn-toolbar .btn-primary {
    background-color: #F0E63C;
    border-color: #F0E63C;
    color: #000;
}

.bd_form .bd_file .btn-toolbar .btn-primary:hover {
    background: #000;
    color: #F0E63C;
    border-color: #000;
}


/* 06.07.21 */

.catnav li.nav-item,
.catnav li.nav-item a.nav-link {
    height: 100%;
}

.catnav li.nav-item a.nav-link {
    padding: 0 20px;
}

.catnav li.nav-item ul.dropdown-menu li.dropdown-submenu>a.dropdown-item {
    border: 0;
    border-radius: 0;
    position: relative;
}

.catnav li.nav-item ul.dropdown-menu li.dropdown-submenu>a.dropdown-item:after {
    position: absolute;
    right: 20px;
}

.catnav li.nav-item ul.dropdown-menu li.dropdown-submenu>a.dropdown-item:hover {
    background-color: #f0e63c;
    color: #000 !important;
}

.catnav li.nav-item ul.dropdown-menu li.dropdown-submenu>ul.dropdown-menu {
    border-radius: 0;
    left: 100% !important;
    transform: translate(0) !important;
}

.catnav li.nav-item ul.dropdown-menu li.dropdown-submenu>ul.dropdown-menu:before {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #b6b6b6;
    border-left: 0;
    left: -10px;
    bottom: inherit;
    top: 8px;
}

.p-box .w-list {
    line-height: 22px;
    ;
}

.inner_banner {
    position: relative;
    margin-bottom: 20px;
}

.inner_banner img {}

.inner_banner .banner_con {
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
    width: 100%;
}

.inner_banner .banner_con h3 {
    color: #fff;
    text-transform: capitalize;
    font-size: 26px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 0;
}

.inner_banner .banner_con h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
}

.bd_rgtfilter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

ul.bd_gridlist {
    display: flex;
}

.bd_gridlist li {
    width: 30px;
    margin: 0;
    background: #ffffff;
    margin-left: 10px;
    opacity: 0.5;
    padding: 5px;
    cursor: pointer;
}

.bd_gridlist li:hover,
.bd_gridlist li.active {
    opacity: 1;
    background: #f0e63c;
}

.bd_gridlist li img {
    width: 100%;
}

.bd_filtersort {
    height: 30px;
    border: 0;
    background: transparent;
    width: 80px;
    margin-right: 30px;
}

.breadcrumb-item {
    margin-bottom: 0;
}

.bd_totalitem strong {
    margin-right: 5px;
}

.bd_sidebar>li.cat_item>a {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.bd_sidebar>li.cat_item.cat_parent>a {
    margin-bottom: 10px;
}

.bd_sidebar li.cat_item ul.children {
    padding-left: 14px;
}

.bd_sidebar li.cat_item ul.children>li {
    margin-bottom: 0;
}

.bd_sidebar li.cat_item ul.children li.cat_parent>a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}


/* Cart Page */

.bd_carttab .nav {
    background: #fff;
    border: 1px solid #EEEEEE;
}

.bd_carttab .nav li.nav-item {
    flex: 1;
    text-align: center;
    margin: 0;
}

.bd_carttab .nav li.nav-item .nav-link {
    border-radius: 0;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #000;
    opacity: 0.5;
}

.bd_carttab .nav li.nav-item .nav-link i,
.bd_carttab .nav li.nav-item .nav-link img {
    margin-right: 10px;
}

.bd_carttab .nav li.nav-item .nav-link.active {
    color: #000;
    background-color: #f0e63c;
    opacity: 1;
}

.bd_carttab .nav li.nav-item .nav-link {
    position: relative;
}

.bd_carttab .nav li.nav-item .nav-link:after,
.bd_carttab .nav li.nav-item .nav-link:before {
    left: 100%;
    top: 0;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bd_carttab .nav li.nav-item .nav-link:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #fff;
    border-width: 25px;
    margin-top: 0;
}

.bd_carttab .nav li.nav-item .nav-link:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #cccccc;
    border-width: 26px;
    margin-top: -1px;
    margin-left: 1px;
}

.bd_carttab .nav li.nav-item:nth-last-child(1) .nav-link:after,
.bd_carttab .nav li.nav-item:nth-last-child(1) .nav-link:before {
    display: none;
}

.bd_carttab .nav li.nav-item .nav-link.active:after {
    border-left-color: #f0e63c;
}

.bd_carttab .nav li.nav-item .nav-link.active:before {
    border-left-color: #E1D62A;
}

.bd_tabloc {
    display: flex;
    background: #fff;
    box-shadow: 0px 2px 2px #a9b9c87c;
    padding: 30px;
    flex-wrap: wrap;
    align-items: center;
}

.bd_tabloc_info {
    flex: 0 0 70%;
    max-width: 70%;
}

.bd_tablocbtn {
    flex: 0 0 30%;
    max-width: 30%;
    text-align: right;
}

.bd_tabloc_info h2 {
    color: #000000;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.bd_tabloc_info p {
    font-size: 14px;
    line-height: 20px;
    color: #000;
    font-weight: 500;
}

.bd_btn {
    background: #F0E63C;
    display: inline-block;
    text-transform: uppercase;
    color: #1F1F1F;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
}

.bd_btn:hover {
    background: #000;
    color: #fff;
}

.bd_totalitem strong,
.bd_totalprice strong {
    font-size: 16px;
    line-height: 22px;
    color: #000;
    ;
}

.bd_cartprolist_box {
    background: #fff;
    box-shadow: 0px 2px 2px #a9b9c87c;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.bd_cartprolist_boxlft {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bd_cartprolist_boxrgt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bd_cartpro_img a {
    display: block;
    position: relative;
    height: 150px;
    width: 150px;
}

.bd_cartpro_img a:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgb(246, 189, 11);
    background: -moz-linear-gradient(360deg, rgba(246, 189, 11, 0.6278886554621849) 0%, rgba(255, 255, 255, 0) 66%);
    background: -webkit-linear-gradient(360deg, rgba(246, 189, 11, 0.6278886554621849) 0%, rgba(255, 255, 255, 0) 66%);
    background: linear-gradient(360deg, rgba(246, 189, 11, 0.6278886554621849) 0%, rgba(255, 255, 255, 0) 66%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#f6bd0b", endColorstr="#ffffff", GradientType=1);
}

.bd_cartpro_img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bd_cartpro_info {
    padding-left: 10px;
}

.bd_cartpro_info h2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}

.bd_cartpro_info .bd_seller {
    padding-bottom: 5px;
    font-size: 13px;
    line-height: 18px;
    color: #707070;
}

.bd_cartpro_info .bd_delidate {
    font-size: 13px;
    line-height: 18px;
    color: #000;
    font-weight: 500;
}

.bd_cartpro_info .bd_proprice {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.bd_cartpro_info .bd_proprice del {
    color: #F6BD0B;
    margin-right: 10px;
}

.bd_cartpro_info .bd_proprice ins {
    color: #707070;
    text-decoration-line: line-through !important;
}

.bd_proquantity {
    margin-right: 50px;
}

.bd_proquantity .bd_qib button {
    display: block;
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 4px #0000003d;
    border: 0;
    background: #fff;
    border-radius: 50px;
    font-size: 26px;
    line-height: 10px;
}

.bd_proquantity .bd_qib input.qty {
    margin: 10px 0;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 0;
    font-weight: 500;
    font-size: 16px;
}

.bd_address {
    padding: 20px 0 20px 20px;
}

.bd_add {
    position: relative;
}

.bd_add label {
    padding-left: 40px;
}

.bd_add label p {
    padding-bottom: 10px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.bd_add label .bd_addname {
    font-size: 16px;
    line-height: 22px;
}

.bd_addresseditdelete a {
    display: block;
    margin: 0 0 40px 0;
    color: #d5d9dd;
    font-size: 28px;
}

.bd_addresseditdelete a:nth-last-child(1) {
    margin-bottom: 0;
}

.bd_add input[type=radio] {
    appearance: none;
    -webkit-appearance: none;
    display: none;
    width: 0;
}

.bd_add [type="radio"]:not(:checked)+label:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid #979CA2;
    background: transparent;
    left: 0;
    top: 0;
}

.bd_add [type="radio"]:checked+label:after {
    border: 1px solid #F0E63C;
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: transparent;
    left: 0;
    top: 0;
}

.bd_add [type="radio"]:not(:checked)+label:before {
    position: absolute;
    content: "";
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.bd_add [type="radio"]:checked+label:before,
.bd_add [type="radio"]:not(:checked)+label:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #F0E63C;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.bd_payoption li {
    background: #fff;
    padding: 20px 40px;
}

.bd_payoption li label {
    margin-bottom: 0;
    display: block;
    color: #000;
    font-weight: 600;
}

.bd_placeordersec {
    background: #fff;
    padding: 20px;
    box-shadow: 0px 2px 2px rgba(169, 185, 200, 0.49);
}

.bd_placeordersec table,
.bd_placeordersec table td,
.bd_placeordersec table th {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    color: #000;
    font-weight: 500;
    margin-bottom: 0;
}

.bd_placeordersec table th {
    font-size: 16px;
    line-height: 20px;
}

.bd_placeordersec .bd_btn {
    display: block;
    text-align: center;
}

.bd_placeordersec ins {
    color: #1DB2AF;
}


/* Payment Page */

.bd_paymentsuccess .success_msg {
    text-align: center;
    font-weight: 500;
    color: #05a203;
}

.bd_paymentsuccess .thankyou_order_details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.bd_paymentsuccess .thankyou_order_details li {
    background: #c5e60d;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 22px;
}

.bd_paymentsuccess .thankyou_order_details li strong {
    display: block;
}

.bd_order_details {
    margin-top: 40px;
}

.bd_order_details .bd_ordertitle {
    font-weight: 500;
    color: #827b08;
}

.bd_order_details table.bd_tableorderdetails th {
    border: #a9a012 solid 1px !important;
    background: #f0e63c;
    color: #000;
}


/* Customer Dashboard */

.bd_lftmenu li a.aiz-side-nav-link img {
    margin-right: 20px;
    width: 15px;
    height: 15px;
}

.aiz-user-sidenav .aiz-side-nav-list .aiz-side-nav-item>ul.nav_sub_item {
    padding-left: 62px;
}

.aiz-user-sidenav .aiz-side-nav-list .aiz-side-nav-item>ul.nav_sub_item li a {
    color: #707070;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.aiz-user-sidenav .aiz-side-nav-list .aiz-side-nav-item>ul.nav_sub_item li a:hover {
    color: #bdb418;
}

.bd_filter {
    border: 0;
    padding: 0 15px;
    height: 34px;
    border-radius: 4px;
}

.bd_filter i {
    margin-right: 6px;
    -webkit-text-stroke: 1px #000;
    color: transparent;
}

.bd_filter:hover i {
    -webkit-text-stroke: 1px#f0e63c;
}

.bd_orderproinfo {
    padding-left: 20px;
}

.bd_orderproinfo .proname {
    color: #1F1F1F;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
}

.bd_orderproinfo .subproname {
    color: #707070;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}

.bd_orderproinfo .procolor,
.bd_orderproinfo .prosell {
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

.bd_orderproinfo p {
    padding-bottom: 10px;
}

.bd_orderprolist {
    align-items: normal;
    justify-content: inherit;
    position: relative;
    padding-right: 50px;
}

.bd_orderprolist .bd_cartprolist_boxrgt {
    align-items: inherit;
    padding-left: 50px;
}

.bd_prodeliverinfo .prodeliver {
    color: #3B9814;
    font-weight: bold;
    padding-bottom: 10px;
}

.bd_prodeliverinfo .prodate {
    color: #848484;
    font-weight: 500;
}

.bd_proreview {
    padding-left: 50px;
}

.bd_prostar {
    margin-bottom: 10px;
}

.bd_prostar i {
    color: #F0E63C;
    font-size: 20px;
    line-height: 24px;
}

.bd_proreview .bd_review {
    border: 0;
    height: 34px;
    padding: 0 15px;
    border-radius: 4px;
    text-transform: uppercase;
}

.bd_prodetailslink {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    padding: 0 12px;
}

.bd_prodetailslink a {
    color: #848484;
}

.bd_progress {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px 30px 40px 30px;
}

.bd_progress .progress-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
    background-color: transparent;
    flex-direction: inherit;
    overflow: inherit;
    white-space: inherit;
}

.bd_progress .progress-bar li:first-child,
.bd_progress .progress-bar li:last-child {
    flex: 1;
}

.bd_progress .progress-bar li:first-child {
    text-align: left;
}

.bd_progress .progress-bar li:last-child {
    text-align: right;
}

.bd_progress .progress-bar li:first-child:before {
    left: 0;
}

.bd_progress .progress-bar .is-complete:before {
    background-color: #F6BD0B;
    border-color: #f6bd0b;
}

.bd_progress .progress-bar .is-complete span,
.bd_progress .progress-bar .is-active span {
    color: #F6BD0B;
}

.bd_progress .progress-bar li:last-child:before {
    right: 0;
    left: auto;
}

.bd_progress .progress-bar li {
    flex: 2;
    position: relative;
    padding: 0 0 14px 0;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    font-weight: 600;
    white-space: nowrap;
    overflow: visible;
    min-width: 0;
    text-align: center;
    border-bottom: 2px solid #A9B9C87C;
    margin: 0;
}

.bd_progress .progress-bar li:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #B9C3CF;
    position: absolute;
    left: calc(50% - 6px);
    bottom: -7px;
    z-index: 3;
    transition: all .2s ease-in-out;
}

.bd_progress .progress-bar .is-active:before,
.bd_progress .progress-bar li:hover:before,
.bd_progress .progress-bar .is-hovered:before {
    background-color: #F6BD0B;
    border-color: #f6bd0b;
}

.bd_progress .progress-bar .is-complete:not(:first-child):after,
.bd_progress .progress-bar .is-active:not(:first-child):after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: -50%;
    z-index: 2;
    border-bottom: 2px solid #f6bd0b;
}

.bd_progress .progress-bar li .bd_ordernotification {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    font-size: 12px;
    line-height: 16px;
    color: #848484;
    font-weight: 500;
}

.bd_progress .progress-bar li:first-child .bd_ordernotification {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    left: 0;
}

.bd_progress .progress-bar li:last-child .bd_ordernotification {
    left: inherit;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    right: 0;
}


/* Product Details */

.bd_procaroimg {
    height: 600px;
    background: #fff;
}

.bd_procaroimg img {
    height: 100%;
    object-fit: contain;
}

.bd_proimgsec {
    display: flex;
    flex-wrap: wrap;
}

.bd_proimgsec #big {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

.bd_proimgsec #big .owl-nav .bd_owlnav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    ;
    text-align: center;
    border: 1px solid #000000;
    background: #ffffffe8;
    cursor: pointer;
}

.bd_proimgsec #big .owl-nav .bd_owlnav:hover {
    background: #fff;
}

.bd_proimgsec #big .owl-nav .owl-prev {
    left: 0;
    border: 1px solid #000;
}

.bd_proimgsec #big .owl-nav .owl-next {
    right: 0;
    border: 1px solid #000;
}

.bd_proimgsec #thumbs {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 2%;
    position: relative;
}

.bd_procarothumbimg {
    height: 130px;
    width: 130px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #000;
}

.bd_procarothumbimg img {
    height: 100%;
    object-fit: cover;
}

.bd_procarothumbimg:hover img {
    opacity: 0.5;
}

.bd_proimgsec #thumbs .item:nth-last-child(1) .bd_procarothumbimg {
    margin-bottom: 0;
    ;
}

.bd_proimgsec #thumbs .owl-nav .bd_owlnav {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    border: 1px solid #000000;
    padding: 10px 0;
    background: #ffffffe8;
    cursor: pointer;
}

.bd_proimgsec #thumbs .owl-nav .owl-prev>.owl-prev.bd_owlnav,
.bd_proimgsec #thumbs .owl-nav .owl-next>.owl-next.bd_owlnav {
    display: none;
}

.bd_proimgsec #thumbs .owl-nav .bd_owlnav:hover {
    background: #fff;
}

.bd_proimgsec #thumbs .owl-nav .owl-prev {
    top: 0;
    border: 1px solid #000;
}

.bd_proimgsec #thumbs .owl-nav .owl-next {
    bottom: 0;
    border: 1px solid #000;
}

.bd_probrand {
    font-size: 14px;
    line-height: 18px;
    color: #9F9F9F;
    text-transform: uppercase;
    font-weight: 400;
}

.bd_prodetalsreview .bd_prostar i {
    color: #000;
    font-size: 18px;
    line-height: 22px;
}

.bd_prodetalsreviewtxt {
    margin-left: 10px;
    color: #000;
    font-weight: 500;
}

.bd_protitle {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    color: #000;
}

.bd_infotwo .bd_proprice {
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    color: #000;
}

.bd_infotwo .bd_proprice del {
    margin-left: 10px;
    color: #9F9F9F;
}

.bd_head {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.bd_choose {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.bd_choose .aiz-checkbox {
    padding: 0;
    margin: 5px;
}

.bd_choose .aiz-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.bd_choose.aiz-checkbox-list .aiz-checkbox span {
    border: 1px solid #979CA2;
    width: 100%;
    height: 40px;
    padding: 0 8px;
    text-align: center;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 600;
    top: 0;
    background: #fff;
    ;
}

.bd_choose.aiz-checkbox-list .aiz-checkbox span.aiz-square-check {
    background: transparent;
}

.bd_choose.aiz-checkbox-list .aiz-checkbox:hover input~span,
.bd_choose.aiz-checkbox-list .aiz-checkbox input:checked~span {
    border-color: #000;
}

.bd_choose .aiz-square-check:after {
    display: none;
}

.bd_choose.aiz-checkbox-list .aiz-checkbox.disabled span {
    opacity: 0.5;
}

.bd_choose.aiz-checkbox-list .aiz-checkbox.disabled:hover span {
    border-color: #979CA2;
}

.bd_sizeguide a {
    display: flex;
    align-items: center;
    text-decoration: underline !important;
    color: #000000;
}

.bd_sizeguide a img {
    width: 40px;
    height: 15px;
    margin-right: 8px;
}

.bd_choose.bd_choosecolor.aiz-checkbox-list .aiz-checkbox span {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-top: 0;
    border-bottom: 2px solid #fff;
    border-left: 0;
    border-right: 0;
}

.bd_choose.bd_choosecolor.aiz-checkbox-list .aiz-checkbox span img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bd_choose.bd_choosecolor .aiz-square-check:after {
    display: block;
    width: 8px;
    height: 15px;
    border-width: 0 3px 3px 0 !important;
    left: 68%;
    top: -15px;
    margin: 0;
}

.bd_choosecolor .aiz-checkbox>input:checked~.aiz-square-check:before,
.bd_choosecolor .aiz-radio>input:checked~.aiz-square-check:before,
.bd_choosecolor .aiz-checkbox>input:checked~.aiz-rounded-check:before,
.bd_choosecolor .aiz-radio>input:checked~.aiz-rounded-check:before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background: #F0E63C;
    border-radius: 50px;
    top: -20px;
    right: 0;
}

.bd_check {
    position: relative;
}

.bd_check input[type="text"] {
    width: 100%;
    height: 45px;
    color: #000;
    border: 1px solid #000;
    padding: 0 90px 0 20px;
}

.bd_check button {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    border-top: 0;
    background: transparent;
    border-right: 0;
    border-bottom: 0;
    border-left: 1px solid;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.bd_infosix .bd_add {
    flex: 0 0 80%;
    max-width: 80%;
    height: 45px;
    border: 0;
    border-radius: 4px;
}

.bd_infosix .bd_heart {
    flex: 0 0 20%;
    max-width: 20%;
    border: 0;
    background: transparent;
    font-size: 25px;
}

.bd_protab .nav {
    border-bottom: 1px solid #DBDBDB;
}

.bd_protab .nav li.nav-item {
    margin-bottom: 0;
    padding: 0 50px;
}

.bd_protab .nav li.nav-item a {
    color: #707070 !important;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0;
}

.bd_protab .nav.nav-pills .nav-link.active,
.bd_protab .nav.nav-pills .show>.nav-link {
    color: #f0e63c !important;
    background-color: transparent;
    border-bottom: 1px solid #F0E63C;
}

.bd_protabtxt {
    margin-top: 50px;
}

.bd_protabtxt p {
    color: #000000;
}

.bd_protabtxt ul {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.bd_protabtxt li {
    position: relative;
    margin: 5px 0;
    padding-left: 15px;
    flex: 0 0 33.3%;
    max-width: 33.3%;
}

.bd_protabtxt li:after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background: #000000;
    top: 8px;
    left: 0;
    line-height: 1px;
}

.bd_bgcolor1 {
    background-color: #fff;
}

.bd_bgcolor {
    background-color: #F5F5F5;
}

.bd_heading {
    margin-bottom: 30px;
}

.bd_heading h2 {
    color: #000;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
}

.bd_similarpro .p-box .p-des .p-innerL {
    flex: 0 0 55%;
    max-width: 55%;
}

.bd_similarpro .p-box .p-img .bd_prosimg {
    height: 250px;
}

.bd_similarpro .p-box .p-img .bd_prosimg img {
    height: 100%;
    object-fit: cover;
}

.bd_proratingcomm li:after {
    display: none;
}


/* 10.07.21 */

.bd_carouselproduct {
    padding-bottom: 100px;
    position: relative;
}

.bd_carouselproimg {
    height: 280px;
    position: relative;
}

.bd_carouselproimg a {
    position: relative;
    height: 100%;
    display: block;
}

.bd_carouselproimg a:after {
    position: absolute;
    /*content: " ";*/
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(246, 189, 11);
    background: -moz-linear-gradient(360deg, rgba(246, 189, 11, 0.6278886554621849) 0%, rgba(255, 255, 255, 0) 66%);
    background: -webkit-linear-gradient(360deg, rgba(246, 189, 11, 0.6278886554621849) 0%, rgba(255, 255, 255, 0) 66%);
    background: linear-gradient(360deg, rgba(246, 189, 11, 0.6278886554621849) 0%, rgba(255, 255, 255, 0) 66%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#f6bd0b", endColorstr="#ffffff", GradientType=1);
}

.bd_carouselproimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bd_carouselproinfo {
    padding: 20px;
    /* box-shadow: 0px 2px 2px #a9b9c87c;
    background:#fff; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.bd_carouselproinfo .bd_caroselname {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    padding-bottom: 2px;
}

.bd_carouselproinfo .bd_caroseltitle {
    color: #707070;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 16px;
}

.bd_carouselproinfo .bd_caroseltitle p,
.bd_carouselproinfo .bd_caroselname p {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bd_carouselproinfo .bd_proprice {
    font-size: 14px;
    line-height: 18px;
}

.bd_carouselproinfo .bd_proprice ins {
    color: #F6BD0B;
    margin-right: 10px;
}

.bd_carouselproinfo .bd_proprice del {
    color: #707070;
    text-decoration-line: line-through !important;
}

.bd_cartrating {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.bd_cartrating a.btn_yellow {
    padding: 5px 15px;
    border-radius: 5px;
}

.bd_carouselproduct:hover .bd_cartrating {
    height: auto;
    opacity: 1;
    overflow: visible;
    margin-top: 15px;
}

.bd_carouselproduct:hover .bd_carouselproinfo {
    box-shadow: 0px 2px 2px #a9b9c87c;
    background: #fff;
}

.bd_cartrating .bd_prostar i {
    color: #F0E63C;
    font-size: 12px;
    line-height: 18px;
}

.bd_wishlist {
    position: absolute;
    top: 15px;
    right: 15px;
    background: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50px;
    box-shadow: 0 0 5px #ccc;
    z-index: 9;
}

.bd_wishlist a {}

.bd_wishlist a:after {
    display: none;
}

.s_more {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.s_more i {
    width: 1.193rem;
    height: 1.143rem;
    border-radius: 50%;
    background-color: #FCDD10;
    color: #fff;
    line-height: 1.186rem;
    text-align: center;
    margin-left: 5px;
}

.s_more.blue_more {
    right: inherit;
    left: 0;
}

.s_more.blue_more i {
    background: #5f7cdb;
    margin: 0 4px 0 0;
}

.bd_biggestsales .bd_carouselproimg a:after {
    position: absolute;
    /*content: " ";*/
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(95, 124, 219);
    background: -moz-linear-gradient(360deg, rgba(95, 124, 219, 1) 0%, rgba(255, 255, 255, 0) 66%);
    background: -webkit-linear-gradient(360deg, rgba(95, 124, 219, 1) 0%, rgba(255, 255, 255, 0) 66%);
    background: linear-gradient(360deg, rgba(95, 124, 219, 1) 0%, rgba(255, 255, 255, 0) 66%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#5f7cdb", endColorstr="#ffffff", GradientType=1);
}


}
.bd_remove {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f0e63c;
    font-size: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 38px;
    border-radius: 50px;
}
.bd_remove:hover {
    color: red;
}
.bd_shopimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bd_shopimg {
    height: 450px;
}
.bd_shopimg.bd_smallshopimg {
    height: 225px;
}

/* 16.07.2021 */
.bd_blogimg {
    height: 500px;
}
.bd_blogimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bd_bloginfo {
    padding: 20px 0 0 0;
}
.bd_bloginfo h5 {
    color: #f6bd0b;
}
.bd_bloginfo h2 {
    color: #000;
    font-weight: 600;
}
.recent_post .blog-content h4 {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.recent_post .blog-content p {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.recent_post .blog-img {
    height: 180px;
}
.ab_img {
    position: relative;
    margin-left: 6%;
    height: 100%;
}
.ab_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ab_img:after {
    position: absolute;
    content: " ";
    background: #00008017;
    width: 70%;
    height: 100%;
    bottom: -40px;
    left: -40px;
    z-index: -1;
}
.bd_brandimg {
    background: #ffffff;
    height: 140px;
    padding: 12px;
    border: 1px solid #cac7a2;
}
.bd_brandimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.contact_form1 {
    background: #fff;
    box-shadow: 0 2px 25px 0 #ccccc7;
    padding: 30px;
    position: relative;
    margin: 0 auto;
}
.contact_form1 .heading,
.contact_form1 .heading h2 {
    color: #fff;
}
.contact_form1 label {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-weight: 500;
    ;
    margin: 0 0 10px 0;
    display: block;
}
.contact_form1 label span {
    color: red;
}
.contact_form1 .wpcf7-form-control::placeholder {
    color: #ccc;
}
.contact_form1 input[type="text"],
.contact_form1 input[type="text"]:focus,
.contact_form1 input[type="email"],
.contact_form1 input[type="email"]:focus,
.contact_form1 input[type="tel"],
.contact_form1 input[type="tel"]:focus,
.contact_form1 input[type="number"],
.contact_form1 input[type="number"]:focus,
.contact_form1 textarea {
    width: 100%;
    padding: 0 10px;
    background-color: transparent;
    border: 2px solid #777100;
    color: #000;
    transition: 0.5s;
    position: relative;
}
.contact_form1 .wpcf7-form-control:focus {
    border-color: #000 !important;
    box-shadow: none !important;
}
.contact_form1 .wpcf7-text {
    height: 45px;
    border: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.contact_form1 .wpcf7-textarea {
    height: 100px;
    padding-top: 20px;
    background-color: transparent;
    color: #000;
    border-radius: .25rem;
    font-size: 16px;
}
.contact_form1 .wpcf7-submit {
    height: 45px;
    padding: 0 40px;
    background: transparent;
    border: 2px solid #777100;
    border-radius: 5px;
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}
.contact_form1 .wpcf7-submit:hover {
    color: #fff;
    background: #000;
    border: 2px solid #000;
}
.conheading p {
    padding-bottom: 5px;
    color: #292700;
}
.conheading h2 {
    font-weight: 600;
    color: #F6BD0B;
}
.bd_height {
    min-height: 100vh;
}
.blog-cat-sidebar {
    background: white;
    border: 1px solid #999191;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 50px;
}
.captcha-label {
    border: 2px solid #777100;
    border-radius: 20px;
    text-align: center;
    padding: 11px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.no-product-found h3 {
    margin: 0;
}
.no-product-found {
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    border-style: dashed;
    padding: 50px;
    background: #eee;
}