<div class="aiz-user-panel">
   <div class="bd_breadcrumbs">
      <ul class="breadcrumbs">
         <li><a href="#">Home</a></li>
         <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
         <li><span>Order</span></li>
      </ul>
   </div>
   <div class="aiz-titlebar mt-2 mb-2">
      <div class="row align-items-center">
         <div class="col-md-6">
            <h1 class="h3">My Order</h1>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-body bd_table">
         <table  datatable [dtOptions]="dtOptions" class="row-border hover">
            <tfoot>
               <tr>
                  <td></td>
                  <td><input type="text" name="form-control" [(ngModel)]="searchForm.code"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                     <select class="form-control aiz-selectpicker" data-placeholder="Filter by Payment Status" [(ngModel)]="searchForm.delivery_status">
                     <option value="">Filter by Deliver Status</option>
                     <option value="pending">Pending</option>
                     <option value="confirmed">Confirmed</option>
                     <option value="on_delivery">On delivery</option>
                     <option value="delivered">Delivered</option>
                     </select>
                  </td>
                  <td>
                     <select class="form-control aiz-selectpicker" data-placeholder="Filter by Payment Status" [(ngModel)]="searchForm.payment_status">
                     <option value="" selected="">Filter by Payment Status</option>
                     <option value="paid">Paid</option>
                     <option value="unpaid">Un-Paid</option>
                     </select>
                  </td>
                  <td></td>
               </tr>
            </tfoot>
            <thead>
               <tr>
                  <th>#</th>
                  <th width="20%">Order Code</th>
                  <th>Num. of Products</th>
                  <th>Customer</th>
                  <th>Amount</th>
                  <th>Delivery Status</th>
                  <th>Payment Status</th>
                  <th width="150px"  class="text-center">Options</th>
               </tr>
            </thead>
            <tbody *ngIf="orders?.length != 0">
               <tr *ngFor="let order of orders;let i = index">
                  <td>{{i+start_index+1}}</td>
                  <td><a href="javascript:void(0)" routerLink="/seller/vieworder/{{order.id}}" >{{order.code}}</a></td>
                  <td>{{order.net_product}}</td>
                  <td>{{order.name}}</td>
                  <td>৳{{order.grand_total}}</td>
                  <td>{{order.delivery_status}}</td>
                  <td>
                     <span class="badge badge-inline badge-success" *ngIf="order.payment_status=='Paid'">Paid</span>
                     <span class="badge badge-inline badge-danger" *ngIf="order.payment_status!='Paid'">Unpaid</span>
                  </td>
                  <td>
                     <a href="javascript:void(0)" class="btn btn-soft-info btn-icon btn-circle btn-sm" routerLink="/seller/vieworder/{{order.id}}"  title="Order Details">
                     <i class="las la-eye"></i>
                     </a>
                     <a href="" class="btn btn-soft-warning btn-icon btn-circle btn-sm" title="Download Invoice">
                     <i class="las la-download"></i>
                     </a>
                  </td>
               </tr>
            </tbody>
            <tbody *ngIf="orders?.length == 0">
               <tr>
                  <td colspan="8" class="no-data-available">No data!</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   
   <style>
      td{ text-align: center}
      ::ng-deep table.dataTable td.dataTables_empty {
      display: none;
      }
      tfoot {
      display: table-row-group;
      }
   </style>
</div>

