<section class="gry-bg py-4">
   <div class="profile">
      <div class="container">
         <div class="row">
            <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-8 mx-auto">
               <div class="card bd_form">
                  <div class="text-center pt-3 pb-3 bd_formheader">
                     <h1 class="h4 fw-600">
                        Create an account.
                     </h1>
                  </div>
                  <div class="px-4 py-3 py-lg-4">
                     <div class="">
                        <form [formGroup]="regForm" (ngSubmit)="onSubmit()" *ngIf="regForm">
                        <div class="row" *ngIf="logo_preview_url">
                            <div class="form-group col-lg-7" style="text-align:right;">
                              <img src="{{logo_preview_url}}" class="img-fit" style="width:150px;height:auto;">    
                           </div>
                        </div>
                        <div class="row">
                           <div class="form-group col-lg-6">
                              <input type="text" class="form-control" value="" placeholder="Full Name"
                                 formControlName="name">
                              <div *ngIf="regForm.get('name').invalid && IsSubmitted">
                                 <div  class="form_validation_error">
                                    Please Enter name
                                 </div>
                              </div>
                           </div>
                           <div class="form-group col-lg-6">
                              <input type="text" formControlName="phone" class="form-control" value=""
                                 placeholder="Phone" maxlength="11" appNumericinput  inputmode="numeric">
                              <div *ngIf="regForm.get('phone').invalid && IsSubmitted">
                                 <div  class="form_validation_error">
                                    Please Enter 11 digit phone no
                                 </div>
                              </div>
                           </div>

                           <div class="form-group col-lg-6">
                              <input type="email" class="form-control" value="" placeholder="Email"
                                 formControlName="email">
                              <div *ngIf="regForm.get('email').invalid && IsSubmitted">
                                 <div  class="form_validation_error">
                                    Please Enter Valid Email Address
                                 </div>
                              </div>
                           </div>
                           <div class="form-group col-lg-6">
                              <input type="password" class="form-control" placeholder="Password"
                                 formControlName="password">
                              <div *ngIf="regForm.get('password').invalid && IsSubmitted">
                                 <div  class="form_validation_error">
                                    Please Enter At least 6 digit Password
                                 </div>
                              </div>
                           </div>

                           <div class="form-group col-lg-6">
                              <input type="password" class="form-control" placeholder="Confirm Password"
                                 formControlName="confirm_password">
                              <div *ngIf="regForm.get('confirm_password').invalid && IsSubmitted">
                                 <div  class="form_validation_error">
                                    Please Enter Confirm  Password Same as password
                                 </div>
                              </div>
                           </div>
                           <div class="form-group col-lg-6">
                              <input type="text" class="form-control" placeholder="Shop Name"
                                 formControlName="shop_name">
                              <div *ngIf="regForm.get('shop_name').invalid && IsSubmitted">
                                 <div  class="form_validation_error">
                                    Please Enter Shop Name
                                 </div>
                              </div>
                           </div>

                           <div class="form-group col-lg-12 bd_file">
                              <!--                                        <input type="file" class="form-control" placeholder="Shop Logo"
                                 formControlName="shop_logo_file">-->
                              <file-uploader [maxSizeInKb]="1024" [allowMultiple]="False" [fileType]="'image/*'" 
                              (onSelection)="fileuploaderFileChange($event)"  [required]="false"></file-uploader>
                              <div *ngIf="regForm.get('logo').invalid && IsSubmitted">
                                 <div  class="form_validation_error">
                                    Please Upload Shop Logo
                                 </div>
                              </div>
                           </div>
                           <div class="form-group col-lg-6">
                              
                              <ng-select [items]="cities" 
                                [clearable]="false"   
                                (change)="populateThana()"
                                placeholder="Select City"   
                                formControlName="city"
                                bindLabel="value" 
                                bindValue="value" [multiple]="false">
                                </ng-select>   
                              <div *ngIf="regForm.get('city').invalid && IsSubmitted">
                                 <div  class="form_validation_error">
                                    Please Enter City
                                 </div>
                              </div>
                           </div>

                           <div class="form-group col-lg-6">
                              
                              <ng-select [items]="thanas" 
                                [clearable]="false"   
                                (change)="populatePostcode()"
                                placeholder="Select Thana"   
                                formControlName="thana"
                                bindLabel="value" 
                                bindValue="value" [multiple]="false">
                                </ng-select>    
                              <div *ngIf="regForm.get('thana').invalid && IsSubmitted">
                                 <div  class="form_validation_error">
                                    Please Select Thana
                                 </div>
                              </div>
                           </div>
                           <div class="form-group col-lg-6">
                              <ng-select [items]="postalcodes" 
                                [clearable]="false"   
                                (change)="populateArea()"
                                placeholder="Select Postal Code"   
                                formControlName="postalcode"
                                bindLabel="value" 
                                bindValue="value" [multiple]="false">
                                </ng-select> 
                              <div *ngIf="regForm.get('postalcode').invalid && IsSubmitted">
                                 <div  class="form_validation_error">
                                    Please Select Postal Code
                                 </div>
                              </div>
                           </div>

                           <div class="form-group col-lg-6">
                              
                               <ng-select [items]="areas" 
                                [clearable]="false"   
                                placeholder="Select Area"   
                                formControlName="area"
                                bindLabel="value" 
                                bindValue="value" [multiple]="false">
                                </ng-select> 
                              <div *ngIf="regForm.get('area').invalid && IsSubmitted">
                                 <div  class="form_validation_error">
                                    Please Select Area
                                 </div>
                              </div>
                           </div>
                           <div class="form-group col-lg-12">
                              <input type="text" class="form-control" placeholder="Address"
                                 formControlName="address">
                              <div *ngIf="regForm.get('address').invalid && IsSubmitted">
                                 <div  class="form_validation_error">
                                    Please Enter Address
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="mb-3">
                           <label class="aiz-checkbox">
                           <input type="checkbox" name="checkbox_example_1"
                              formControlName="checkbox_example_1" value="1">
                           <span class="opacity-60">By signing up you agree to our terms and
                           conditions.</span>
                           <span class="aiz-square-check"></span>
                           </label>
                           <div *ngIf="regForm.get('checkbox_example_1').invalid && IsSubmitted">
                              <div  class="form_validation_error">
                                 Please check the terms and conditions
                              </div>
                           </div>
                        </div>
                        <div class="mb-5">
                           <button type="submit" class="btn btn_yellow btn-block fw-600" >Create
                           Account</button>
                        </div>
                        </form>
                     </div>
                     <div class="text-center">
                        <p class="text-muted mb-0 pb-2">Already have an account?</p>
                        <a [routerLink]="['/login']">Log In</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

