input.parsley-error, select.parsley-error, textarea.parsley-error {
background: #FAEDEC;
border: 1px solid #E85445;
}
ul.parsley-errors-list {
list-style: none;
color: #E74C3C;
padding-left: 0;
}
ul.parsley-errors-list {
list-style: none;
color: #E74C3C;
}    
.content-body
{
min-height:1500px !important;
}
table th  {
text-align:center !important;
}
table tbody td  {
text-align:center !important;
}