<section class="gry-bg py-4">
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8 mx-auto">
                    <div class="card bd_form">
                        <div class="text-center pt-3 pb-3 bd_formheader">
                            <h1 class="h4 fw-600 mb-0">
                                Create an account.
                            </h1>
                        </div>
                        <div class="px-4 py-3 py-lg-4">
                            
                                <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="" placeholder="Full Name"
                                            formControlName="name" [ngClass]="{'parsley-error':regForm.get('name').invalid && IsSubmitted}">
                                            <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="regForm.get('name').invalid && IsSubmitted">
                                            <li class="parsley-required">Please Enter Full Name.</li>
                                         </ul> 
                                               
                                              </div>                         

                                    <div class="form-group">
                                        <input type="number" formControlName="phone" class="form-control" value=""
                                            placeholder="Phone " name="phone" min="11" appNumericinput  inputmode="numeric" [ngClass]="{'parsley-error':regForm.get('phone').invalid && IsSubmitted}">
                                            <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="regForm.get('phone').invalid && IsSubmitted">
                                            <li class="parsley-required">Please Enter 11 digit phone no.</li>
                                         </ul> 
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" value="" placeholder="Email"
                                            formControlName="email" [ngClass]="{'parsley-error':regForm.get('email').invalid && IsSubmitted}">
                                         <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="regForm.get('email').invalid && IsSubmitted">
                                        <li class="parsley-required">Please Enter Valid Email Address.</li>
                                     </ul> 
                                        </div>
                                    




                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="password"
                                            formControlName="password" [ngClass]="{'parsley-error':regForm.get('password').invalid && IsSubmitted}">
                                            <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="regForm.get('password').invalid && IsSubmitted" >
                                            <li class="parsley-required">Please Enter At least 6 digit Password.</li>
                                         </ul> 
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password"
                                            formControlName="password_confirmation" [ngClass]="{'parsley-error':regForm.get('password_confirmation').invalid && IsSubmitted}">
                                           <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="regForm.get('password_confirmation').invalid && IsSubmitted">
                                            <li class="parsley-required">Please Enter Confirm  Password Same as password.</li>
                                         </ul>  
                                    </div>


                                    <div class="mb-3">
                                        <label class="aiz-checkbox">
                                            <input type="checkbox" name="checkbox_example_1" required=""
                                                formControlName="checkbox_example_1">
                                            <span class="opacity-60">By signing up you agree to our terms and
                                                conditions.</span>
                                            <span class="aiz-square-check"></span>
                                        </label>
                                       <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="regForm.get('checkbox_example_1').invalid && IsSubmitted">
                                        <li class="parsley-required">Please check the terms and conditions.</li>
                                     </ul> 
                                    </div>

                                    <div class="mb-0">
                                        <button type="submit" class="btn btn_yellow btn-block fw-600">Create
                                            Account</button>
                                    </div>
                                </form>
                            </div>
                            <div class="text-center pt-4 pb-4">
                                <p class="text-muted mb-0 pb-1">Already have an account?</p>
                                <a [routerLink]="['/login']">Log In</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    
</section>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>