<div *ngIf="loadTpl">
   <div class="modal-header bd_modalheader">
      <h4 class="modal-title">UPLOAD</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body bd_modalbody">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
         <a ngbNavLink>Upload New</a>
         <ng-template ngbNavContent>
            <div class="center">
               <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" [showBrowseBtn]="false" accept="{{acceptType}}" [multiple]="multiple" style="min-height: 100px;">
               <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                  Browse Or Drag and Drop Files Here
                  <button type="button" (click)="openFileSelector()" class="btn btn_yellow" style="margin-left:12px;"> Browse File</button>
               </ng-template>
               </ngx-file-drop>
            </div>
             
         </ng-template>
      </li>
      <li [ngbNavItem]="2">
         <a ngbNavLink>Select File</a>
         <ng-template ngbNavContent>
            <div class="center">
               <div class="tab-pane active h-100" id="aiz-select-file">
                   <form [formGroup]="galleryForm" *ngIf="galleryForm">  
                    <div class="aiz-uploader-filter pt-1 pb-3 border-bottom mb-4">
                     <div class="row align-items-center gutters-5 gutters-md-10 position-relative">
                        <div class="col-xl-5 col-md-7 col-5">
                           <div class="">
                              <!-- Input -->
                              <select class="form-control" formControlName="orderBy" (change)="populateGallery();">
                               <option *ngFor="let item of sortOptions" [ngValue]="item.value">{{item.text}}</option>  

                              </select>
                              <!-- End Input -->
                           </div>
                        </div>
                        
                        <div class="col-md-4 col-xl-3 ml-auto mr-0 col-2 position-static">
                           <div class="aiz-uploader-search text-right">
                              <input type="text" class="form-control" formControlName="file_original_name" (keyup)="populateGallery();" placeholder="Search your files">
                              <i class="search-icon d-md-none"><span></span></i>
                           </div>
                        </div>
                     </div>
                  </div>
                   </form>      
                  <div class="aiz-uploader-all clearfix c-scrollbar-light">
                     <div class="aiz-file-box-wrap" aria-hidden="false" data-selected="true" *ngFor="let item of galleryimages | slice: (curPage * pageSize) - pageSize :curPage * pageSize">
                        <div class="aiz-file-box">
                           <div class="card card-file" (click)="selectPhoto(item)" title="{{item.file_original_name}}.{{item.extension}}" [ngClass]="{'aiz-uploader-select':selectItems.includes(item)}" *ngIf="item.type=='image'">
                              <div class="card-file-thumb"><img src="{{item.file_name}}" class="img-fit"></div>
                              <div class="card-body">
                                 <h6 class="d-flex"><span class="text-truncate title">{{item.file_original_name}}</span><span class="ext">.{{item.extension}}</span></h6>
                                 <p>{{item.file_size}} KB</p>
                              </div>
                           </div>
                            <div class="card card-file" (click)="selectPdf(item)" title="{{item.file_original_name}}.{{item.extension}}" [ngClass]="{'aiz-uploader-select':selectItems.includes(item)}" *ngIf="item.type=='pdf'">
                                <div class="card-file-thumb"><a href="javascript:void(0)" ><img src="assets/pdf.jpg" class="img-fit"></a></div>
                              <div class="card-body">
                                 <h6 class="d-flex"><span class="text-truncate title">{{item.file_original_name}}</span><span class="ext">.{{item.extension}}</span></h6>
                                 <p>{{item.file_size}} KB</p>
                              </div>
                           </div> 
                        </div>
                     </div>
                    
                  </div>
                   
               </div>
             
            </div>
         </ng-template>
      </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
   </div>
   <div class="modal-footer" *ngIf="galleryimages">
       
       <div class="aiz-uploader-selected" >{{selectItems.length}} File selected</div>
       <button type="button" class="btn-link btn btn-sm p-0 aiz-uploader-selected-clear" (click)="selectItems=[]">Clear</button>
       <button type="button" class="btn btn-sm btn btn_yellow" [disabled]="curPage == 1" (click)="curPage = curPage - 1">Prev</button>
       <button type="button" class="btn btn-sm btn btn_yellow" style=" margin-left:5px;" [disabled]="curPage >= galleryimages.length/pageSize" (click)="curPage = curPage + 1">Next</button>
       <button type="button" class="btn btn-sm btn_yellow" (click)="addItem();">Add Files</button>   


   </div>
</div>
<style>
    .modal-footer
    {
       min-height:5px !important;
       padding:5px 5px !important; 
    }
    
   
</style>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>