<div class="aiz-user-panel">
   <div class="bd_breadcrumbs">
      <ul class="breadcrumbs">
         <li><a href="#">Home</a></li>
         <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
         <li><span>Product</span></li>
      </ul>
   </div>
   <div class="aiz-titlebar mt-2 mb-2">
      <div class="row align-items-center">
         <div class="col-md-6">
            <h1 class="h3">Add Your Product</h1>
         </div>
      </div>
   </div>
   <form class="" action="" method="POST" [formGroup]="productForm" (ngSubmit)="onSubmit()">
   <div class="card">
      <div class="card-header">
         <h5 class="mb-0 h6">Product Information</h5>
      </div>
      <div class="card-body">
         
         
         <div class="form-group row" id="category">
            <label class="col-md-3 col-from-label">Category</label>
            <div class="col-md-8">
             
               <ng-select [items]="categories" 
               formControlName="category_id"
               placeholder="Select Category"
               bindLabel="text" 
               (change)="populateBrand($event);populateChild($event);populateProduct($event);resetForm();"
               bindValue="value" [multiple]="false"
               >
               </ng-select>
                <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.get('category_id').invalid && IsSubmitted">
                   <li class="parsley-required">Please Choose Category.</li>
                </ul> 
            </div>
         </div>
          <div class="form-group row" *ngIf="subcategories">
            <label class="col-md-3 col-from-label">Sub-Category</label>
            <div class="col-md-8">
              
               <ng-select [items]="subcategories" 
               formControlName="sub_category_id"
               placeholder="Select Sub-Category"
               bindLabel="text" 
               (change)="populatesubBrand($event);populateProduct($event);"
               bindValue="value" [multiple]="false">
               </ng-select>
                <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.get('sub_category_id').invalid && IsSubmitted">
                   <li class="parsley-required">Please Sub-Category.</li>
                </ul> 
            </div>
         </div> 
          <div class="form-group row">
            <label class="col-md-3 col-from-label">Product Name</label>
            <div class="col-md-8">
               <input type="text" class="form-control"  formControlName="name" placeholder="Product Name" [ngClass]="{'parsley-error':productForm.get('name').invalid && IsSubmitted}">
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.get('name').invalid && IsSubmitted">
                   <li class="parsley-required">Please Enter Product Name.</li>
                </ul> 
            </div>
         </div>
          <div class="form-group row">
            <label class="col-md-3 col-from-label">Choose Product</label>
            <div class="col-md-8">
              <ng-select [items]="products" 
               formControlName="existing_p_id"
               placeholder="Choose Product"
               bindLabel="name" 
               (change)="copyProduct($event);"
               bindValue="id" [multiple]="false"
               >
               </ng-select> 
                
            </div>
         </div>
         
         <div class="form-group row" id="brand">
            <label class="col-md-3 col-from-label">Brand</label>
            <div class="col-md-8">
               <select class="form-control aiz-selectpicker" formControlName="brand_id" id="brand_id" >
                  <option value="">Select Brand</option>
                   <option *ngFor="let item of brands" [ngValue]="item.id">{{item.name}}</option> 
               </select>
            </div>
         </div>
          <div class="form-group row">
            <label class="col-md-3 col-from-label">Weight Range</label>
            <div class="col-md-8">
               <select class="form-control" formControlName="weightrange"  [ngClass]="{'parsley-error':productForm.get('weightrange').invalid && IsSubmitted}">
                  <option value="">Select Weight Range</option>
                  <option *ngFor="let item of weights" [ngValue]="item.weight">{{item.weight}}</option>  
               </select>
                <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.get('weightrange').invalid && IsSubmitted">
                   <li class="parsley-required">Please Choose Weight Range.</li>
                </ul> 
            </div>
         </div> 
          <div class="form-group row">
            <label class="col-md-3 col-from-label">Weight</label>
            <div class="col-md-8">
                 <input type="text" class="form-control"  formControlName="weight" placeholder="Weight" [ngClass]="{'parsley-error':productForm.get('weight').invalid && IsSubmitted}">
                <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.get('weight').invalid && IsSubmitted">
                   <li class="parsley-required">Please Enter Weight.</li>
                </ul> 
            </div>
         </div>
        <div class="form-group row">
            <label class="col-md-3 col-from-label">Shipping Charges Type</label>
            <div class="col-md-8">
               <select class="form-control" formControlName="additional_type"  [ngClass]="{'parsley-error':productForm.get('additional_type').invalid && IsSubmitted}">
                  <option value="">Select Shipping Charges Type</option>
                  <option *ngFor="let item of shiping_charge_types" [ngValue]="item.value">{{item.text}}</option>  
               </select>
                <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.get('additional_type').invalid && IsSubmitted">
                   <li class="parsley-required">Please Choose Shipping Charges Type.</li>
                </ul> 
            </div>
         </div>  
         <div class="form-group row">
            <label class="col-md-3 col-from-label">Unit</label>
            <div class="col-md-8">
               <input type="text" class="form-control"  formControlName="unit" placeholder="Unit (e.g. KG, Pc etc)" [ngClass]="{'parsley-error':productForm.get('unit').invalid && IsSubmitted}">
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.get('unit').invalid && IsSubmitted">
                   <li class="parsley-required">Please Enter Unit.</li>
                </ul> 
            </div>
         </div>
         <div class="form-group row">
            <label class="col-md-3 col-from-label">Minimum Qty</label>
            <div class="col-md-8">
               <input type="text" class="form-control" formControlName="min_qty"   appNumericinput  inputmode="numeric" [ngClass]="{'parsley-error':productForm.get('min_qty').invalid && IsSubmitted}">
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.get('min_qty').invalid && IsSubmitted">
                   <li class="parsley-required">Please Enter Minimum Qty.</li>
                </ul> 
            </div>
         </div>
         <div class="form-group row">
            <label class="col-md-3 col-from-label">Tags</label>
            <div class="col-md-8" id="my_tags">
                <tag-input formControlName='tags' [editable]='true' 
                    
                     [placeholder]="'Type and hit enter to add a tag'" [secondaryPlaceholder]="'Type and hit enter to add a tag'" [inputClass]="'form-control'"
                     ></tag-input>
            </div>
         </div>
         <div class="form-group row">
            <label class="col-md-3 col-from-label">Refund or Replace</label>
            <div class="col-md-8">
               <select  class="form-control" formControlName="refund"  [ngClass]="{'parsley-error':productForm.get('refund').invalid && IsSubmitted}"  (change)="refund()">
                  <option value="">Please choose</option>
                  <option *ngFor="let refund of refunds" [ngValue]="refund.value">{{refund.text}}</option>  
               </select>
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.get('refund').invalid && IsSubmitted">
                   <li class="parsley-required">Please Choose Refund or Replace.</li>
                </ul>  
            </div>
         </div>
         <div class="form-group row" [hidden]="!productForm.get('refund').value">
            <label class="col-md-3 col-from-label">Return and replacement Days</label> 
            <div class="col-md-8">
               <input type="text" class="form-control" formControlName="before" placeholder="Before Days" appNumericinput  inputmode="numeric">
               
            </div>
         </div>
         <div class="form-group row" *ngIf="is_barcode">
            <label class="col-md-3 col-from-label">Barcode</label>
            <div class="col-md-8">
               <input type="text" class="form-control"  formControlName="barcode" placeholder="Barcode">
            </div>
         </div>
         <div class="form-group row" *ngIf="is_refund">
            <label class="col-md-3 col-from-label">Refundable</label>
            <div class="col-md-8">
               <label class="aiz-switch aiz-switch-success mb-0">
               <input type="checkbox" formControlName="refundable">
               <span></span>
               </label>
            </div>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header">
         <h5 class="mb-0 h6">Product Images</h5>
      </div>
      <div class="card-body">
         <div class="form-group row">
            <label class="col-md-3 col-form-label" for="signinSrEmail">Gallery Images</label>
            <div class="col-md-8">
               <button type="button" class="btn btn_yellow" (click)="uploadPhoto('image/*',true,'gallery','uploadFile')">UPLOAD PHOTO</button>
               <div class="file-preview box sm">
                  <div class="d-flex justify-content-between align-items-center mt-2 file-preview-item"  title="{{item.file_original_name}}.{{item.extension}}"  *ngFor="let item of productForm.get('photos').value; let i = index;">
                     <div class="align-items-center align-self-stretch d-flex justify-content-center thumb"><img src="{{item.file_name}}" class="img-fit"></div>
                     <div class="col body">
                        <h6 class="d-flex"><span class="text-truncate title">{{item.file_original_name}}</span><span class="ext">.{{item.extension}}</span></h6>
                        <p>{{item.file_size}} KB</p>
                     </div>
                     <div class="remove"><button class="btn btn-sm btn-link remove-attachment" type="button" (click)="removeGallery(i)"><i class="la la-close"></i></button></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="form-group row">
            <label class="col-md-3 col-form-label" for="signinSrEmail">Thumbnail Image <small>(290x300)</small></label>
            <div class="col-md-8">
               <button type="button" class="btn btn_yellow" (click)="uploadPhoto('image/*',true,'thumb','uploadFile')">UPLOAD PHOTO</button>
               <div class="file-preview box sm">
                  <div class="d-flex justify-content-between align-items-center mt-2 file-preview-item"  title="{{item.file_original_name}}.{{item.extension}}"  *ngFor="let item of productForm.get('thumbnail_imgs').value; let i = index;">
                     <div class="align-items-center align-self-stretch d-flex justify-content-center thumb"><img src="{{item.file_name}}" class="img-fit"></div>
                     <div class="col body">
                        <h6 class="d-flex"><span class="text-truncate title">{{item.file_original_name}}</span><span class="ext">.{{item.extension}}</span></h6>
                        <p>{{item.file_size}} KB</p>
                     </div>
                     <div class="remove"><button class="btn btn-sm btn-link remove-attachment" type="button" (click)="removeThumb(i)"><i class="la la-close"></i></button></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header">
         <h5 class="mb-0 h6">Product Videos</h5>
      </div>
      <div class="card-body">
         <div class="form-group row">
            <label class="col-md-3 col-from-label">Video Provider</label>
            <div class="col-md-8">
               <select class="form-control aiz-selectpicker" formControlName="video_provider">
                  <option value="">Video Provider</option>
                  <option *ngFor="let video_provider of video_providers" [ngValue]="video_provider.value">{{video_provider.text}}</option>  
               </select>
            </div>
         </div>
         <div class="form-group row">
            <label class="col-md-3 col-from-label">Video Link</label>
            <div class="col-md-8">
               <input type="text" class="form-control" id="video_link" formControlName="video_link" placeholder="Video Link">
            </div>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header">
         <h5 class="mb-0 h6">Product Variation</h5>
      </div>
      <div class="card-body">
         <div class="form-group row">
            <div class="col-md-3">
               <input type="text" class="form-control" value="Colors">
            </div>
            <div class="col-md-8">
               <ng-select formControlName="colors" [multiple]="true" [readonly]="!productForm.get('colors_active').value"  (add)="skuCombination()"
               (remove)="skuCombination()"
               (clear)="skuCombination()">
               <ng-option *ngFor="let color of colors" [value]="color.id"><span><span class='size-15px d-inline-block mr-2 rounded border' style='background:{{ color.code }}'></span><span>{{ color.name }}</span></span></ng-option>
               </ng-select>
            </div>
            <div class="col-md-1">
               <label class="aiz-switch aiz-switch-success mb-0">
               <input value="1" id="color_exist" type="checkbox" formControlName="colors_active" (click)="clearAll();">
               <span></span>
               </label>
            </div>
         </div>
         <div class="form-group row">
            <div class="col-md-3">
               <input type="text" class="form-control" value="Attributes">
            </div>
            <div class="col-md-8">
               <ng-select [items]="attributes" 
               formControlName="choice_attributes"
               bindLabel="name" 
               (add)="addAttr($event)"
               (remove)="removeAttr($event)"
               (clear)="removeallAttr()"
               bindValue="id" [multiple]="true"  [readonly]="!productForm.get('colors_active').value">
               </ng-select>
            </div>
         </div>
         <div>
            <p>Choose the attributes of this product and then input values of each attribute</p>
            <br>
         </div>
         <div class="customer_choice_options" *ngIf="productForm.get('attribute_values')['controls']">
            <div class="form-group row" formArrayName="attribute_values" *ngFor="let item of productForm.get('attribute_values')['controls'] let i = index;">
               <div [formGroupName]="i" class="row col-md-12 form-group">
                  <div class="col-md-3"><input type="text" class="form-control" formControlName="attr_name"  placeholder="Choice Title" readonly ></div>
                  <div class="col-md-8">
                     <tag-input formControlName='attr_value' [editable]='true' 
                     (onAdd)="skuCombination($event)"
                     (onRemove)="skuCombination($event)"
                     [placeholder]="'Enter choice values'" [secondaryPlaceholder]="'Enter choice values'" [inputClass]="'form-control'"
                     ></tag-input>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header">
         <h5 class="mb-0 h6">Product price + stock</h5>
      </div>
      <div class="card-body">
         <div class="form-group row">
            <label class="col-md-3 col-from-label">Unit price</label>
            <div class="col-md-6">
               <input type="number" min="0" value="0" step="0.01"  placeholder="Unit price" formControlName="unit_price" class="form-control"  appDecimalinput [ngClass]="{'parsley-error':productForm.get('unit_price').invalid && IsSubmitted}" (keyup)="changeBasePrice($event.target.value);">
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.get('unit_price').invalid && IsSubmitted">
                   <li class="parsley-required">Please Enter Unit price.</li>
                </ul> 
            </div>
         </div>
         <div class="form-group row">
            <label class="col-md-3 col-from-label">Purchase price</label>
            <div class="col-md-6">
               <input type="number" min="0" value="0" step="0.01" placeholder="Purchase price" formControlName="purchase_price" class="form-control" appDecimalinput [ngClass]="{'parsley-error':productForm.get('purchase_price').invalid && IsSubmitted}">
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.get('purchase_price').invalid && IsSubmitted">
                   <li class="parsley-required">Please Enter Purchase price.</li>
                </ul> 
            </div>
         </div>
         <div class="form-group row">
            <label class="col-md-3 col-from-label">Tax</label>
            <div class="col-md-6">
               <input type="number" min="0" value="0" step="0.01"  placeholder="Tax" formControlName="tax" class="form-control"  appDecimalinput [ngClass]="{'parsley-error':productForm.get('tax').invalid && IsSubmitted}">
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.get('tax').invalid && IsSubmitted">
                   <li class="parsley-required">Please Enter Tax.</li>
                </ul> 
            </div>
            <div class="col-md-3">
               <select class="form-control aiz-selectpicker" name="tax_type">
               <option *ngFor="let tax_type of tax_types" [ngValue]="tax_type.value">{{tax_type.text}}</option>  
               </select>
            </div>
         </div>
         <div class="form-group row">
            <label class="col-md-3 col-from-label">Discount</label>
            <div class="col-md-6">
               <input type="number" min="0" value="0" step="0.01" placeholder="Discount" formControlName="discount" class="form-control" appDecimalinput [ngClass]="{'parsley-error':productForm.get('discount').invalid && IsSubmitted}">
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.get('discount').invalid && IsSubmitted">
                   <li class="parsley-required">Please Enter Discount.</li>
                </ul> 
            </div>
            <div class="col-md-3">
               <select class="form-control aiz-selectpicker" formControlName="discount_type">
               <option *ngFor="let discount_type of discount_types" [ngValue]="discount_type.value">{{discount_type.text}}</option>  
               </select>
            </div>
         </div>
         <div class="form-group row" id="quantity">
            <label class="col-md-3 col-from-label">Quantity</label>
            <div class="col-md-6">
               <input type="number" min="0" value="0" step="1" placeholder="Quantity" formControlName="current_stock" class="form-control" appNumericinput  inputmode="numeric" [ngClass]="{'parsley-error':productForm.get('current_stock').invalid && IsSubmitted}">
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.get('current_stock').invalid && IsSubmitted">
                   <li class="parsley-required">Please Enter Quantity.</li>
                </ul> 
            </div>
         </div>
         <br>
         <div class="sku_combination" id="sku_combination" *ngIf="productForm.get('variations').value.length>0">
          <table class="table table-bordered">
		<thead>
			<tr>
				<td class="text-center">
					<label for="" class="control-label">Variant</label>
				</td>
				<td class="text-center">
					<label for="" class="control-label">Variant Price</label>
				</td>
				<td class="text-center">
					<label for="" class="control-label">SKU</label>
				</td>
				<td class="text-center">
					<label for="" class="control-label">Quantity</label>
				</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
                    <tr class="variant" formArrayName="variations" *ngFor="let item of productForm.get('variations')['controls'] let i = index;">
                        <td [formGroupName]="i" colspan="5" >
                                <table>
                                    <tr>   
				<td>
                                    <input type="text"   class="form-control"  formControlName="variant" readonly="">
				</td>
				<td>
					<input type="number"  min="0" step="0.01" class="form-control"  formControlName="price" appDecimalinput [ngClass]="{'parsley-error':productForm.controls.variations.controls[i].controls.price.invalid && IsSubmitted}" (keyup)="changeunitPrice($event.target.value,i);">
                                        <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.controls.variations.controls[i].controls.price.invalid && IsSubmitted">
                                        <li class="parsley-required">Please Enter Price.</li>
                                     </ul> 
				</td>
				<td>
					<input type="text"  class="form-control" formControlName="sku">
				</td>
				<td>
					<input type="number"  value="10" min="0" step="1" class="form-control" required formControlName="qty" appNumericinput [ngClass]="{'parsley-error':productForm.controls.variations.controls[i].controls.qty.invalid && IsSubmitted}">
                                        <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="productForm.controls.variations.controls[i].controls.qty.invalid && IsSubmitted">
                                        <li class="parsley-required">Please Enter Quantity.</li>
                                     </ul> 
				</td>
				<td>
					<button type="button" class="btn btn-icon btn-sm btn-danger" (click)="deleteVariant(i)"><i class="las la-trash"></i></button>
				</td>
                                    </tr>
                                </table>
          </td>
			</tr>
                </tbody> 
          </table>  
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header">
         <h5 class="mb-0 h6">Product Description</h5>
      </div>
      <div class="card-body">
         <div class="form-group row">
            <label class="col-md-3 col-from-label">Description</label>
            <div class="col-md-8" id="my_short_description">
               <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
            </div>
         </div>
      </div>
      <div class="categorywiseSpecification">
        <div class="form-group row" formArrayName="specifications" *ngFor="let item of productForm.get('specifications')['controls'] let i = index;">
               <div [formGroupName]="i" class="col-md-12 form-group">
                   <div class="row">  
                       <div class="col-md-3" style="margin-left:20px;">{{productForm.controls.specifications.controls[i].controls.specification.value | uppercase}}</div>
                       <div class="col-md-8" style="padding-left:0px; padding-right:0px;">
                  <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>

                  </div>
                   </div>
               </div>
            </div>  
          
          <div class="form-group row" formArrayName="sub_specifications" *ngFor="let item of productForm.get('sub_specifications')['controls'] let i = index;">
               <div [formGroupName]="i" class="col-md-12 form-group">
                   <div class="row">  
                       <div class="col-md-3" style="margin-left:20px;">{{productForm.controls.sub_specifications.controls[i].controls.specification.value | uppercase}}</div>
                       <div class="col-md-8" style="padding-left:0px; padding-right:0px;">
                       <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>

                  </div>
                   </div>
               </div>
            </div>  
          
          
          
      </div>
   </div>
   <div class="card">
      <div class="card-header">
         <h5 class="mb-0 h6">PDF Specification</h5>
      </div>
      <div class="card-body">
         <div class="form-group row">
            <label class="col-md-3 col-form-label" for="signinSrEmail">PDF Specification</label>
            <div class="col-md-8">
               <button type="button" class="btn btn_yellow" (click)="uploadPhoto('.pdf',false,'pdf','uploadPdf')">UPLOAD PDF</button>
               <div class="file-preview box sm" *ngIf="pdf_file">
                <div class="d-flex justify-content-between align-items-center mt-2 file-preview-item"  title="{{pdf_file.file_original_name}}.{{pdf_file.extension}}">
                    <div class="align-items-center align-self-stretch d-flex justify-content-center thumb"><a href="{{pdf_file.file_name}}" target="_blank"><img src="assets/pdf.jpg" class="img-fit"></a></div>
                     <div class="col body">
                        <h6 class="d-flex"><span class="text-truncate title">{{pdf_file.file_original_name}}</span><span class="ext">.{{pdf_file.extension}}</span></h6>
                        <p>{{pdf_file.file_size}} KB</p>
                     </div>
                     <div class="remove"><button class="btn btn-sm btn-link remove-attachment" type="button" (click)="removePdf()"><i class="la la-close"></i></button></div>
                  </div>   
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header">
         <h5 class="mb-0 h6">SEO Meta Tags</h5>
      </div>
      <div class="card-body">
         <div class="form-group row">
            <label class="col-md-3 col-from-label">Meta Title</label>
            <div class="col-md-8">
               <input type="text" class="form-control"  formControlName="meta_title" placeholder="Meta Title">
            </div>
         </div>
         <div class="form-group row">
            <label class="col-md-3 col-from-label">Description</label>
            <div class="col-md-8" id="my_meta_description">
               <angular-editor formControlName="meta_description" [config]="editorConfig"></angular-editor>
            </div>
         </div>
         <div class="form-group row">
            <label class="col-md-3 col-form-label" for="signinSrEmail">Meta Image</label>
            <div class="col-md-8">
               <button type="button" class="btn btn_yellow" (click)="uploadPhoto('image/*',true,'meta_img','uploadFile')">UPLOAD PHOTO</button>
               <div class="file-preview box sm">
                  <div class="d-flex justify-content-between align-items-center mt-2 file-preview-item"  title="{{item.file_original_name}}.{{item.extension}}"  *ngFor="let item of productForm.get('meta_images').value; let i = index;">
                     <div class="align-items-center align-self-stretch d-flex justify-content-center thumb"><img src="{{item.file_name}}" class="img-fit"></div>
                     <div class="col body">
                        <h6 class="d-flex"><span class="text-truncate title">{{item.file_original_name}}</span><span class="ext">.{{item.extension}}</span></h6>
                        <p>{{item.file_size}} KB</p>
                     </div>
                     <div class="remove"><button class="btn btn-sm btn-link remove-attachment" type="button" (click)="removeMeta(i)"><i class="la la-close"></i></button></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="mar-all text-right">
      <button type="submit" name="button" class="btn btn_yellow">Save Product</button>
   </div>
   </form>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<style>
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup{
  font-weight: bold;
  color: #dbe8ef;
}
.ng-option-label{
  color: red;
}

</style>
