<div class="aiz-user-panel" *ngIf="shopForm">
   <div class="bd_breadcrumbs">
      <ul class="breadcrumbs">
         <li><a href="#">Home</a></li>
         <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
         <li><span>Shop Settings</span></li>
      </ul>
   </div>
   <div class="aiz-titlebar mt-2 mb-4">
      <div class="row align-items-center">
         <div class="col-md-6">
            <h1 class="h3">Shop Settings
               <a routerLink="/" class="btn btn-link btn-sm" target="_blank">(Visit Shop)<i class="la la-external-link"></i>)</a>
            </h1>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header">
         <h5 class="mb-0 h6">Basic Info</h5>
      </div>
      <div class="card-body" *ngIf="shopDetails">
         <form class="" action="" method="POST" [formGroup]="shopForm" (ngSubmit)="basicSubmit()">
         <div class="row">
            <label class="col-md-2 col-form-label">Shop Name<span class="text-danger text-danger">*</span></label>
            <div class="col-md-10">
               <input type="text" class="form-control mb-3" placeholder="Shop Name" formControlName="name" value="" [ngClass]="{'parsley-error':shopForm.get('name').invalid && IsSubmitted}">
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="shopForm.get('name').invalid && IsSubmitted">
                  <li class="parsley-required">Please Enter Shop Name.</li>
               </ul>
            </div>
         </div>
         <div class="row mb-3">
            <label class="col-md-2 col-form-label">Shop Logo</label>
            <div class="col-md-10">
               <button type="button" class="btn btn_yellow" (click)="uploadPhoto('image/*',false,'shoplogo','uploadFile')">UPLOAD PHOTO</button>
               <div class="file-preview box sm">
                  <div class="d-flex justify-content-between align-items-center mt-2 file-preview-item" *ngif="shopDetails.shop_logo_dtls.file_original_name"  title="{{shopDetails.shop_logo_dtls.file_original_name}}.{{shopDetails.shop_logo_dtls.extension}}">
                     <div class="align-items-center align-self-stretch d-flex justify-content-center thumb"><img src="{{shopDetails.shop_logo_dtls.file_name}}" class="img-fit"></div>
                     <div class="col body">
                        <h6 class="d-flex"><span class="text-truncate title">{{shopDetails.shop_logo_dtls.file_original_name}}</span><span class="ext">.{{shopDetails.shop_logo_dtls.extension}}</span></h6>
                        <p>{{shopDetails.shop_logo_dtls.file_size}} KB</p>
                     </div>
<!--                     <div class="remove"><button class="btn btn-sm btn-link remove-attachment" type="button"><i class="la la-close"></i></button></div>-->
                  </div>
               </div>
            </div>
         </div>
         <br>
         <div class="row">
            <label class="col-md-2 col-form-label">Shop City <span class="text-danger text-danger">*</span></label>
            <div class="col-md-10">
              <ng-select [items]="cities" 
               placeholder="Select City"   
               class="mb-3"
               (change)="changeCityNew()"   
               formControlName="city"
               bindLabel="value" 
               bindValue="value" [multiple]="false" [clearable]="false">
               </ng-select>  
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="shopForm.get('city').invalid && IsSubmitted">
                  <li class="parsley-required">Please Choose city.</li>
               </ul>
            </div>
         </div>
         <div class="row">
            <label class="col-md-2 col-form-label">Shop Thana <span class="text-danger text-danger">*</span></label>
            <div class="col-md-10">
              <ng-select [items]="thanas" 
               [clearable]="false"   
                class="mb-3"   
               placeholder="Select Thana"   
               (change)="changeThanaNew()"   
               formControlName="thana"
               bindLabel="value" 
               bindValue="value" [multiple]="false">
               </ng-select>    
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="shopForm.get('thana').invalid && IsSubmitted">
                  <li class="parsley-required">Please Choose Thana.</li>
               </ul>
            </div>
         </div>
         <div class="row">
            <label class="col-md-2 col-form-label">Post Code <span class="text-danger text-danger">*</span></label>
            <div class="col-md-10">
              
               <ng-select [items]="postalcodes" 
                [clearable]="false"   
                class="mb-3"    
               placeholder="Select Postal Code"   
               (change)="changePostalNew()"   
               formControlName="postalcode"
               bindLabel="value" 
               bindValue="value" [multiple]="false">
               </ng-select>    
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="shopForm.get('postalcode').invalid && IsSubmitted">
                  <li class="parsley-required">Please Choose Postal Code.</li>
               </ul>
            </div>
         </div>
         <br>
         <div class="row">
            <label class="col-md-2 col-form-label">Area list <span class="text-danger text-danger">*</span></label>
            <div class="col-md-10">
               <ng-select [items]="areas" 
               [clearable]="false"    
               class="mb-3"    
               placeholder="Select Area"   
               formControlName="area"
               bindLabel="value" 
               bindValue="value" [multiple]="false">
               </ng-select>  
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="shopForm.get('area').invalid && IsSubmitted">
                  <li class="parsley-required">Please Choose Area.</li>
               </ul>
            </div>
         </div>
         <br>
         <div class="row">
            <label class="col-md-2 col-form-label">Shop Address <span class="text-danger text-danger">*</span></label>
            <div class="col-md-10">
               <input type="text" class="form-control mb-3" placeholder="Address" formControlName="address" value="" [ngClass]="{'parsley-error':shopForm.get('address').invalid && IsSubmitted}">
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="shopForm.get('address').invalid && IsSubmitted">
                  <li class="parsley-required">Please Enter Shop Address.</li>
               </ul>
            </div>
         </div>
         <div class="row">
            <label class="col-md-2 col-form-label">Meta Title<span class="text-danger text-danger">*</span></label>
            <div class="col-md-10">
               <input type="text" class="form-control mb-3" placeholder="Meta Title" formControlName="meta_title" value=""  [ngClass]="{'parsley-error':shopForm.get('meta_title').invalid && IsSubmitted}">
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="shopForm.get('meta_title').invalid && IsSubmitted">
                  <li class="parsley-required">Please Enter Meta Title.</li>
               </ul>
            </div>
         </div>
         <div class="row">
            <label class="col-md-2 col-form-label">Meta Description<span class="text-danger text-danger">*</span></label>
            <div class="col-md-10">
               <textarea formControlName="meta_description" rows="3" class="form-control mb-3" [ngClass]="{'parsley-error':shopForm.get('meta_description').invalid && IsSubmitted}"></textarea>
               <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="shopForm.get('meta_description').invalid && IsSubmitted">
                  <li class="parsley-required">Please Enter Meta Description.</li>
               </ul>
            </div>
         </div>
         <div class="form-group mb-0 text-right">
            <button type="submit" class="btn btn-sm btn_yellow">Save</button>
         </div>
         </form>
      </div>
   </div>
   <div class="card">
      <div class="card-header">
         <h5 class="mb-0 h6">Banner Settings</h5>
      </div>
      <div class="card-body">
         <form class="" action="" method="POST">
            <div class="row mb-3">
               <label class="col-md-2 col-form-label">Banners (1500x450)</label>
               <div class="col-md-10">
                  <button type="button" class="btn btn_yellow" (click)="uploadPhoto('image/*',true,'banner','uploadFile')">UPLOAD BANNER</button>
               <div class="file-preview box sm">
                  <div class="d-flex justify-content-between align-items-center mt-2 file-preview-item"  title="{{item.file_original_name}}.{{item.extension}}"  *ngFor="let item of banners; let i = index;">
                     <div class="align-items-center align-self-stretch d-flex justify-content-center thumb"><img src="{{item.file_name}}" class="img-fit"></div>
                     <div class="col body">
                        <h6 class="d-flex"><span class="text-truncate title">{{item.file_original_name}}</span><span class="ext">.{{item.extension}}</span></h6>
                        <p>{{item.file_size}} KB</p>
                     </div>
                     <div class="remove"><button class="btn btn-sm btn-link remove-attachment" type="button" (click)="removeBanner(i)"><i class="la la-close"></i></button></div>
                  </div>
               </div> 
                  <small class="text-muted">We had to limit height to maintian consistancy. In some device both side of the banner might be cropped for height limitation</small>
               </div>
            </div>
            <div class="form-group mb-0 text-right">
<!--               <button type="submit" class="btn btn-sm btn-primary">Save</button>-->
            </div>
         </form>
      </div>
   </div>
   <div class="card">
      <div class="card-header">
         <h5 class="mb-0 h6">Social Media Link</h5>
      </div>
      <div class="card-body">
         <form class="" action="" [formGroup]="socialForm" (ngSubmit)="socialSubmit()">
         <div class="form-box-content p-3">
            <div class="row mb-3">
               <label class="col-md-2 col-form-label">Facebook</label>
               <div class="col-md-10">
                  <input type="text" class="form-control" placeholder="Facebook" formControlName="facebook" value="" [ngClass]="{'parsley-error':socialForm.get('facebook').invalid && IssocialSubmit}">
                  <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="socialForm.get('facebook').invalid && IssocialSubmit">
                     <li class="parsley-required">Please Enter Valid Facebook URL.</li>
                  </ul>
                  <small class="text-muted">Insert link with https</small>
               </div>
            </div>
            <div class="row mb-3">
               <label class="col-md-2 col-form-label">Twitter</label>
               <div class="col-md-10">
                  <input type="text" class="form-control" placeholder="Twitter" formControlName="twitter" value="" [ngClass]="{'parsley-error':socialForm.get('twitter').invalid && IssocialSubmit}">
                  <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="socialForm.get('twitter').invalid && IssocialSubmit">
                     <li class="parsley-required">Please Enter Valid Twitter URL.</li>
                  </ul>
                  <small class="text-muted">Insert link with https</small>
               </div>
            </div>
            <div class="row mb-3">
               <label class="col-md-2 col-form-label">Google</label>
               <div class="col-md-10">
                  <input type="text" class="form-control" placeholder="Google" formControlName="google" value="" [ngClass]="{'parsley-error':socialForm.get('google').invalid && IssocialSubmit}">
                  <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="socialForm.get('google').invalid && IssocialSubmit">
                     <li class="parsley-required">Please Enter Valid Google URL.</li>
                  </ul>
                  <small class="text-muted">Insert link with https</small>
               </div>
            </div>
            <div class="row mb-3">
               <label class="col-md-2 col-form-label">Youtube</label>
               <div class="col-md-10">
                  <input type="text" class="form-control" placeholder="Youtube" formControlName="youtube" value="" [ngClass]="{'parsley-error':socialForm.get('youtube').invalid && IssocialSubmit}">
                  <ul class="parsley-errors-list filled" aria-hidden="false" *ngIf="socialForm.get('youtube').invalid && IssocialSubmit">
                     <li class="parsley-required">Please Enter Valid Youtube URL.</li>
                  </ul>
                  <small class="text-muted">Insert link with https</small>
               </div>
            </div>
         </div>
         <div class="form-group mb-0 text-right">
            <button type="submit" class="btn btn-sm btn_yellow">Save</button>
         </div>
         </form>
      </div>
   </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>