<div class="aiz-main-wrapper d-flex flex-column">
    <section class="mb-4 pt-3">
        <div class="container-fluid">
            <div class="bd_breadcrumbs">
                <ul class="breadcrumbs">
                    <li>
                        <a routerLink="/">Home <i aria-hidden="true" class="fa fa-angle-right" style="margin-right:2px;margin-left:10px;"></i></a>
                    </li>
                    <li>
                        <span>All Brands</span>
                    </li>
                </ul>
            </div>

            <div class="row mt-4">
                <div class="col-sm-3 mb-4" *ngFor="let item of brandMaster">
                    <a class="w-100" routerLink="/products/brand/{{item.slug}}">
                        <div class="bd_brandimg">
                            <img [src]="item.logo" [alt]="item.name">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>