<app-header></app-header>
<section class="py-5">
   <div class="container-fluid">
      <!-- <div class="bd_breadcrumbs">
         <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
            <li><a href="#">ABC</a></li>
            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
            <li><span>DEF</span></li>
         </ul>
      </div> -->
      <div class="d-flex flex-wrap bd_container align-items-start">
         <app-sidebar class="bd_lft"></app-sidebar>
         <div class="bd_rgt"><router-outlet></router-outlet></div>
      </div>
   </div>
</section>
<app-footer></app-footer>

