<div class="aiz-user-panel">
   <div class="aiz-titlebar mt-2 mb-2">
      <div class="row align-items-center">
         <div class="col-md-6"><h1 class="h3">My Order</h1></div>
      </div>
   </div>

   <div class="card">
      <div class="p-4">
         <div class="row align-items-center">
            <div class="col-md-6"><h5 class="mb-0 h6">Showing All Order</h5></div>
            <div class="col-md-6 text-right">
               <button type="button" class="btn_yellow bd_filter"><i class="fa fa-filter" aria-hidden="true"></i>Filter</button>               
            </div>
         </div>
      </div>
   </div>

   <ul class="bd_cartprolist">
      <li>
         <div class="bd_cartprolist_box bd_orderprolist">
            <div class="bd_cartprolist_boxlft">
               <div class="bd_cartpro_img"><a href="#"><img src="assets/cliqpack/assets/3.png"></a></div>
               <div class="bd_orderproinfo">
                  <p class="proname">Skechers</p>
                  <p class="subproname">Women Grey GO FIT Training Shoes</p>
                  <p class="procolor">Color : Black</p>
                  <p class="prosell">Seller: Abc</p>
               </div>
            </div>
            <div class="bd_cartprolist_boxrgt">
               <div class="bd_prodeliverinfo">
                  <p class="prodeliver">Delivered</p>
                  <p class="prodate">On Mon, 18th Jan '21</p>
               </div>
               <div class="bd_proreview">
                  <div class="bd_prostar d-flex">
                     <i class="fa fa-star" aria-hidden="true"></i>
                     <i class="fa fa-star" aria-hidden="true"></i>
                     <i class="fa fa-star" aria-hidden="true"></i>
                     <i class="fa fa-star-o" aria-hidden="true"></i>
                     <i class="fa fa-star-o" aria-hidden="true"></i>
                  </div>
                  <button type="button" class="btn_yellow bd_review">Write a Review</button> 
               </div>
            </div>
            <div class="bd_prodetailslink">
               <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </div>
         </div>
      </li>
      <li>
         <div class="bd_cartprolist_box bd_orderprolist">
            <div class="bd_cartprolist_boxlft">
               <div class="bd_cartpro_img"><a href="#"><img src="assets/cliqpack/assets/3.png"></a></div>
               <div class="bd_orderproinfo">
                  <p class="proname">Skechers</p>
                  <p class="subproname">Women Grey GO FIT Training Shoes</p>
                  <p class="procolor">Color : Black</p>
                  <p class="prosell">Seller: Abc</p>
               </div>
            </div>
            <div class="bd_cartprolist_boxrgt">
               <div class="bd_prodeliverinfo">
                  <p class="prodeliver">Delivered</p>
                  <p class="prodate">On Mon, 18th Jan '21</p>
               </div>
               <div class="bd_proreview">
                  <div class="bd_prostar d-flex">
                     <i class="fa fa-star" aria-hidden="true"></i>
                     <i class="fa fa-star" aria-hidden="true"></i>
                     <i class="fa fa-star" aria-hidden="true"></i>
                     <i class="fa fa-star-o" aria-hidden="true"></i>
                     <i class="fa fa-star-o" aria-hidden="true"></i>
                  </div>
                  <button type="button" class="btn_yellow bd_review">Write a Review</button> 
               </div>
            </div>
            <div class="bd_prodetailslink">
               <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </div>
         </div>
      </li>

   </ul>

 

   <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
   <style>
      td{ text-align: center}
      ::ng-deep table.dataTable td.dataTables_empty {
      display: none;
      }
      tfoot {
      display: table-row-group;
      }
   </style>
</div>

