<div class="aiz-main-wrapper d-flex flex-column">
    <section class="mb-4 pt-3">
        <div class="container-fluid">
            <div class="bd_breadcrumbs">
                <ul class="breadcrumbs">
                    <li>
                        <a routerLink="/">Home <i aria-hidden="true" class="fa fa-angle-right" style="margin-right:2px;margin-left:10px;"></i></a>
                    </li>

                    <ng-container *ngIf="blogCategory != null; else elseBreadcrumb">
                        <li>
                            <span>
                                <a routerLink="/blogs">Blogs <i aria-hidden="true" class="fa fa-angle-right" style="margin-right:2px;margin-left:10px;"></i></a>
                            </span>
                        </li>
                        <li>
                            <span>{{blogCategory.name}}</span>
                        </li>
                    </ng-container>

                    <ng-template #elseBreadcrumb>
                        <li>
                            <span>Blogs</span>
                        </li>
                    </ng-template>
                </ul>
            </div>
            <section class="h-blog p-0 bg-transparent shadow-none" *ngIf="blogsMaster.length > 0">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-4" *ngFor="let item of blogsMaster">
                        <div class="d-flex blog-box">
                            <div class="blog-img">
                                <img src="{{item.image}}" alt="">
                            </div>
                            <div class="blog-content">
                                <h5><a class="text-warning" routerLink="/blog-categories/{{item.cati.id}}/{{item.cati.slug}}">{{item.category}}</a></h5>
                                <h4>{{item.name}}</h4>
                                <div class="b-date">
                                    <span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{item.created_at}}</span>
                                    <!-- <span><i class="fa fa-comments-o" aria-hidden="true"></i> 32 Comments</span> -->
                                </div>
                                <p [innerHtml]="item.content"></p>
                                <a routerLink="/blog-details/{{item.id}}/{{item.slug}}" class="b-btn">View Details <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>